Repository MobileTeleSystems/onetl: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, mypy, towncrier

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: check-ast
  - id: check-case-conflict
  - id: check-docstring-first
  - id: check-executables-have-shebangs
  - id: check-merge-conflict
  - id: check-toml
  - id: check-vcs-permalinks
  - id: check-yaml
    args: [--unsafe]
  - id: requirements-txt-fixer
    files: ^(requirements/.*\.txt)$
  - id: end-of-file-fixer
    exclude: ^(.*/VERSION|tests/resources/.*/.*)$
  - id: fix-byte-order-marker
  - id: fix-encoding-pragma
    args: [--remove]
  - id: name-tests-test
    files: ^tests/(tests_integration|tests_unit)/.*\.py$
    args: [--django]
  - id: trailing-whitespace
- repo: https://github.com/Lucas-C/pre-commit-hooks
  rev: v1.5.4
  hooks:
  - id: remove-tabs
    exclude: ^docs/(make.bat|Makefile)
- repo: https://github.com/codespell-project/codespell
  rev: v2.2.5
  hooks:
  - id: codespell
    args: [-w]
- repo: https://github.com/macisamuele/language-formatters-pre-commit-hooks
  rev: v2.10.0
  hooks:
  - id: pretty-format-yaml
    args: [--autofix, --indent, '2', --preserve-quotes]
- repo: https://github.com/lovesegfault/beautysh
  rev: v6.2.1
  hooks:
  - id: beautysh
- repo: https://github.com/IamTheFij/docker-pre-commit
  rev: v3.0.1
  hooks:
  - id: docker-compose-check
- repo: https://github.com/pycqa/isort
  rev: 5.12.0
  hooks:
  - id: isort
- repo: https://github.com/pre-commit/pygrep-hooks
  rev: v1.10.0
  hooks:
  - id: python-no-log-warn
  - id: python-no-eval
  - id: rst-backticks
  - id: rst-directive-colons
  - id: rst-inline-touching-normal
  - id: text-unicode-replacement-char
- repo: https://github.com/asottile/pyupgrade
  rev: v3.10.1
  hooks:
  - id: pyupgrade
    args: [--py37-plus, --keep-runtime-typing]
- repo: https://github.com/psf/black
  rev: 23.7.0
  hooks:
  - id: black
    language_version: python3
- repo: https://github.com/asottile/blacken-docs
  rev: 1.16.0
  hooks:
  - id: blacken-docs
- repo: meta
  hooks:
  - id: check-hooks-apply
  - id: check-useless-excludes
- repo: https://github.com/PyCQA/autoflake
  rev: v2.2.1
  hooks:
  - id: autoflake
    args:
    - --in-place
    - --config=setup.cfg
- repo: local
  hooks:
  - id: flake8
    name: flake8
    entry: python3 -m flake8
    language: system
    types: [python]
    files: ^(onetl|tests)/.*$
    pass_filenames: true
  - id: mypy
    name: mypy
    entry: python3 -m mypy --config-file setup.cfg onetl
    language: system
    types: [python]
    pass_filenames: false
  - id: towncrier
    name: towncrier
    entry: towncrier build --draft
    language: system
    types: [rst]
    pass_filenames: false

ci:
  skip:
  - flake8  # checked with Github Actions
  - mypy  # checked with Github Actions
  - towncrier  # checked with Github Actions
  - docker-compose-check  # cannot run on pre-commit.ci

[DOP-13252] Improve MySQL documentation
  docs/changelog/next_release/234.improvement.rst
  docs/connection/db_connection/mysql/execute.rst
  docs/connection/db_connection/mysql/index.rst
  docs/connection/db_connection/mysql/prerequisites.rst
  docs/connection/db_connection/mysql/read.rst
  docs/connection/db_connection/mysql/sql.rst
  docs/connection/db_connection/mysql/types.rst
  docs/connection/db_connection/mysql/write.rst
  onetl/connection/db_connection/mysql/connection.py
Due: flake8, mypy, towncrier

[DOP-13558] Document using Greenplum connector with IP resolution issues
  docs/changelog/next_release/228.improvement.rst
  docs/connection/db_connection/greenplum/prerequisites.rst
Due: towncrier

[DOP-13252] Improve Oracle documentation
  docs/changelog/next_release/211.improvement.rst
  docs/changelog/next_release/228.improvement.rst
  docs/changelog/next_release/229.improvement.rst
  docs/changelog/next_release/233.improvement.rst
  docs/connection/db_connection/clickhouse/execute.rst
  docs/connection/db_connection/clickhouse/prerequisites.rst
  docs/connection/db_connection/clickhouse/sql.rst
  docs/connection/db_connection/clickhouse/types.rst
  docs/connection/db_connection/greenplum/execute.rst
  docs/connection/db_connection/greenplum/types.rst
  docs/connection/db_connection/oracle/execute.rst
  docs/connection/db_connection/oracle/index.rst
  docs/connection/db_connection/oracle/prerequisites.rst
  docs/connection/db_connection/oracle/read.rst
  docs/connection/db_connection/oracle/sql.rst
  docs/connection/db_connection/oracle/types.rst
  docs/connection/db_connection/oracle/write.rst
  docs/connection/db_connection/postgres/execute.rst
  docs/connection/db_connection/postgres/prerequisites.rst
  docs/connection/db_connection/postgres/read.rst
  docs/connection/db_connection/postgres/types.rst
  docs/connection/db_connection/postgres/write.rst
  onetl/connection/db_connection/oracle/connection.py
Due: flake8, mypy, towncrier

[DOP-13252] Improve MSSQL documentation
  docs/changelog/next_release/235.improvement.rst
  docs/connection/db_connection/clickhouse/sql.rst
  docs/connection/db_connection/clickhouse/types.rst
  docs/connection/db_connection/greenplum/types.rst
  docs/connection/db_connection/mssql/execute.rst
  docs/connection/db_connection/mssql/index.rst
  docs/connection/db_connection/mssql/prerequisites.rst
  docs/connection/db_connection/mssql/read.rst
  docs/connection/db_connection/mssql/sql.rst
  docs/connection/db_connection/mssql/types.rst
  docs/connection/db_connection/mssql/write.rst
  docs/connection/db_connection/mysql/prerequisites.rst
  docs/connection/db_connection/mysql/sql.rst
  docs/connection/db_connection/mysql/types.rst
  docs/connection/db_connection/oracle/prerequisites.rst
  docs/connection/db_connection/oracle/types.rst
  docs/connection/db_connection/postgres/sql.rst
  docs/connection/db_connection/postgres/types.rst
  onetl/connection/db_connection/mssql/connection.py
Due: flake8, mypy, towncrier

[DOP-13681] Allow empty pipeline in MongoDB.pipeline
  docs/changelog/next_release/237.feature.rst
  onetl/connection/db_connection/mongodb/connection.py
  tests/tests_integration/tests_db_connection_integration/test_mongodb_integration.py
Due: flake8, mypy, towncrier

[DOP-13681] Improve MongoDB documentation
  docs/changelog/next_release/236.improvement.rst
  docs/connection/db_connection/mongodb/index.rst
  docs/connection/db_connection/mongodb/pipeline.rst
  docs/connection/db_connection/mongodb/prerequisites.rst
  docs/connection/db_connection/mongodb/read.rst
  docs/connection/db_connection/mongodb/types.rst
  docs/connection/db_connection/mongodb/write.rst
  onetl/connection/db_connection/mongodb/connection.py
  onetl/connection/db_connection/mongodb/options.py
Due: flake8, mypy, towncrier

[DOP-13739] Return back handling DBReader(columns="string")
  docs/changelog/next_release/238.bugfix.rst
  onetl/base/base_db_connection.py
  onetl/connection/db_connection/dialect_mixins/support_columns_list.py
  onetl/db/db_reader/db_reader.py
  tests/tests_unit/test_db/test_db_reader_unit/test_common_reader_unit.py
Due: flake8, mypy, towncrier

[DOP-13255] Improve MongoDB documentation
  docs/connection/db_connection/mongodb/types.rst
Due: towncrier

[DOP-13737] Downgrade Greenplum package to 2.2.0
  .github/workflows/data/greenplum/matrix.yml
  .github/workflows/nightly.yml
  .github/workflows/test-greenplum.yml
  .github/workflows/tests.yml
  docs/changelog/next_release/239.bugfix.rst
  docs/connection/db_connection/greenplum/prerequisites.rst
  onetl/connection/db_connection/greenplum/connection.py
  tests/fixtures/spark.py
  tests/tests_unit/tests_db_connection_unit/test_greenplum_unit.py
Due: flake8, mypy, towncrier

[DOP-13779] Improve Teradata documentation
  .github/workflows/tests.yml
  docs/changelog/next_release/240.improvement.rst
  docs/connection/db_connection/clickhouse/execute.rst
  docs/connection/db_connection/clickhouse/read.rst
  docs/connection/db_connection/clickhouse/write.rst
  docs/connection/db_connection/greenplum/execute.rst
  docs/connection/db_connection/greenplum/read.rst
  docs/connection/db_connection/greenplum/write.rst
  docs/connection/db_connection/mongodb/pipeline.rst
  docs/connection/db_connection/mongodb/read.rst
  docs/connection/db_connection/mssql/execute.rst
  docs/connection/db_connection/mssql/read.rst
  docs/connection/db_connection/mssql/sql.rst
  docs/connection/db_connection/mssql/write.rst
  docs/connection/db_connection/mysql/execute.rst
  docs/connection/db_connection/mysql/read.rst
  docs/connection/db_connection/mysql/sql.rst
  docs/connection/db_connection/mysql/write.rst
  docs/connection/db_connection/oracle/execute.rst
  docs/connection/db_connection/oracle/read.rst
  docs/connection/db_connection/oracle/sql.rst
  docs/connection/db_connection/oracle/write.rst
  docs/connection/db_connection/postgres/execute.rst
  docs/connection/db_connection/postgres/read.rst
  docs/connection/db_connection/postgres/sql.rst
  docs/connection/db_connection/postgres/write.rst
  docs/connection/db_connection/teradata/execute.rst
  docs/connection/db_connection/teradata/index.rst
  docs/connection/db_connection/teradata/prerequisites.rst
  docs/connection/db_connection/teradata/read.rst
  docs/connection/db_connection/teradata/sql.rst
  docs/connection/db_connection/teradata/write.rst
  onetl/connection/db_connection/hive/options.py
  onetl/connection/db_connection/jdbc_connection/connection.py
  onetl/connection/db_connection/jdbc_connection/options.py
  onetl/connection/db_connection/jdbc_mixin/connection.py
  onetl/connection/db_connection/teradata/connection.py
Due: flake8, mypy, towncrier

[DOP-13779] Update blacken-docs
  .pre-commit-config.yaml
Due: none

[DOP-13779] Add bandit to pre-commit config
  .pre-commit-config.yaml
  onetl/connection/file_connection/ftp.py
  onetl/connection/file_connection/ftps.py
  tests/fixtures/create_keytab.py
  tests/tests_integration/tests_hwm_store_integration.py
Due: flake8, mypy

[DOP-13779] Document HorizonHWMStore
  docs/hwm_store/index.rst
  docs/hwm_store/yaml_hwm_store.rst
Due: towncrier

[DOP-13779] Document HorizonHWMStore
  docs/hwm_store/index.rst
Due: towncrier

[DOP-13779] Add robots.txt to documentation
  docs/conf.py
  docs/robots.txt
Due: mypy

[DOP-13779] Add docs config
  docs/conf.py
Due: mypy

[DOP-13779] Update robots.txt
  docs/robots.txt
Due: none

[DOP-13779] Prepare for release
  docs/changelog/0.10.2.rst
  docs/changelog/index.rst
  docs/changelog/next_release/211.improvement.rst
  docs/changelog/next_release/228.improvement.rst
  docs/changelog/next_release/229.feature.rst
  docs/changelog/next_release/229.improvement.rst
  docs/changelog/next_release/230.feature.rst
  docs/changelog/next_release/233.improvement.rst
  docs/changelog/next_release/234.improvement.rst
  docs/changelog/next_release/235.improvement.rst
  docs/changelog/next_release/236.improvement.rst
  docs/changelog/next_release/237.feature.rst
  docs/changelog/next_release/238.bugfix.rst
  docs/changelog/next_release/239.bugfix.rst
  docs/changelog/next_release/240.improvement.rst
Due: towncrier

[DOP-13779] Prepare for release
  docs/changelog/0.10.2.rst
Due: towncrier

[DOP-13779] Bump version
  onetl/VERSION
Due: none

Fix wemake-python-styleguide errors
  .pre-commit-config.yaml
  setup.cfg
Due: none

Fix wemake-python-styleguide errors
  setup.cfg
Due: none

Update README
  README.rst
Due: towncrier

[DOP-14546] - update Version to store raw str version
  docs/conf.py
  onetl/_util/hadoop.py
  onetl/_util/scala.py
  onetl/_util/spark.py
  onetl/_util/version.py
  onetl/connection/db_connection/greenplum/connection.py
  onetl/connection/db_connection/jdbc_mixin/connection.py
  onetl/connection/db_connection/kafka/connection.py
  onetl/connection/db_connection/mongodb/connection.py
  onetl/connection/db_connection/mssql/connection.py
  onetl/connection/db_connection/oracle/connection.py
  onetl/connection/file_df_connection/spark_s3/connection.py
  onetl/file/format/avro.py
  onetl/file/format/excel.py
  onetl/file/format/xml.py
  tests/fixtures/spark.py
  tests/tests_integration/test_file_format_integration/test_avro_integration.py
  tests/tests_integration/test_file_format_integration/test_csv_integration.py
  tests/tests_integration/test_file_format_integration/test_excel_integration.py
  tests/tests_integration/test_file_format_integration/test_xml_integration.py
Due: flake8, mypy

[DOP-14546] - compare only Version instances
  onetl/_util/version.py
  onetl/connection/db_connection/greenplum/connection.py
  onetl/connection/db_connection/jdbc_mixin/connection.py
  onetl/connection/db_connection/kafka/connection.py
  onetl/connection/db_connection/mongodb/connection.py
  onetl/file/format/avro.py
  onetl/file/format/excel.py
  onetl/file/format/xml.py
  tests/fixtures/spark.py
  tests/tests_integration/test_file_format_integration/test_avro_integration.py
  tests/tests_integration/test_file_format_integration/test_csv_integration.py
  tests/tests_unit/test_file/test_format_unit/test_avro_unit.py
  tests/tests_unit/test_file/test_format_unit/test_excel_unit.py
  tests/tests_unit/tests_db_connection_unit/test_greenplum_unit.py
  tests/tests_unit/tests_db_connection_unit/test_kafka_unit.py
  tests/tests_unit/tests_db_connection_unit/test_mongodb_unit.py
  tests/tests_unit/tests_file_df_connection_unit/test_spark_s3_unit.py
Due: flake8, mypy

[DOP-14546] - add doctest to Version class
  docs/conf.py
  onetl/_util/version.py
  onetl/connection/db_connection/jdbc_mixin/connection.py
  onetl/connection/db_connection/kafka/connection.py
  onetl/file/format/avro.py
  onetl/file/format/excel.py
  onetl/file/format/xml.py
  tests/tests_integration/test_file_format_integration/test_csv_integration.py
  tests/tests_integration/test_file_format_integration/test_excel_integration.py
  tests/tests_integration/test_file_format_integration/test_xml_integration.py
  tests/tests_unit/test_file/test_format_unit/test_avro_unit.py
  tests/tests_unit/test_file/test_format_unit/test_excel_unit.py
  tests/tests_unit/tests_db_connection_unit/test_greenplum_unit.py
  tests/tests_unit/tests_db_connection_unit/test_kafka_unit.py
  tests/tests_unit/tests_db_connection_unit/test_mongodb_unit.py
  tests/tests_unit/tests_file_df_connection_unit/test_spark_s3_unit.py
Due: flake8, mypy

[DOP-14546] - split .digits logic into .min_digits and .format methods
  onetl/_util/version.py
  onetl/connection/db_connection/greenplum/connection.py
  onetl/connection/db_connection/kafka/connection.py
  onetl/connection/db_connection/mongodb/connection.py
  onetl/connection/file_df_connection/spark_s3/connection.py
  onetl/file/format/avro.py
  onetl/file/format/excel.py
  onetl/file/format/xml.py
Due: flake8, mypy

[DOP-14546] - replace .min_digits to .format in _check_java_class_imported
  onetl/_util/version.py
  onetl/connection/db_connection/greenplum/connection.py
  onetl/connection/db_connection/kafka/connection.py
  onetl/connection/db_connection/mongodb/connection.py
  onetl/connection/file_df_connection/spark_s3/connection.py
  onetl/file/format/avro.py
  onetl/file/format/excel.py
  onetl/file/format/xml.py
  tests/tests_integration/test_file_format_integration/test_xml_integration.py
Due: flake8, mypy

Update onetl/connection/db_connection/kafka/connection.py
  onetl/connection/db_connection/kafka/connection.py
Due: flake8, mypy

[DOP-14546] - add formatting
  onetl/connection/db_connection/greenplum/connection.py
  onetl/connection/db_connection/kafka/connection.py
  onetl/connection/db_connection/mongodb/connection.py
  onetl/connection/file_df_connection/spark_s3/connection.py
  onetl/file/format/avro.py
  onetl/file/format/excel.py
  onetl/file/format/xml.py
Due: flake8, mypy
