Repository MobileTeleSystems/onetl: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, mypy, towncrier

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: check-ast
  - id: check-case-conflict
  - id: check-docstring-first
  - id: check-executables-have-shebangs
  - id: check-merge-conflict
  - id: check-toml
  - id: check-vcs-permalinks
  - id: check-yaml
    args: [--unsafe]
  - id: requirements-txt-fixer
    files: ^(requirements/.*\.txt)$
  - id: end-of-file-fixer
    exclude: ^(.*/VERSION|tests/resources/.*/.*)$
  - id: fix-byte-order-marker
  - id: fix-encoding-pragma
    args: [--remove]
  - id: name-tests-test
    files: ^tests/(tests_integration|tests_unit)/.*\.py$
    args: [--django]
  - id: trailing-whitespace
- repo: https://github.com/Lucas-C/pre-commit-hooks
  rev: v1.5.4
  hooks:
  - id: remove-tabs
    exclude: ^docs/(make.bat|Makefile)
- repo: https://github.com/codespell-project/codespell
  rev: v2.2.5
  hooks:
  - id: codespell
    args: [-w]
- repo: https://github.com/macisamuele/language-formatters-pre-commit-hooks
  rev: v2.10.0
  hooks:
  - id: pretty-format-yaml
    args: [--autofix, --indent, '2', --preserve-quotes]
- repo: https://github.com/lovesegfault/beautysh
  rev: v6.2.1
  hooks:
  - id: beautysh
- repo: https://github.com/IamTheFij/docker-pre-commit
  rev: v3.0.1
  hooks:
  - id: docker-compose-check
- repo: https://github.com/pycqa/isort
  rev: 5.12.0
  hooks:
  - id: isort
- repo: https://github.com/pre-commit/pygrep-hooks
  rev: v1.10.0
  hooks:
  - id: python-no-log-warn
  - id: python-no-eval
  - id: rst-backticks
  - id: rst-directive-colons
  - id: rst-inline-touching-normal
  - id: text-unicode-replacement-char
- repo: https://github.com/asottile/pyupgrade
  rev: v3.10.1
  hooks:
  - id: pyupgrade
    args: [--py37-plus, --keep-runtime-typing]
- repo: https://github.com/psf/black
  rev: 23.7.0
  hooks:
  - id: black
    language_version: python3
- repo: https://github.com/asottile/blacken-docs
  rev: 1.16.0
  hooks:
  - id: blacken-docs
- repo: meta
  hooks:
  - id: check-hooks-apply
  - id: check-useless-excludes
- repo: https://github.com/PyCQA/autoflake
  rev: v2.2.1
  hooks:
  - id: autoflake
    args:
    - --in-place
    - --config=setup.cfg
- repo: local
  hooks:
  - id: flake8
    name: flake8
    entry: python3 -m flake8
    language: system
    types: [python]
    files: ^(onetl|tests)/.*$
    pass_filenames: true
  - id: mypy
    name: mypy
    entry: python3 -m mypy --config-file setup.cfg onetl
    language: system
    types: [python]
    pass_filenames: false
  - id: towncrier
    name: towncrier
    entry: towncrier build --draft
    language: system
    types: [rst]
    pass_filenames: false

ci:
  skip:
  - flake8  # checked with Github Actions
  - mypy  # checked with Github Actions
  - towncrier  # checked with Github Actions
  - docker-compose-check  # cannot run on pre-commit.ci

[DOP-22427] Do not keep open JDBC connection on Spark driver
  docs/changelog/next_release/334.feature.rst
  onetl/connection/db_connection/greenplum/connection.py
  onetl/connection/db_connection/jdbc_connection/connection.py
  onetl/connection/db_connection/jdbc_mixin/connection.py
Due: flake8, mypy, towncrier

[DOP-23743] All hardcoded passwords in this repo are used ONLY for tests
  .env.docker
  .env.local
  .github/workflows/test-clickhouse.yml
Due: none

[DOP-22427] Do not keep open JDBC connection on Spark driver
  onetl/connection/db_connection/jdbc_mixin/connection.py
Due: flake8, mypy

[DOP-23742] Retry on Oracle failures
  tests/tests_integration/tests_core_integration/tests_db_reader_integration/test_oracle_reader_integration.py
  tests/tests_integration/tests_core_integration/tests_db_writer_integration/test_oracle_writer_integration.py
  tests/tests_integration/tests_db_connection_integration/test_oracle_integration.py
  tests/tests_integration/tests_strategy_integration/tests_incremental_strategy_integration/test_strategy_increment_oracle.py
Due: flake8, mypy

[DOP-23742] Fix using conn.setReadOnly(...) for MySQL, MSSQL
  docs/changelog/next_release/337.bugfix.rst
  onetl/connection/db_connection/jdbc_mixin/connection.py
  onetl/connection/db_connection/mssql/connection.py
  onetl/connection/db_connection/mysql/connection.py
  tests/tests_integration/tests_db_connection_integration/test_clickhouse_integration.py
  tests/tests_integration/tests_db_connection_integration/test_greenplum_integration.py
  tests/tests_integration/tests_db_connection_integration/test_mssql_integration.py
  tests/tests_integration/tests_db_connection_integration/test_mysql_integration.py
  tests/tests_integration/tests_db_connection_integration/test_oracle_integration.py
  tests/tests_integration/tests_db_connection_integration/test_postgres_integration.py
Due: flake8, mypy, towncrier

[DOP-23742] Retry on MongoDB failures
  tests/tests_integration/tests_core_integration/tests_db_reader_integration/test_mongodb_reader_integration.py
  tests/tests_integration/tests_core_integration/tests_db_writer_integration/test_mongodb_writer_integration.py
  tests/tests_integration/tests_db_connection_integration/test_mongodb_integration.py
  tests/tests_integration/tests_strategy_integration/tests_incremental_strategy_integration/test_strategy_increment_mongodb.py
Due: flake8, mypy

[DOP-23742] Fix writing to Postgres and Greenplum behind PGBouncer
  .env.docker
  .env.local
  .github/workflows/test-greenplum.yml
  .github/workflows/test-postgres.yml
  CONTRIBUTING.rst
  docker-compose.yml
  docs/changelog/next_release/336.bugfix.rst
  onetl/connection/db_connection/greenplum/connection.py
  onetl/connection/db_connection/postgres/connection.py
  tests/tests_integration/tests_db_connection_integration/test_greenplum_integration.py
  tests/tests_integration/tests_db_connection_integration/test_postgres_integration.py
Due: flake8, mypy, towncrier

[DOP-23797] Fix FileDownloader with several filters
  .pre-commit-config.yaml
  docs/changelog/next_release/338.bugfix.rst
  onetl/log.py
  tests/tests_integration/tests_core_integration/test_file_downloader_integration.py
  tests/tests_integration/tests_core_integration/test_file_mover_integration.py
Due: flake8, mypy, towncrier

[DOP-22146] Fix examples for .list_dir() and .walk()
  onetl/base/base_file_connection.py
Due: flake8, mypy

[DOP-22427] Remove with conn: from DB documentation
  docs/connection/db_connection/clickhouse/execute.rst
  docs/connection/db_connection/greenplum/execute.rst
  docs/connection/db_connection/mssql/execute.rst
  docs/connection/db_connection/mysql/execute.rst
  docs/connection/db_connection/oracle/execute.rst
  docs/connection/db_connection/postgres/execute.rst
  docs/connection/db_connection/teradata/execute.rst
Due: towncrier

[DOP-22428] Set client info for most JDBC connections
  .env.docker
  .env.local
  docs/changelog/next_release/339.feature.rst
  onetl/_util/spark.py
  onetl/connection/db_connection/clickhouse/connection.py
  onetl/connection/db_connection/greenplum/connection.py
  onetl/connection/db_connection/kafka/connection.py
  onetl/connection/db_connection/mssql/connection.py
  onetl/connection/db_connection/mysql/connection.py
  onetl/connection/db_connection/oracle/connection.py
  onetl/connection/db_connection/postgres/connection.py
  onetl/connection/file_df_connection/spark_s3/connection.py
  tests/fixtures/processing/oracle.py
  tests/fixtures/spark_mock.py
  tests/tests_integration/test_file_df_connection_integration/test_spark_s3_integration.py
  tests/tests_integration/tests_db_connection_integration/test_clickhouse_integration.py
  tests/tests_integration/tests_db_connection_integration/test_greenplum_integration.py
  tests/tests_integration/tests_db_connection_integration/test_mssql_integration.py
  tests/tests_integration/tests_db_connection_integration/test_mysql_integration.py
  tests/tests_integration/tests_db_connection_integration/test_oracle_integration.py
  tests/tests_integration/tests_db_connection_integration/test_postgres_integration.py
  tests/tests_unit/tests_db_connection_unit/test_clickhouse_unit.py
  tests/tests_unit/tests_db_connection_unit/test_greenplum_unit.py
  tests/tests_unit/tests_db_connection_unit/test_mssql_unit.py
  tests/tests_unit/tests_db_connection_unit/test_mysql_unit.py
  tests/tests_unit/tests_db_connection_unit/test_oracle_unit.py
  tests/tests_unit/tests_db_connection_unit/test_postgres_unit.py
  tests/tests_unit/tests_strategy_unit/test_strategy_unit.py
Due: flake8, mypy, towncrier

[DOP-23979] Change default FileDFWriter.Options(if_exists) to APPEND
  docs/changelog/next_release/343.breaking.rst
  onetl/file/file_df_writer/options.py
  onetl/file/file_downloader/options.py
  onetl/file/file_mover/options.py
  onetl/file/file_uploader/options.py
  tests/tests_integration/tests_core_integration/test_file_df_writer_integration/test_common_file_df_writer_integration.py
  tests/tests_unit/test_file/test_file_df_writer_unit.py
Due: flake8, mypy, towncrier

[DOP-23968] Add .get_exlude_packages() to SparkS3 and Kafka
  README.rst
  docs/changelog/next_release/341.feature.rst
  docs/connection/db_connection/kafka/connection.rst
  docs/connection/file_df_connection/spark_s3/connection.rst
  onetl/connection/db_connection/kafka/connection.py
  onetl/connection/file_df_connection/spark_s3/connection.py
  tests/fixtures/spark.py
  tests/tests_unit/test_db/test_db_reader_unit/test_greenplum_reader_unit.py
Due: flake8, mypy, towncrier

[DOP-23969] Fix Greenplum parallel connections warning for master=local[N]
  docs/changelog/next_release/342.bugfix.rst
  onetl/_util/spark.py
  tests/fixtures/spark_mock.py
  tests/tests_unit/test_db/test_db_reader_unit/test_greenplum_reader_unit.py
  tests/tests_unit/test_db/test_db_writer_unit/test_greenplum_writer_unit.py
Due: flake8, mypy, towncrier

[DOP-23968] Fix get_exclude_packages missing documentation
  docs/connection/db_connection/kafka/connection.rst
  docs/connection/file_df_connection/spark_s3/connection.rst
Due: towncrier

[DOP-23983] Update JDBC drivers to latest versions
  docs/changelog/next_release/345.dependency.rst
  docs/connection/db_connection/mongodb/types.rst
  onetl/connection/db_connection/clickhouse/connection.py
  onetl/connection/db_connection/mongodb/connection.py
  onetl/connection/db_connection/mysql/connection.py
  onetl/connection/db_connection/oracle/connection.py
  onetl/connection/db_connection/postgres/connection.py
  tests/tests_unit/tests_db_connection_unit/test_clickhouse_unit.py
  tests/tests_unit/tests_db_connection_unit/test_mongodb_unit.py
  tests/tests_unit/tests_db_connection_unit/test_mysql_unit.py
  tests/tests_unit/tests_db_connection_unit/test_oracle_unit.py
  tests/tests_unit/tests_db_connection_unit/test_postgres_unit.py
Due: flake8, mypy, towncrier

[DOP-23982] Improve code examples
  onetl/connection/db_connection/clickhouse/connection.py
  onetl/connection/db_connection/greenplum/connection.py
  onetl/connection/db_connection/hive/connection.py
  onetl/connection/db_connection/kafka/connection.py
  onetl/connection/db_connection/mssql/connection.py
  onetl/connection/db_connection/mysql/connection.py
  onetl/connection/db_connection/oracle/connection.py
  onetl/connection/db_connection/postgres/connection.py
  onetl/connection/db_connection/teradata/connection.py
  onetl/connection/file_connection/ftp.py
  onetl/connection/file_connection/ftps.py
  onetl/connection/file_connection/hdfs/connection.py
  onetl/connection/file_connection/s3.py
  onetl/connection/file_connection/samba.py
  onetl/connection/file_connection/sftp.py
  onetl/connection/file_connection/webdav.py
  onetl/connection/file_df_connection/spark_hdfs/connection.py
  onetl/connection/file_df_connection/spark_s3/connection.py
  onetl/db/db_reader/db_reader.py
  onetl/db/db_writer/db_writer.py
  onetl/file/file_df_reader/file_df_reader.py
  onetl/file/file_df_writer/file_df_writer.py
  onetl/file/file_downloader/file_downloader.py
  onetl/file/file_mover/file_mover.py
  onetl/file/file_uploader/file_uploader.py
  onetl/file/format/avro.py
  onetl/hwm/store/yaml_hwm_store.py
  onetl/strategy/incremental_strategy.py
  onetl/strategy/snapshot_strategy.py
Due: flake8, mypy

[DOP-23982] Use tabs for complex code examples
  docs/changelog/next_release/344.doc.rst
  onetl/connection/db_connection/hive/connection.py
  onetl/connection/db_connection/kafka/connection.py
  onetl/connection/db_connection/mssql/connection.py
  onetl/connection/file_connection/hdfs/connection.py
  onetl/connection/file_df_connection/spark_hdfs/connection.py
  onetl/connection/file_df_connection/spark_s3/connection.py
  onetl/db/db_reader/db_reader.py
  onetl/db/db_writer/db_writer.py
  onetl/file/file_df_reader/file_df_reader.py
  onetl/file/file_df_writer/file_df_writer.py
  onetl/file/file_downloader/file_downloader.py
  onetl/file/file_mover/file_mover.py
  onetl/file/file_uploader/file_uploader.py
  onetl/hwm/store/yaml_hwm_store.py
  onetl/strategy/incremental_strategy.py
  onetl/strategy/snapshot_strategy.py
Due: flake8, mypy, towncrier

[DOP-22425] Do not run tests as admin DB users
  .env.docker
  .env.local
  .github/workflows/test-clickhouse.yml
  .github/workflows/test-ftp.yml
  .github/workflows/test-ftps.yml
  .github/workflows/test-greenplum.yml
  .github/workflows/test-hdfs.yml
  .github/workflows/test-hive.yml
  .github/workflows/test-kafka.yml
  .github/workflows/test-local-fs.yml
  .github/workflows/test-mongodb.yml
  .github/workflows/test-mssql.yml
  .github/workflows/test-mysql.yml
  .github/workflows/test-oracle.yml
  .github/workflows/test-postgres.yml
  .github/workflows/test-s3.yml
  .github/workflows/test-samba.yml
  .github/workflows/test-sftp.yml
  .github/workflows/test-teradata.yml
  .github/workflows/test-webdav.yml
  CONTRIBUTING.rst
  docker-compose.yml
  docker/ftp/on_post_init.sh
  docker/greenplum/custom_entrypoint.sh
  docker/greenplum/initdb.d/create_user.sh
  docker/greenplum/initdb.d/fix_pg_hba.sh
  docker/mongodb/create_user.sh
  docker/oracle/processes.sql
  docker/oracle/user_permissions.sql
  docs/changelog/next_release/347.bugfix.rst
  onetl/connection/db_connection/mongodb/connection.py
  tests/fixtures/processing/oracle.py
  tests/tests_unit/tests_db_connection_unit/test_mongodb_unit.py
Due: flake8, mypy, towncrier

[DOP-22425] Run DB.check() on both driver and executor
  docs/changelog/next_release/346.feature.rst
  onetl/connection/db_connection/greenplum/connection.py
  onetl/connection/db_connection/hive/connection.py
  onetl/connection/db_connection/jdbc_connection/connection.py
  onetl/connection/db_connection/jdbc_mixin/connection.py
  onetl/connection/db_connection/kafka/connection.py
  onetl/connection/db_connection/mongodb/connection.py
  onetl/connection/file_df_connection/spark_file_df_connection.py
  onetl/db/db_reader/db_reader.py
  onetl/db/db_writer/db_writer.py
  onetl/file/file_df_reader/file_df_reader.py
  onetl/file/file_df_writer/file_df_writer.py
  tests/tests_integration/test_metrics/test_spark_metrics_recorder_postgres.py
  tests/tests_integration/tests_db_connection_integration/test_oracle_integration.py
  tests/tests_integration/tests_db_connection_integration/test_teradata_integration.py
Due: flake8, mypy, towncrier

[DOP-22428] Send client_info for MongoDB
  docs/changelog/next_release/339.feature.rst
  onetl/connection/db_connection/mongodb/connection.py
Due: flake8, mypy, towncrier

[DOP-23969] Fix Greenplum parallel connections warning for master=local[N]
  onetl/_util/spark.py
  tests/tests_unit/test_db/test_db_reader_unit/test_greenplum_reader_unit.py
  tests/tests_unit/test_db/test_db_writer_unit/test_greenplum_writer_unit.py
Due: flake8, mypy

[DOP-22425] Remove redundant Greenplum readiness check from CI
  .github/workflows/test-greenplum.yml
Due: none

[DOP-23983] Use latest image versions
  .github/workflows/data/clickhouse/matrix.yml
  .github/workflows/data/mongodb/matrix.yml
  .github/workflows/data/mysql/matrix.yml
  .github/workflows/data/postgres/matrix.yml
  .github/workflows/data/s3/matrix.yml
  .github/workflows/data/sftp/matrix.yml
  docs/connection/db_connection/clickhouse/prerequisites.rst
  docs/connection/db_connection/mongodb/prerequisites.rst
  docs/connection/db_connection/mysql/prerequisites.rst
  docs/connection/db_connection/oracle/prerequisites.rst
  docs/connection/db_connection/postgres/prerequisites.rst
Due: towncrier

[DOP-22424] Prepare for release
  docs/changelog/0.13.0.rst
  docs/changelog/index.rst
  docs/changelog/next_release/298.breaking.rst
  docs/changelog/next_release/325.feature.rst
  docs/changelog/next_release/326.feature.rst
  docs/changelog/next_release/327.breaking.rst
  docs/changelog/next_release/329.bugfix.rst
  docs/changelog/next_release/330.feature.rst
  docs/changelog/next_release/331.dependency.rst
  docs/changelog/next_release/334.feature.rst
  docs/changelog/next_release/336.bugfix.rst
  docs/changelog/next_release/337.bugfix.rst
  docs/changelog/next_release/338.bugfix.rst
  docs/changelog/next_release/339.feature.rst
  docs/changelog/next_release/341.feature.rst
  docs/changelog/next_release/342.bugfix.rst
  docs/changelog/next_release/343.breaking.rst
  docs/changelog/next_release/344.doc.rst
  docs/changelog/next_release/345.dependency.rst
  docs/changelog/next_release/346.feature.rst
  docs/changelog/next_release/347.bugfix.rst
  docs/file/file_limits/total_files_size.rst
  onetl/connection/db_connection/hive/connection.py
  onetl/file/file_df_reader/file_df_reader.py
  onetl/file/filter/file_size.py
  onetl/file/limit/total_files_size.py
  onetl/hooks/slot.py
  onetl/hooks/support_hooks.py
Due: flake8, mypy, towncrier

[DOP-22424] Prepare for release
  docs/changelog/0.13.0.rst
  docs/changelog/0.7.0.rst
  docs/changelog/0.7.1.rst
  docs/changelog/0.7.2.rst
Due: towncrier

[DOP-22424] Bump version
  .github/workflows/release.yml
  onetl/VERSION
Due: none
