Repository MobileTeleSystems/onetl: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, mypy, towncrier

flake8:
  name: flake8
  entry: python3 -m flake8
  language: system
  pass_filenames: true

mypy:
  name: mypy
  entry: python3 -m mypy --config-file setup.cfg onetl
  language: system
  pass_filenames: false

towncrier:
  name: towncrier
  entry: towncrier build --draft
  language: system
  pass_filenames: false

Temporary avoid FileConnection tests on Python 3.12.2
  .github/workflows/data/core/matrix.yml
  .github/workflows/data/ftp/matrix.yml
  .github/workflows/data/ftps/matrix.yml
  .github/workflows/data/hdfs/matrix.yml
  .github/workflows/data/s3/matrix.yml
  .github/workflows/data/samba/matrix.yml
  .github/workflows/data/sftp/matrix.yml
  .github/workflows/data/webdav/matrix.yml
Due: none

Fix mypy warnings
  mypy.ini
Due: none

Fix YAMLHWMStore docs
  docs/hwm_store/yaml_hwm_store.rst
Due: towncrier

Fix AutoDetectHWM docs
  docs/changelog/0.10.1.rst
  onetl/db/db_reader/db_reader.py
  onetl/strategy/incremental_strategy.py
  onetl/strategy/snapshot_strategy.py
Due: flake8, mypy, towncrier

Fix Hive.WriteOptions warning while inserting to existing table
  mypy.ini
  onetl/connection/db_connection/hive/connection.py
  setup.cfg
  tests/tests_integration/tests_core_integration/tests_db_writer_integration/test_hive_writer_integration.py
Due: flake8, mypy

Fix flaky Kafka tests
  tests/tests_integration/tests_strategy_integration/tests_incremental_strategy_integration/test_strategy_increment_kafka.py
Due: flake8, mypy

Update black in blacken-docs
  .pre-commit-config.yaml
Due: none

Add platform section to docker-compose images which does not support M1 Silicon
  docker-compose.yml
Due: none

Fix Greenplum package URL
  docs/conf.py
  onetl/connection/db_connection/greenplum/connection.py
  setup.cfg
  tests/fixtures/spark.py
Due: flake8, mypy

Avoid unnecessary columns sorting while inserting data to Hive table
  onetl/connection/db_connection/hive/connection.py
Due: flake8, mypy

[DOP-13156] Update release instuction
  CONTRIBUTING.rst
  docs/changelog/NEXT_RELEASE.rst
  docs/changelog/index.rst
Due: towncrier

[DOP-13156] Update release instuction (#214)
  CONTRIBUTING.rst
  docs/changelog/NEXT_RELEASE.rst
  docs/changelog/index.rst
Due: towncrier

Fix docs warnings
  docs/conf.py
Due: mypy

[DOP-13156] Fix release documentation for MacOS
  CONTRIBUTING.rst
Due: towncrier

[DOP-11877] Group dependabot PRs
  .github/dependabot.yml
Due: none

[DOP-13209] Add labels sync workflow
  .github/labels.yml
  .github/workflows/repo-labels-sync.yml
Due: none

[DOP-11877] Run Dependabot weekly
  .github/dependabot.yml
Due: none

[DOP-13209] Add pre-commit.ci badge to Readme
  README.rst
Due: towncrier

[DOP-11906] Improve Clickhouse documentation
  docs/changelog/next_release/211.improvement.rst
  docs/connection/db_connection/clickhouse/execute.rst
  docs/connection/db_connection/clickhouse/index.rst
  docs/connection/db_connection/clickhouse/prerequisites.rst
  docs/connection/db_connection/clickhouse/read.rst
  docs/connection/db_connection/clickhouse/sql.rst
  docs/connection/db_connection/clickhouse/types.rst
  docs/connection/db_connection/clickhouse/write.rst
  onetl/connection/db_connection/clickhouse/connection.py
  onetl/connection/db_connection/jdbc_mixin/connection.py
Due: flake8, mypy, towncrier

[DOP-13240] Test Greeplum connector compatibility with Spark 3.3+
  .github/workflows/data/greenplum/matrix.yml
  README.rst
  docs/connection/db_connection/greenplum/prerequisites.rst
  onetl/connection/db_connection/greenplum/connection.py
  tests/tests_unit/tests_db_connection_unit/test_greenplum_unit.py
Due: flake8, mypy, towncrier

Run FileConnection tests on Python 3.12.2
  .github/workflows/data/core/matrix.yml
  .github/workflows/data/ftp/matrix.yml
  .github/workflows/data/ftps/matrix.yml
  .github/workflows/data/hdfs/matrix.yml
  .github/workflows/data/s3/matrix.yml
  .github/workflows/data/samba/matrix.yml
  .github/workflows/data/sftp/matrix.yml
  .github/workflows/data/webdav/matrix.yml
Due: none

Fix Hive.WriteOptions documentation
  onetl/connection/db_connection/hive/options.py
Due: flake8, mypy

[DOP-13253] Add Postgres types & prerequisites documentation
  docs/changelog/next_release/229.feature.rst
  docs/changelog/next_release/229.improvement.rst
  docs/connection/db_connection/clickhouse/read.rst
  docs/connection/db_connection/clickhouse/types.rst
  docs/connection/db_connection/clickhouse/write.rst
  docs/connection/db_connection/postgres/execute.rst
  docs/connection/db_connection/postgres/index.rst
  docs/connection/db_connection/postgres/prerequisites.rst
  docs/connection/db_connection/postgres/read.rst
  docs/connection/db_connection/postgres/sql.rst
  docs/connection/db_connection/postgres/types.rst
  docs/connection/db_connection/postgres/write.rst
  onetl/connection/db_connection/greenplum/connection.py
  onetl/connection/db_connection/postgres/connection.py
  tests/tests_unit/tests_db_connection_unit/test_jdbc_options_unit.py
  tests/tests_unit/tests_db_connection_unit/test_postgres_unit.py
Due: flake8, mypy, towncrier

[DOP-13259] Update Clickhouse types documentation
  docs/connection/db_connection/clickhouse/read.rst
  docs/connection/db_connection/clickhouse/types.rst
  docs/connection/db_connection/clickhouse/write.rst
Due: towncrier

[DOP-13251] Add Greenplum type mapping to documentation
  docs/changelog/next_release/228.improvement.rst
  docs/connection/db_connection/clickhouse/execute.rst
  docs/connection/db_connection/greenplum/execute.rst
  docs/connection/db_connection/greenplum/index.rst
  docs/connection/db_connection/greenplum/prerequisites.rst
  docs/connection/db_connection/greenplum/read.rst
  docs/connection/db_connection/greenplum/types.rst
  docs/connection/db_connection/greenplum/write.rst
  onetl/connection/db_connection/greenplum/connection.py
Due: flake8, mypy, towncrier

Fix Options documentation
  onetl/connection/db_connection/greenplum/options.py
  onetl/connection/db_connection/kafka/options.py
  onetl/connection/db_connection/mongodb/options.py
Due: flake8, mypy

[DOP-13337] Use typing_extensions.deprecated instead of deprecated package
  onetl/connection/db_connection/hive/options.py
  onetl/connection/db_connection/jdbc_connection/options.py
  onetl/log.py
  requirements/core.txt
Due: flake8, mypy

[DOP-13337] Use typing_extensions.deprecated instead of deprecated package
  tests/tests_unit/tests_db_connection_unit/test_hive_unit.py
  tests/tests_unit/tests_db_connection_unit/test_jdbc_options_unit.py
Due: flake8, mypy

[DOP-13337] Use typing_extensions.deprecated on legacy FileFilter and FileLimit
  onetl/core/file_filter/file_filter.py
  onetl/core/file_limit/file_limit.py
Due: flake8, mypy

[DOP-13259] Update Clickhouse types documentation
  docs/connection/db_connection/clickhouse/types.rst
  docs/connection/db_connection/postgres/types.rst
Due: towncrier

[DOP-13558] Document using Greenplum connector with IP resolution issues
  docs/changelog/next_release/228.improvement.rst
  docs/connection/db_connection/greenplum/prerequisites.rst
Due: towncrier

[DOP-13337] Fix coverage config
  tests/.coveragerc
Due: none

[DOP-13337] Update Codecov action usage
  .github/workflows/tests.yml
Due: none

Path conditions:
  flake8: any of: ^(onetl|tests)/.*$ and \.py$
  mypy: any of: \.py$
  towncrier: any of: \.rst$
