Repository MobileTeleSystems/onetl: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, mypy, towncrier

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: check-ast
  - id: check-case-conflict
  - id: check-docstring-first
  - id: check-executables-have-shebangs
  - id: check-merge-conflict
  - id: check-toml
  - id: check-vcs-permalinks
  - id: check-yaml
    args: [--unsafe]
  - id: requirements-txt-fixer
    files: ^(requirements/.*\.txt)$
  - id: end-of-file-fixer
    exclude: ^(.*/VERSION|tests/resources/.*/.*)$
  - id: fix-byte-order-marker
  - id: fix-encoding-pragma
    args: [--remove]
  - id: name-tests-test
    files: ^tests/(tests_integration|tests_unit)/.*\.py$
    args: [--django]
  - id: trailing-whitespace
- repo: https://github.com/Lucas-C/pre-commit-hooks
  rev: v1.5.4
  hooks:
  - id: remove-tabs
    exclude: ^docs/(make.bat|Makefile)
- repo: https://github.com/codespell-project/codespell
  rev: v2.2.5
  hooks:
  - id: codespell
    args: [-w]
- repo: https://github.com/macisamuele/language-formatters-pre-commit-hooks
  rev: v2.10.0
  hooks:
  - id: pretty-format-yaml
    args: [--autofix, --indent, '2', --preserve-quotes]
- repo: https://github.com/lovesegfault/beautysh
  rev: v6.2.1
  hooks:
  - id: beautysh
- repo: https://github.com/IamTheFij/docker-pre-commit
  rev: v3.0.1
  hooks:
  - id: docker-compose-check
- repo: https://github.com/pycqa/isort
  rev: 5.12.0
  hooks:
  - id: isort
- repo: https://github.com/pre-commit/pygrep-hooks
  rev: v1.10.0
  hooks:
  - id: python-no-log-warn
  - id: python-no-eval
  - id: rst-backticks
  - id: rst-directive-colons
  - id: rst-inline-touching-normal
  - id: text-unicode-replacement-char
- repo: https://github.com/asottile/pyupgrade
  rev: v3.10.1
  hooks:
  - id: pyupgrade
    args: [--py37-plus, --keep-runtime-typing]
- repo: https://github.com/psf/black
  rev: 23.7.0
  hooks:
  - id: black
    language_version: python3
- repo: https://github.com/asottile/blacken-docs
  rev: 1.16.0
  hooks:
  - id: blacken-docs
- repo: meta
  hooks:
  - id: check-hooks-apply
  - id: check-useless-excludes
- repo: https://github.com/PyCQA/autoflake
  rev: v2.2.1
  hooks:
  - id: autoflake
    args:
    - --in-place
    - --config=setup.cfg
- repo: local
  hooks:
  - id: flake8
    name: flake8
    entry: python3 -m flake8
    language: system
    types: [python]
    files: ^(onetl|tests)/.*$
    pass_filenames: true
  - id: mypy
    name: mypy
    entry: python3 -m mypy --config-file setup.cfg onetl
    language: system
    types: [python]
    pass_filenames: false
  - id: towncrier
    name: towncrier
    entry: towncrier build --draft
    language: system
    types: [rst]
    pass_filenames: false

ci:
  skip:
  - flake8  # checked with Github Actions
  - mypy  # checked with Github Actions
  - towncrier  # checked with Github Actions
  - docker-compose-check  # cannot run on pre-commit.ci

Update onetl/file/format/excel.py
  onetl/file/format/excel.py
Due: flake8, mypy

[DOP-14546] - add formatting
  onetl/connection/db_connection/mssql/connection.py
  onetl/connection/db_connection/oracle/connection.py
Due: flake8, mypy

[DOP-14546] - add spark/scala formatting tests
  onetl/connection/db_connection/mssql/connection.py
  onetl/connection/db_connection/oracle/connection.py
  tests/tests_unit/tests_db_connection_unit/test_greenplum_unit.py
  tests/tests_unit/tests_db_connection_unit/test_kafka_unit.py
Due: flake8, mypy

Update tests/tests_unit/tests_db_connection_unit/test_greenplum_unit.py
  tests/tests_unit/tests_db_connection_unit/test_greenplum_unit.py
Due: flake8, mypy

[DOP-14546] - add spark/scala formatting tests
  onetl/_util/version.py
  onetl/connection/db_connection/jdbc_mixin/connection.py
  tests/tests_unit/test_file/test_format_unit/test_avro_unit.py
  tests/tests_unit/test_file/test_format_unit/test_excel_unit.py
  tests/tests_unit/test_file/test_format_unit/test_xml_unit.py
  tests/tests_unit/tests_db_connection_unit/test_mongodb_unit.py
Due: flake8, mypy

[DOP-14546] - update Version to store raw str version (#248)
  docs/conf.py
  onetl/_util/hadoop.py
  onetl/_util/scala.py
  onetl/_util/spark.py
  onetl/_util/version.py
  onetl/connection/db_connection/greenplum/connection.py
  onetl/connection/db_connection/jdbc_mixin/connection.py
  onetl/connection/db_connection/kafka/connection.py
  onetl/connection/db_connection/mongodb/connection.py
  onetl/connection/db_connection/mssql/connection.py
  onetl/connection/db_connection/oracle/connection.py
  onetl/connection/file_df_connection/spark_s3/connection.py
  onetl/file/format/avro.py
  onetl/file/format/excel.py
  onetl/file/format/xml.py
  tests/fixtures/spark.py
  tests/tests_integration/test_file_format_integration/test_avro_integration.py
  tests/tests_integration/test_file_format_integration/test_csv_integration.py
  tests/tests_integration/test_file_format_integration/test_excel_integration.py
  tests/tests_integration/test_file_format_integration/test_xml_integration.py
  tests/tests_unit/test_file/test_format_unit/test_avro_unit.py
  tests/tests_unit/test_file/test_format_unit/test_excel_unit.py
  tests/tests_unit/test_file/test_format_unit/test_xml_unit.py
  tests/tests_unit/tests_db_connection_unit/test_greenplum_unit.py
  tests/tests_unit/tests_db_connection_unit/test_kafka_unit.py
  tests/tests_unit/tests_db_connection_unit/test_mongodb_unit.py
Due: flake8, mypy

Add pysmb to onetl[files] extra
  docs/changelog/next_release/+.bugfix.rst
  setup.py
Due: mypy, towncrier

[DOP-13855] - update clickhouse driver
  docs/changelog/next_release/249.breaking.rst
  onetl/VERSION
  onetl/connection/db_connection/clickhouse/connection.py
  tests/tests_integration/tests_db_connection_integration/test_clickhouse_integration.py
  tests/tests_integration/tests_strategy_integration/tests_incremental_strategy_integration/test_strategy_increment_clickhouse.py
  tests/tests_unit/tests_db_connection_unit/test_clickhouse_unit.py
Due: flake8, mypy, towncrier

[DOP-13855] - update clickhouse get_packages() tests
  onetl/connection/db_connection/clickhouse/connection.py
  tests/tests_integration/tests_db_connection_integration/test_clickhouse_integration.py
  tests/tests_integration/tests_strategy_integration/tests_incremental_strategy_integration/test_strategy_increment_clickhouse.py
  tests/tests_unit/tests_db_connection_unit/test_clickhouse_unit.py
  tests/util/assert_df.py
Due: flake8, mypy

[DOP-13855] - update clickhouse get_packages() tests
  onetl/connection/db_connection/clickhouse/connection.py
Due: flake8, mypy

[DOP-13855] - update numeric mapping
  docs/connection/db_connection/clickhouse/types.rst
Due: towncrier

[DOP-13855] - update clickhouse get_packages() tests
  tests/tests_unit/tests_db_connection_unit/test_clickhouse_unit.py
Due: flake8, mypy

[DOP-13855] Fix Clickhouse HWM tests
  tests/tests_integration/tests_strategy_integration/tests_incremental_strategy_integration/test_strategy_increment_clickhouse.py
Due: flake8, mypy

[DOP-13855] - fix Version.min_digits() method
  docs/changelog/next_release/249.breaking.rst
  docs/changelog/next_release/249.feature.rst
  onetl/_util/version.py
  onetl/connection/db_connection/clickhouse/connection.py
  onetl/connection/db_connection/greenplum/connection.py
  tests/tests_unit/tests_db_connection_unit/test_clickhouse_unit.py
  tests/tests_unit/tests_db_connection_unit/test_greenplum_unit.py
Due: flake8, mypy, towncrier

[DOP-13855] Fix Clickhouse HWM tests
  tests/fixtures/processing/clickhouse.py
  tests/tests_integration/tests_strategy_integration/tests_incremental_strategy_integration/test_strategy_increment_clickhouse.py
Due: flake8, mypy

[DOP-13855] - update temporal mapping
  docs/connection/db_connection/clickhouse/types.rst
Due: towncrier

[DOP-13855] - update clickhouse driver (#249)
  docs/changelog/next_release/249.breaking.rst
  docs/changelog/next_release/249.feature.rst
  docs/connection/db_connection/clickhouse/types.rst
  onetl/VERSION
  onetl/_util/version.py
  onetl/connection/db_connection/clickhouse/connection.py
  onetl/connection/db_connection/greenplum/connection.py
  tests/fixtures/processing/clickhouse.py
  tests/tests_integration/tests_db_connection_integration/test_clickhouse_integration.py
  tests/tests_unit/tests_db_connection_unit/test_clickhouse_unit.py
  tests/tests_unit/tests_db_connection_unit/test_greenplum_unit.py
  tests/util/assert_df.py
Due: flake8, mypy, towncrier

[DOP-13849] - upgrade postgres packages
  docs/changelog/next_release/249.feature.rst
  docs/changelog/next_release/251.feature.rst
  onetl/connection/db_connection/clickhouse/connection.py
  onetl/connection/db_connection/postgres/connection.py
  tests/tests_unit/tests_db_connection_unit/test_clickhouse_unit.py
  tests/tests_unit/tests_db_connection_unit/test_postgres_unit.py
Due: flake8, mypy, towncrier

[DOP-13849] - put away Version annotations
  onetl/connection/db_connection/clickhouse/connection.py
  onetl/connection/db_connection/postgres/connection.py
  tests/tests_unit/tests_db_connection_unit/test_clickhouse_unit.py
  tests/tests_unit/tests_db_connection_unit/test_postgres_unit.py
Due: flake8, mypy

[DOP-13849] - upgrade Postgres packages (#251)
  docs/changelog/next_release/249.feature.rst
  docs/changelog/next_release/251.feature.rst
  onetl/connection/db_connection/clickhouse/connection.py
  onetl/connection/db_connection/postgres/connection.py
  tests/tests_unit/tests_db_connection_unit/test_clickhouse_unit.py
  tests/tests_unit/tests_db_connection_unit/test_postgres_unit.py
Due: flake8, mypy, towncrier

[DOP-13850] - upgrade Oracle packages
  docs/changelog/next_release/252.feature.rst
  onetl/connection/db_connection/oracle/connection.py
  tests/tests_unit/tests_db_connection_unit/test_oracle_unit.py
Due: flake8, mypy, towncrier

[DOP-13850] - add min_digits version check to oracle package
  onetl/connection/db_connection/oracle/connection.py
  tests/tests_unit/tests_db_connection_unit/test_oracle_unit.py
Due: flake8, mypy

[DOP-13850] - upgrade Oracle packages (#252)
  docs/changelog/next_release/252.feature.rst
  onetl/connection/db_connection/oracle/connection.py
  tests/tests_unit/tests_db_connection_unit/test_oracle_unit.py
Due: flake8, mypy, towncrier

[DOP-13851] - upgrade MySql packages
  docs/changelog/next_release/253.feature.rst
  onetl/connection/db_connection/mysql/connection.py
  tests/tests_unit/tests_db_connection_unit/test_mysql_unit.py
Due: flake8, mypy, towncrier

[DOP-13851] - upgrade MySql packages (#253)
  docs/changelog/next_release/253.feature.rst
  onetl/connection/db_connection/mysql/connection.py
  tests/tests_unit/tests_db_connection_unit/test_mysql_unit.py
Due: flake8, mypy, towncrier

Fix rendering table in Readme
  README.rst
Due: towncrier

[DOP-13852] - upgrade MSSQL packages
  docs/changelog/next_release/254.feature.rst
  onetl/connection/db_connection/mssql/connection.py
  tests/tests_unit/tests_db_connection_unit/test_mssql_unit.py
Due: flake8, mypy, towncrier

[DOP-13852] - downgrade default package_version to 12.6.1
  docs/changelog/next_release/254.feature.rst
  onetl/connection/db_connection/mssql/connection.py
  tests/tests_unit/tests_db_connection_unit/test_mssql_unit.py
Due: flake8, mypy, towncrier

[DOP-13852] - upgrade MSSQL packages (#254)
  docs/changelog/next_release/254.feature.rst
  onetl/connection/db_connection/mssql/connection.py
  tests/tests_unit/tests_db_connection_unit/test_mssql_unit.py
Due: flake8, mypy, towncrier

[DOP-13853] - upgrade MongoDB packages
  docs/changelog/next_release/255.feature.rst
  onetl/connection/db_connection/mongodb/connection.py
  tests/tests_unit/tests_db_connection_unit/test_mongodb_unit.py
Due: flake8, mypy, towncrier

[DOP-13853] - connector_version -> package_version
  docs/changelog/next_release/255.feature.rst
  onetl/connection/db_connection/mongodb/connection.py
  tests/tests_unit/tests_db_connection_unit/test_mongodb_unit.py
Due: flake8, mypy, towncrier

[DOP-13853] - upgrade MongoDB packages (#255)
  docs/changelog/next_release/255.feature.rst
  onetl/connection/db_connection/mongodb/connection.py
  tests/tests_unit/tests_db_connection_unit/test_mongodb_unit.py
Due: flake8, mypy, towncrier

[DOP-14492] - upgrade Teradata packages
  docs/changelog/next_release/256.feature.rst
  onetl/connection/db_connection/teradata/connection.py
  tests/tests_unit/tests_db_connection_unit/test_teradata_unit.py
Due: flake8, mypy, towncrier

[DOP-14492] - upgrade Teradata packages (#256)
  docs/changelog/next_release/256.feature.rst
  onetl/connection/db_connection/teradata/connection.py
  tests/tests_unit/tests_db_connection_unit/test_teradata_unit.py
Due: flake8, mypy, towncrier

Return back old table view
  README.rst
Due: towncrier
