Repository MobileTeleSystems/onetl: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, mypy, towncrier

flake8:
  name: flake8
  entry: python3 -m flake8
  language: system
  pass_filenames: true

mypy:
  name: mypy
  entry: python3 -m mypy --config-file setup.cfg onetl
  language: system
  pass_filenames: false

towncrier:
  name: towncrier
  entry: towncrier build --draft
  language: system
  pass_filenames: false

[DOP-22424] Fix calling Samba.close()
  README.rst
  onetl/connection/file_connection/samba.py
Due: flake8, mypy, towncrier

[DOP-22424] Spark 3.3 supports Python 3.11 and 3.12
  README.rst
Due: towncrier

[DOP-22425] Add note about Greenplum.check permissions
  docs/changelog/0.13.0.rst
  requirements/docs.txt
Due: towncrier

[DOP-22425] Add note about Greenplum.check permissions
  docs/changelog/0.13.0.rst
  docs/connection/db_connection/greenplum/prerequisites.rst
Due: towncrier

[DOP-22425] Fix Kafka tests
  requirements/tests/kafka.txt
Due: none

[DOP-24322] Properly handle different table name cases in DBWriter(Hive)
  docs/changelog/next_release/350.bugfix.rst
  onetl/connection/db_connection/hive/connection.py
  tests/tests_integration/tests_core_integration/tests_db_writer_integration/test_hive_writer_integration.py
Due: flake8, mypy, towncrier

[DOP-24322] Prepare for release
  docs/changelog/0.13.1.rst
  docs/changelog/index.rst
  docs/changelog/next_release/350.bugfix.rst
Due: towncrier

[DOP-24322] Bump version
  onetl/VERSION
Due: none

[DOP-24322] Bump Ubuntu version for MSSQL CI tests
  .github/workflows/data/mssql/matrix.yml
Due: none

Revert: [DOP-24322] Bump Ubuntu version for MSSQL CI tests
  .github/workflows/data/mssql/matrix.yml
Due: none

[DOP-24370] Allow using etl-entities 2.6.0
  docs/changelog/0.13.2.rst
  requirements/core.txt
Due: towncrier

[DOP-24370] Allow using etl-entities 2.6.0
  docs/changelog/0.13.2.rst
  docs/changelog/index.rst
Due: towncrier

[DOP-24370] Bump version
  onetl/VERSION
Due: none

Add AutoDetectHWM.reset
  onetl/hwm/auto_hwm.py
Due: flake8, mypy

[DOP-24370] Allow using etl-entities 2.6.0
  docs/changelog/0.13.3.rst
  docs/changelog/index.rst
Due: towncrier

[DOP-22429] Prefer ipc_port and webhdfs_port instead alias
  docs/changelog/next_release/353.doc.rst
  onetl/connection/db_connection/db_connection/connection.py
  onetl/connection/file_connection/file_connection.py
  onetl/connection/file_connection/hdfs/connection.py
  onetl/connection/file_df_connection/spark_file_df_connection.py
  onetl/connection/file_df_connection/spark_hdfs/connection.py
  tests/tests_integration/test_file_df_connection_integration/test_spark_hdfs_integration.py
  tests/tests_integration/tests_file_connection_integration/test_hdfs_file_connection_integration.py
  tests/tests_unit/tests_file_connection_unit/test_hdfs_unit.py
  tests/tests_unit/tests_file_df_connection_unit/test_spark_hdfs_unit.py
Due: flake8, mypy, towncrier

[DOP-22429] Prefer camelCase for Spark JDBC params
  docs/changelog/next_release/352.doc.rst
  docs/connection/db_connection/clickhouse/execute.rst
  docs/connection/db_connection/clickhouse/read.rst
  docs/connection/db_connection/clickhouse/sql.rst
  docs/connection/db_connection/greenplum/execute.rst
  docs/connection/db_connection/greenplum/read.rst
  docs/connection/db_connection/hive/write.rst
  docs/connection/db_connection/mssql/execute.rst
  docs/connection/db_connection/mssql/read.rst
  docs/connection/db_connection/mssql/sql.rst
  docs/connection/db_connection/mysql/execute.rst
  docs/connection/db_connection/mysql/read.rst
  docs/connection/db_connection/mysql/sql.rst
  docs/connection/db_connection/oracle/execute.rst
  docs/connection/db_connection/oracle/read.rst
  docs/connection/db_connection/oracle/sql.rst
  docs/connection/db_connection/postgres/execute.rst
  docs/connection/db_connection/postgres/read.rst
  docs/connection/db_connection/postgres/sql.rst
  docs/connection/db_connection/teradata/execute.rst
  docs/connection/db_connection/teradata/read.rst
  docs/connection/db_connection/teradata/sql.rst
  onetl/connection/db_connection/greenplum/options.py
  onetl/connection/db_connection/hive/options.py
  onetl/connection/db_connection/jdbc_connection/options.py
  onetl/file/file_df_writer/options.py
  tests/tests_integration/tests_core_integration/test_file_df_writer_integration/test_common_file_df_writer_integration.py
  tests/tests_integration/tests_core_integration/tests_db_reader_integration/test_postgres_reader_integration.py
  tests/tests_integration/tests_core_integration/tests_db_writer_integration/test_hive_writer_integration.py
  tests/tests_integration/tests_db_connection_integration/test_postgres_integration.py
  tests/tests_unit/tests_db_connection_unit/test_jdbc_options_unit.py
Due: flake8, mypy, towncrier

[DOP-22429] Prefer if_exists=... over mode=...
  docs/changelog/next_release/354.doc.rst
  onetl/_util/alias.py
  onetl/connection/db_connection/greenplum/options.py
  onetl/connection/db_connection/hive/options.py
  onetl/connection/db_connection/jdbc_connection/options.py
  onetl/connection/db_connection/mongodb/options.py
  onetl/file/file_downloader/options.py
  onetl/file/file_mover/options.py
  onetl/file/file_uploader/options.py
  onetl/file/format/csv.py
  tests/tests_unit/test_file/test_file_downloader_unit.py
  tests/tests_unit/test_file/test_file_mover_unit.py
  tests/tests_unit/test_file/test_file_uploader_unit.py
  tests/tests_unit/tests_db_connection_unit/test_greenplum_unit.py
  tests/tests_unit/tests_db_connection_unit/test_hive_unit.py
  tests/tests_unit/tests_db_connection_unit/test_jdbc_options_unit.py
  tests/tests_unit/tests_db_connection_unit/test_mongodb_unit.py
Due: flake8, mypy, towncrier

[DOP-22429] Prefer source=.../target=... over table=...
  docs/connection/db_connection/clickhouse/types.rst
  docs/connection/db_connection/greenplum/read.rst
  docs/connection/db_connection/greenplum/types.rst
  docs/connection/db_connection/mssql/types.rst
  docs/connection/db_connection/mysql/types.rst
  docs/connection/db_connection/oracle/types.rst
  docs/connection/db_connection/postgres/types.rst
  onetl/db/db_reader/db_reader.py
  onetl/db/db_writer/db_writer.py
  tests/tests_unit/test_db/test_db_reader_unit/test_clickhouse_reader_unit.py
  tests/tests_unit/test_db/test_db_reader_unit/test_common_reader_unit.py
  tests/tests_unit/test_db/test_db_reader_unit/test_greenplum_reader_unit.py
  tests/tests_unit/test_db/test_db_reader_unit/test_hive_reader_unit.py
  tests/tests_unit/test_db/test_db_reader_unit/test_kafka_reader_unit.py
  tests/tests_unit/test_db/test_db_reader_unit/test_mongodb_reader_unit.py
  tests/tests_unit/test_db/test_db_reader_unit/test_mssql_reader_unit.py
  tests/tests_unit/test_db/test_db_reader_unit/test_mysql_reader_unit.py
  tests/tests_unit/test_db/test_db_reader_unit/test_oracle_reader_unit.py
  tests/tests_unit/test_db/test_db_reader_unit/test_postgres_reader_unit.py
  tests/tests_unit/test_db/test_db_reader_unit/test_teradata_reader_unit.py
  tests/tests_unit/test_db/test_db_writer_unit/test_clickhouse_writer_unit.py
  tests/tests_unit/test_db/test_db_writer_unit/test_greenplum_writer_unit.py
  tests/tests_unit/test_db/test_db_writer_unit/test_hive_writer_unit.py
  tests/tests_unit/test_db/test_db_writer_unit/test_mssql_writer_unit.py
  tests/tests_unit/test_db/test_db_writer_unit/test_mysql_writer_unit.py
  tests/tests_unit/test_db/test_db_writer_unit/test_oracle_writer_unit.py
  tests/tests_unit/test_db/test_db_writer_unit/test_postgres_writer_unit.py
  tests/tests_unit/test_db/test_db_writer_unit/test_teradata_writer_unit.py
Due: flake8, mypy, towncrier

[DOP-22429] Prefer ipc_port and webhdfs_port instead port
  onetl/connection/file_connection/hdfs/connection.py
  onetl/connection/file_df_connection/spark_hdfs/connection.py
  tests/tests_integration/test_file_df_connection_integration/test_spark_hdfs_integration.py
  tests/tests_integration/tests_file_connection_integration/test_hdfs_file_connection_integration.py
  tests/tests_unit/tests_file_connection_unit/test_hdfs_unit.py
  tests/tests_unit/tests_file_df_connection_unit/test_spark_hdfs_unit.py
Due: flake8, mypy

[DOP-22430] Improve XML documentation
  docs/file_df/file_formats/xml.rst
  onetl/file/format/__init__.py
  onetl/file/format/file_format.py
  onetl/file/format/xml.py
  setup.cfg
  tests/tests_integration/test_file_format_integration/test_xml_integration.py
  tests/tests_unit/test_file/test_format_unit/test_xml_unit.py
Due: flake8, mypy, towncrier

[DOP-22431] Improve Excel documentation
  docs/file_df/file_formats/excel.rst
  onetl/file/format/__init__.py
  onetl/file/format/excel.py
  onetl/file/format/file_format.py
  setup.cfg
  tests/resources/file_df_connection/xls/with_encryption/file.xls
  tests/resources/file_df_connection/xlsx/with_encryption/file.xlsx
  tests/tests_integration/test_file_format_integration/test_excel_integration.py
  tests/tests_unit/test_file/test_format_unit/test_excel_unit.py
Due: flake8, mypy, towncrier

[DOP-22431] Improve Excel documentation
  docs/file_df/file_formats/excel.rst
  onetl/file/format/excel.py
  tests/resources/file_df_connection/xls/with_encryption/file.xls
  tests/resources/file_df_connection/xlsx/with_encryption/file.xlsx
  tests/tests_integration/test_file_format_integration/test_excel_integration.py
  tests/tests_unit/test_file/test_format_unit/test_excel_unit.py
Due: flake8, mypy, towncrier

[DOP-22433] Improve JSON/JSONLine documentation
  docs/file_df/file_formats/json.rst
  docs/file_df/file_formats/jsonline.rst
  onetl/file/format/file_format.py
  onetl/file/format/json.py
  onetl/file/format/jsonline.py
  setup.cfg
  tests/tests_integration/test_file_format_integration/test_json_integration.py
  tests/tests_unit/test_file/test_format_unit/test_json_unit.py
  tests/tests_unit/test_file/test_format_unit/test_jsonline_unit.py
Due: flake8, mypy, towncrier

[DOP-22432] Improve CSV documentation
  docs/file_df/file_formats/csv.rst
  onetl/file/format/csv.py
  onetl/file/format/file_format.py
  setup.cfg
  tests/tests_integration/test_file_format_integration/test_csv_integration.py
  tests/tests_unit/test_file/test_format_unit/test_csv_unit.py
Due: flake8, mypy, towncrier

[DOP-22434] Improve Avro documentation
  docs/file_df/file_formats/avro.rst
  docs/file_df/file_formats/xml.rst
  onetl/file/format/avro.py
  tests/tests_integration/test_file_format_integration/test_avro_integration.py
  tests/tests_unit/test_file/test_format_unit/test_avro_unit.py
  tests/tests_unit/test_file/test_format_unit/test_xml_unit.py
Due: flake8, mypy, towncrier

[DOP-22434] Improve ORC documentation
  docs/file_df/file_formats/orc.rst
  onetl/connection/db_connection/hive/connection.py
  onetl/file/format/orc.py
  tests/tests_unit/test_file/test_format_unit/test_orc_unit.py
Due: flake8, mypy, towncrier

[DOP-22434] Improve Parquet documentation
  docs/file_df/file_formats/parquet.rst
  onetl/connection/db_connection/hive/connection.py
  onetl/file/format/parquet.py
  tests/tests_unit/test_file/test_format_unit/test_parquet_unit.py
Due: flake8, mypy, towncrier

[DOP-22433] Improve JSON/JSONLine documentation
  docs/file_df/file_formats/json.rst
  docs/file_df/file_formats/jsonline.rst
  onetl/file/format/json.py
  onetl/file/format/jsonline.py
  tests/tests_integration/test_file_format_integration/test_json_integration.py
  tests/tests_unit/test_file/test_format_unit/test_json_unit.py
  tests/tests_unit/test_file/test_format_unit/test_jsonline_unit.py
Due: flake8, mypy, towncrier

Path conditions:
  flake8: any of: ^(onetl|tests)/.*$ and \.py$
  mypy: any of: \.py$
  towncrier: any of: \.rst$
