Repository MobileTeleSystems/onetl: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, mypy, towncrier

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: check-ast
  - id: check-case-conflict
  - id: check-docstring-first
  - id: check-executables-have-shebangs
  - id: check-merge-conflict
  - id: check-toml
  - id: check-vcs-permalinks
  - id: check-yaml
    args: [--unsafe]
  - id: requirements-txt-fixer
    files: ^(requirements/.*\.txt)$
  - id: end-of-file-fixer
    exclude: ^(.*/VERSION|tests/resources/.*/.*)$
  - id: fix-byte-order-marker
  - id: fix-encoding-pragma
    args: [--remove]
  - id: name-tests-test
    files: ^tests/(tests_integration|tests_unit)/.*\.py$
    args: [--django]
  - id: trailing-whitespace
- repo: https://github.com/Lucas-C/pre-commit-hooks
  rev: v1.5.4
  hooks:
  - id: remove-tabs
    exclude: ^docs/(make.bat|Makefile)
- repo: https://github.com/codespell-project/codespell
  rev: v2.2.5
  hooks:
  - id: codespell
    args: [-w]
- repo: https://github.com/macisamuele/language-formatters-pre-commit-hooks
  rev: v2.10.0
  hooks:
  - id: pretty-format-yaml
    args: [--autofix, --indent, '2', --preserve-quotes]
- repo: https://github.com/lovesegfault/beautysh
  rev: v6.2.1
  hooks:
  - id: beautysh
- repo: https://github.com/IamTheFij/docker-pre-commit
  rev: v3.0.1
  hooks:
  - id: docker-compose-check
- repo: https://github.com/pycqa/isort
  rev: 5.12.0
  hooks:
  - id: isort
- repo: https://github.com/pre-commit/pygrep-hooks
  rev: v1.10.0
  hooks:
  - id: python-no-log-warn
  - id: python-no-eval
  - id: rst-backticks
  - id: rst-directive-colons
  - id: rst-inline-touching-normal
  - id: text-unicode-replacement-char
- repo: https://github.com/asottile/pyupgrade
  rev: v3.10.1
  hooks:
  - id: pyupgrade
    args: [--py37-plus, --keep-runtime-typing]
- repo: https://github.com/psf/black
  rev: 23.7.0
  hooks:
  - id: black
    language_version: python3
- repo: https://github.com/asottile/blacken-docs
  rev: 1.16.0
  hooks:
  - id: blacken-docs
- repo: meta
  hooks:
  - id: check-hooks-apply
  - id: check-useless-excludes
- repo: https://github.com/PyCQA/autoflake
  rev: v2.2.1
  hooks:
  - id: autoflake
    args:
    - --in-place
    - --config=setup.cfg
- repo: local
  hooks:
  - id: flake8
    name: flake8
    entry: python3 -m flake8
    language: system
    types: [python]
    files: ^(onetl|tests)/.*$
    pass_filenames: true
  - id: mypy
    name: mypy
    entry: python3 -m mypy --config-file setup.cfg onetl
    language: system
    types: [python]
    pass_filenames: false
  - id: towncrier
    name: towncrier
    entry: towncrier build --draft
    language: system
    types: [rst]
    pass_filenames: false

ci:
  skip:
  - flake8  # checked with Github Actions
  - mypy  # checked with Github Actions
  - towncrier  # checked with Github Actions
  - docker-compose-check  # cannot run on pre-commit.ci

Bump version
  docs/changelog/0.14.1.rst
  docs/changelog/index.rst
  onetl/VERSION
Due: towncrier

Update CHANGELOG
  docs/changelog/0.14.1.rst
Due: towncrier

Update CHANGELOG
  docs/changelog/0.14.1.rst
  docs/changelog/index.rst
Due: towncrier

Drop Teradata connector
  .github/labels.yml
  .github/workflows/data/teradata/ignored.txt
  .github/workflows/data/teradata/matrix.yml
  .github/workflows/data/teradata/tracked.txt
  .github/workflows/get-matrix.yml
  .github/workflows/nightly.yml
  .github/workflows/test-teradata.yml
  .github/workflows/tests.yml
  README.rst
  docs/changelog/next_release/+.breaking.rst
  docs/concepts.rst
  docs/connection/db_connection/index.rst
  docs/connection/db_connection/teradata/connection.rst
  docs/connection/db_connection/teradata/execute.rst
  docs/connection/db_connection/teradata/index.rst
  docs/connection/db_connection/teradata/prerequisites.rst
  docs/connection/db_connection/teradata/read.rst
  docs/connection/db_connection/teradata/sql.rst
  docs/connection/db_connection/teradata/write.rst
  docs/install/spark.rst
  onetl/connection/__init__.py
  onetl/connection/db_connection/teradata/__init__.py
  onetl/connection/db_connection/teradata/connection.py
  onetl/connection/db_connection/teradata/dialect.py
  onetl/connection/db_connection/teradata/options.py
  pytest.ini
  tests/fixtures/spark.py
  tests/tests_integration/tests_db_connection_integration/test_teradata_integration.py
  tests/tests_unit/test_db/test_db_reader_unit/test_teradata_reader_unit.py
  tests/tests_unit/test_db/test_db_writer_unit/test_teradata_writer_unit.py
  tests/tests_unit/tests_db_connection_unit/test_db_options_unit.py
  tests/tests_unit/tests_db_connection_unit/test_jdbc_options_unit.py
  tests/tests_unit/tests_db_connection_unit/test_teradata_unit.py
Due: flake8, mypy, towncrier

[DOP-22425] Kafka.check() should not fail on ACL errors
  mddocs/docs/changelog/next_release/+.bugfix.1.md
  onetl/connection/db_connection/kafka/connection.py
Due: flake8, mypy

[DOP-22425] Small comment fixes
  onetl/connection/db_connection/kafka/connection.py
Due: flake8, mypy

Update dependencies
  uv.lock
Due: none

Update dependencies
  .pre-commit-config.yaml
  onetl/base/base_db_connection.py
  onetl/connection/db_connection/greenplum/connection.py
  onetl/connection/db_connection/hive/connection.py
  onetl/connection/db_connection/iceberg/connection.py
  onetl/connection/db_connection/jdbc_connection/connection.py
  onetl/connection/db_connection/jdbc_mixin/connection.py
  onetl/connection/db_connection/kafka/connection.py
  onetl/connection/db_connection/mongodb/connection.py
  onetl/db/db_reader/db_reader.py
  onetl/hwm/store/yaml_hwm_store.py
  onetl/log.py
  pyproject.toml
  tests/tests_unit/test_hooks/test_hooks_context_manager.py
  uv.lock
Due: flake8, mypy

[DOP-22425] Kafka.check() should not fail on ACL errors
  mddocs/docs/changelog/0.16.2.md
  mddocs/docs/changelog/index.md
  onetl/VERSION
  onetl/connection/db_connection/kafka/connection.py
Due: flake8, mypy

[DOP-22425] Update CHANGELOG
  mddocs/docs/changelog/0.16.2.md
  mddocs/docs/changelog/index.md
  mddocs/docs/changelog/next_release/+.bugfix.1.md
Due: none

Update dependencies
  pyproject.toml
  uv.lock
Due: none

Use local ruff in pre-commit
  .github/workflows/codeql-analysis.yml
  .pre-commit-config.yaml
Due: none

Drop useless pre-commit hooks
  .pre-commit-config.yaml
Due: none

Remove failed test reports before retry
  .github/workflows/test-oracle.yml
Due: none

Retry failing MSSQL tests
  .github/workflows/test-mssql.yml
Due: none

[DOP-39502] Add OAuth2 Client Credentials auth for Kafka
  docker-compose.yml
  docker/kafka/keycloak/onetl-kafka-realm.json
  docker/kafka/oauth-client.properties
  mddocs/docs/changelog/next_release/530.feature.md
  mddocs/docs/connection/db_connection/kafka/index.md
  mddocs/docs/connection/db_connection/kafka/oauth2_client_credentials.md
  mddocs/docs/connection/db_connection/kafka/prerequisites.md
  mddocs/docs/nav.md
  onetl/connection/db_connection/kafka/__init__.py
  onetl/connection/db_connection/kafka/connection.py
  onetl/connection/db_connection/kafka/kafka_oauth2_client_credentials.py
  tests/tests_unit/tests_db_connection_unit/test_kafka_unit.py
Due: flake8, mypy

[DOP-37650] Filter warnings in tests
  pytest.ini
  tests/tests_unit/tests_hwm_store_unit/test_yaml_hwm_store_unit.py
Due: flake8, mypy

[DOP-37650] Sync ContextDecorator.__exit__ impl with latest CPython version
  onetl/hooks/hook.py
Due: flake8, mypy

[DOP-37650] Use for instead of next() for probing iterator for emptiness
  onetl/connection/file_connection/s3.py
Due: flake8, mypy

[DOP-39506] Add integration tests for Kafka Oauth
  .env.docker
  .env.local
  .github/workflows/data/kafka/oauth-matrix.yml
  .github/workflows/get-matrix.yml
  .github/workflows/test-kafka-oauth.yml
  .github/workflows/tests.yml
  pytest.ini
  tests/fixtures/processing/kafka.py
  tests/fixtures/spark.py
  tests/tests_integration/tests_db_connection_integration/test_kafka_oauth_integration.py
Due: flake8, mypy

Fix DirectoryNotEmptyError message
  onetl/connection/file_connection/file_connection.py
  onetl/connection/file_connection/s3.py
Due: flake8, mypy

[DOP-39630] Fix ETL_ENTITIES_VERSION ignored
  Makefile
Due: none

[DOP-37650] Avoid updating etl-entities by Dependabot
  .github/dependabot.yml
Due: none

[DOP-37650] Drop pydantic.v1 imports
  onetl/connection/db_connection/dialect_mixins/not_support_hint.py
  onetl/connection/db_connection/dialect_mixins/not_support_where.py
  onetl/connection/db_connection/dialect_mixins/support_hint_str.py
  onetl/connection/db_connection/dialect_mixins/support_hwm_expression_str.py
  onetl/connection/db_connection/dialect_mixins/support_where_str.py
  onetl/connection/db_connection/mongodb/dialect.py
  onetl/core/file_filter/file_filter.py
  onetl/db/db_reader/db_reader.py
  onetl/file/file_downloader/file_downloader.py
  onetl/file/filter/exclude_dir.py
  onetl/file/filter/file_hwm.py
  onetl/hwm/store/yaml_hwm_store.py
  onetl/impl/frozen_model.py
Due: flake8, mypy

[DOP-3146] Make Kafka(cluster=...) optional
  mddocs/docs/changelog/next_release/539.breaking.1.md
  mddocs/docs/changelog/next_release/539.breaking.2.md
  onetl/connection/db_connection/kafka/connection.py
  onetl/connection/db_connection/kafka/slots.py
  tests/tests_integration/tests_core_integration/tests_db_reader_integration/test_kafka_reader_integration.py
  tests/tests_integration/tests_core_integration/tests_db_writer_integration/test_kafka_writer_integration.py
  tests/tests_integration/tests_db_connection_integration/test_kafka_integration.py
  tests/tests_integration/tests_db_connection_integration/test_kafka_oauth_integration.py
  tests/tests_integration/tests_strategy_integration/tests_incremental_strategy_integration/test_strategy_increment_kafka.py
  tests/tests_unit/tests_db_connection_unit/test_kafka_unit.py
Due: flake8, mypy

[DOP-6708] Make SparkHDFS(cluster=...) parameter optional
  mddocs/docs/changelog/next_release/540.breaking.1.md
  mddocs/docs/changelog/next_release/540.breaking.2.md
  mddocs/docs/changelog/next_release/540.breaking.3.md
  onetl/connection/db_connection/hive/connection.py
  onetl/connection/file_connection/hdfs/connection.py
  onetl/connection/file_df_connection/spark_hdfs/connection.py
  onetl/connection/file_df_connection/spark_hdfs/slots.py
  tests/tests_unit/tests_db_connection_unit/test_hive_unit.py
  tests/tests_unit/tests_file_connection_unit/test_hdfs_unit.py
  tests/tests_unit/tests_file_df_connection_unit/test_spark_hdfs_unit.py
Due: flake8, mypy

[DOP-8019] Improve Kafka.KerberosAuth
  mddocs/docs/changelog/next_release/541.improvement.md
  onetl/connection/db_connection/kafka/kafka_kerberos_auth.py
  tests/tests_unit/tests_db_connection_unit/test_kafka_unit.py
Due: flake8, mypy

[DOP-37650] Update Python version in ReadTheDocs
  .readthedocs.yml
Due: none

[DOP-39722] Add YAMLHWMStore(keep_history=True) flag
  conftest.py
  mddocs/docs/changelog/next_release/542.feature.md
  onetl/hwm/store/yaml_hwm_store.py
  tests/fixtures/hwm_with_value.py
  tests/tests_unit/tests_hwm_store_unit/test_yaml_hwm_store_unit.py
Due: flake8, mypy

[DOP-37884] Show 'Last updated at' in documentation
  mddocs/mkdocs.yml
  pyproject.toml
  uv.lock
Due: none
