Repository MobileTeleSystems/onetl: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, mypy, towncrier

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: check-ast
  - id: check-case-conflict
  - id: check-docstring-first
  - id: check-executables-have-shebangs
  - id: check-merge-conflict
  - id: check-toml
  - id: check-vcs-permalinks
  - id: check-yaml
    args: [--unsafe]
  - id: requirements-txt-fixer
    files: ^(requirements/.*\.txt)$
  - id: end-of-file-fixer
    exclude: ^(.*/VERSION|tests/resources/.*/.*)$
  - id: fix-byte-order-marker
  - id: fix-encoding-pragma
    args: [--remove]
  - id: name-tests-test
    files: ^tests/(tests_integration|tests_unit)/.*\.py$
    args: [--django]
  - id: trailing-whitespace
- repo: https://github.com/Lucas-C/pre-commit-hooks
  rev: v1.5.4
  hooks:
  - id: remove-tabs
    exclude: ^docs/(make.bat|Makefile)
- repo: https://github.com/codespell-project/codespell
  rev: v2.2.5
  hooks:
  - id: codespell
    args: [-w]
- repo: https://github.com/macisamuele/language-formatters-pre-commit-hooks
  rev: v2.10.0
  hooks:
  - id: pretty-format-yaml
    args: [--autofix, --indent, '2', --preserve-quotes]
- repo: https://github.com/lovesegfault/beautysh
  rev: v6.2.1
  hooks:
  - id: beautysh
- repo: https://github.com/IamTheFij/docker-pre-commit
  rev: v3.0.1
  hooks:
  - id: docker-compose-check
- repo: https://github.com/pycqa/isort
  rev: 5.12.0
  hooks:
  - id: isort
- repo: https://github.com/pre-commit/pygrep-hooks
  rev: v1.10.0
  hooks:
  - id: python-no-log-warn
  - id: python-no-eval
  - id: rst-backticks
  - id: rst-directive-colons
  - id: rst-inline-touching-normal
  - id: text-unicode-replacement-char
- repo: https://github.com/asottile/pyupgrade
  rev: v3.10.1
  hooks:
  - id: pyupgrade
    args: [--py37-plus, --keep-runtime-typing]
- repo: https://github.com/psf/black
  rev: 23.7.0
  hooks:
  - id: black
    language_version: python3
- repo: https://github.com/asottile/blacken-docs
  rev: 1.16.0
  hooks:
  - id: blacken-docs
- repo: meta
  hooks:
  - id: check-hooks-apply
  - id: check-useless-excludes
- repo: https://github.com/PyCQA/autoflake
  rev: v2.2.1
  hooks:
  - id: autoflake
    args:
    - --in-place
    - --config=setup.cfg
- repo: local
  hooks:
  - id: flake8
    name: flake8
    entry: python3 -m flake8
    language: system
    types: [python]
    files: ^(onetl|tests)/.*$
    pass_filenames: true
  - id: mypy
    name: mypy
    entry: python3 -m mypy --config-file setup.cfg onetl
    language: system
    types: [python]
    pass_filenames: false
  - id: towncrier
    name: towncrier
    entry: towncrier build --draft
    language: system
    types: [rst]
    pass_filenames: false

ci:
  skip:
  - flake8  # checked with Github Actions
  - mypy  # checked with Github Actions
  - towncrier  # checked with Github Actions
  - docker-compose-check  # cannot run on pre-commit.ci

[DOP-8664] - updated logs messages in MongoDB.WriteOptions
  onetl/connection/db_connection/mongodb/connection.py
  tests/tests_integration/tests_core_integration/tests_db_writer_integration/test_mongodb_writer_integration.py
Due: flake8, mypy

[DOP-8647] - updated logs messages in Hive.WriteOptions
  onetl/connection/db_connection/hive/connection.py
  tests/tests_integration/tests_core_integration/tests_db_writer_integration/test_hive_writer_integration.py
Due: flake8, mypy

[DOP-8665] - Allow modes "ignore" and "error" in JDBC.WriteOptions (#144)
  docs/changelog/next_release/144.feature.rst
  onetl/connection/db_connection/jdbc_connection/connection.py
  onetl/connection/db_connection/jdbc_connection/options.py
  tests/tests_integration/tests_core_integration/tests_db_writer_integration/test_postgres_writer_integration.py
  tests/tests_unit/tests_db_connection_unit/test_jdbc_options_unit.py
Due: flake8, mypy, towncrier

[DOP-8664] - Allow modes "ignore" and "error" in MongoDB.WriteOptions (#145)
  docs/changelog/next_release/145.feature.rst
  onetl/connection/db_connection/mongodb/connection.py
  onetl/connection/db_connection/mongodb/options.py
  tests/tests_integration/tests_core_integration/tests_db_writer_integration/test_greenplum_writer_integration.py
  tests/tests_integration/tests_core_integration/tests_db_writer_integration/test_mongodb_writer_integration.py
  tests/tests_unit/tests_db_connection_unit/test_mongodb_unit.py
Due: flake8, mypy, towncrier

[DOP-8647] - Allow modes "ignore" and "error" in Hive.WriteOptions (#143)
  docs/changelog/next_release/143.feature.rst
  onetl/connection/db_connection/hive/connection.py
  onetl/connection/db_connection/hive/options.py
  tests/tests_integration/tests_core_integration/tests_db_writer_integration/test_hive_writer_integration.py
  tests/tests_unit/tests_db_connection_unit/test_hive_unit.py
Due: flake8, mypy, towncrier

[DOP-8511] Fix MongoDB documentation example
  onetl/connection/db_connection/mongodb/connection.py
Due: flake8, mypy

[DOP-8806] - test Greenplum connector with Spark 3.3+
  .github/workflows/data/greenplum/matrix.yml
  onetl/connection/db_connection/greenplum/connection.py
  tests/fixtures/spark.py
Due: flake8, mypy

Update spark.py
  tests/fixtures/spark.py
Due: flake8, mypy

Update matrix.yml
  .github/workflows/data/greenplum/matrix.yml
Due: none

[DOP-8959] Add Excel file format support
  .github/workflows/data/greenplum/matrix.yml
  .github/workflows/data/local-fs/matrix.yml
  .github/workflows/data/mongodb/matrix.yml
  .github/workflows/data/s3/matrix.yml
  README.rst
  docs/changelog/next_release/148.feature.rst
  docs/connection/db_connection/greenplum/prerequisites.rst
  docs/file_df/file_formats/avro.rst
  docs/file_df/file_formats/excel.rst
  docs/file_df/file_formats/index.rst
  docs/file_df/file_formats/orc.rst
  onetl/connection/db_connection/kafka/connection.py
  onetl/connection/db_connection/mongodb/connection.py
  onetl/connection/file_df_connection/spark_s3/connection.py
  onetl/file/format/__init__.py
  onetl/file/format/avro.py
  onetl/file/format/excel.py
  requirements/tests/spark-3.2.4.txt
  tests/fixtures/spark.py
  tests/resources/file_df_connection/generate_files.py
  tests/resources/file_df_connection/xls/with_data_address/file.xls
  tests/resources/file_df_connection/xls/with_header/file.xls
  tests/resources/file_df_connection/xls/without_header/file.xls
  tests/resources/file_df_connection/xlsx/with_data_address/file.xls
  tests/resources/file_df_connection/xlsx/with_header/file.xls
  tests/resources/file_df_connection/xlsx/without_header/file.xls
  tests/resources/requirements.txt
  tests/tests_integration/test_file_format_integration/test_avro_integration.py
  tests/tests_integration/test_file_format_integration/test_excel_integration.py
  tests/tests_unit/test_file/test_format_unit/test_excel_unit.py
  tests/util/spark_df.py
Due: flake8, mypy, towncrier

[DOP-8837] - update docker-compose.yml
  .env.dependencies
  .env.local
  docker-compose.yml
  docker/samba/.keep
Due: none

[DOP-8837] - update Samba connection method
  onetl/connection/file_connection/samba.py
  tests/tests_integration/tests_file_connection_integration/test_samba_file_connection_integration.py
Due: flake8, mypy

[DOP-8837] - implement all abstract methods for Samba connection
  onetl/connection/file_connection/samba.py
  tests/fixtures/connections/file_connections.py
  tests/tests_integration/tests_core_integration/test_file_downloader_integration.py
  tests/tests_integration/tests_core_integration/test_file_uploader_integration.py
Due: flake8, mypy

[DOP-8837] - update Samba connection method
  onetl/connection/file_connection/samba.py
Due: flake8, mypy

[DOP-8837] - add .sh script to allow dirs/files creation
  docker/Dockerfile
  docker/samba/.keep
  docker/samba/on_post_init.sh
Due: none

[DOP-8837] - hardcode env vars in docker compose configuration
  .env.docker
  docker-compose.yml
Due: none

Update onetl/connection/file_connection/samba.py
  onetl/connection/file_connection/samba.py
Due: flake8, mypy

[DOP-8837] - updated comments
  onetl/connection/file_connection/samba.py
Due: flake8, mypy

[DOP-8837] - update _create_dir method in Samba connection
  onetl/connection/file_connection/samba.py
  tests/tests_integration/tests_file_connection_integration/test_samba_file_connection_integration.py
Due: flake8, mypy

[DOP-8837] - modified Samba connection methods
  .env.local
  onetl/connection/file_connection/samba.py
  tests/tests_integration/tests_core_integration/test_file_downloader_integration.py
  tests/tests_integration/tests_core_integration/test_file_uploader_integration.py
  tests/tests_integration/tests_file_connection_integration/test_samba_file_connection_integration.py
  tests/tests_unit/tests_file_connection_unit/test_samba_unit.py
Due: flake8, mypy

[DOP-8837] - add unit tests
  tests/tests_unit/tests_file_connection_unit/test_samba_unit.py
Due: flake8, mypy

[DOP-8837] - add draft Samba connection class
  .env.dependencies
  .env.docker
  .env.local
  conftest.py
  docker-compose.yml
  onetl/connection/__init__.py
  onetl/connection/file_connection/samba.py
  requirements/samba.txt
  requirements/tests/samba.txt
  setup.py
  tests/fixtures/connections/file_connections.py
  tests/fixtures/connections/samba.py
  tests/tests_integration/tests_file_connection_integration/test_samba_file_connection_integration.py
Due: flake8, mypy

[DOP-8837] - update pytest.ini
  pytest.ini
Due: none

[DOP-8837] - remove extra .env
  .env.docker
  onetl/connection/file_connection/samba.py
Due: flake8, mypy

Update .env.docker
  .env.docker
Due: none

[DOP-8837] - add Samba file_connection class (#150)
  .env.docker
  .env.local
  conftest.py
  docker-compose.yml
  docker/Dockerfile
  docker/samba/on_post_init.sh
  onetl/connection/__init__.py
  onetl/connection/file_connection/samba.py
  pytest.ini
  requirements/samba.txt
  requirements/tests/samba.txt
  setup.py
  tests/fixtures/connections/file_connections.py
  tests/fixtures/connections/samba.py
  tests/tests_integration/tests_core_integration/test_file_downloader_integration.py
  tests/tests_integration/tests_core_integration/test_file_uploader_integration.py
  tests/tests_integration/tests_file_connection_integration/test_samba_file_connection_integration.py
  tests/tests_unit/tests_file_connection_unit/test_samba_unit.py
Due: flake8, mypy

[DOP-9007] Add ivysettings.xml examples to documentation
  README.rst
  docs/changelog/next_release/151.improvement.rst
  docs/connection/db_connection/greenplum/prerequisites.rst
  docs/index.rst
  docs/install.rst
  docs/install/index.rst
  docs/install/java_packages.rst
  docs/install/python_packages.rst
Due: towncrier

[DOP-8838] - change parameters for starting samba container
  .github/workflows/data/samba/matrix.yml
  .github/workflows/test-samba.yml
  docker-compose.yml
  docker/samba/on_post_init.sh
Due: none

[DOP-8838] - update services parameters
  .github/workflows/test-samba.yml
Due: none

[DOP-8838] - update tests.yml
  .github/workflows/tests.yml
Due: none

[DOP-8838] - change way to start samba container in docker-compose
  docker-compose.yml
  docker/samba/on_post_init.sh
Due: none

[DOP-8838] - add CI/CD for Samba connection
  .github/workflows/data/samba/ignored.txt
  .github/workflows/data/samba/matrix.yml
  .github/workflows/data/samba/tracked.txt
  .github/workflows/nightly.yml
  .github/workflows/test-samba.yml
  .github/workflows/tests.yml
Due: none

[DOP-8838] - update test-samba.yml
  .github/workflows/test-samba.yml
Due: none

[DOP-8838] - update get-matrix.yml
  .github/workflows/get-matrix.yml
Due: none

Revert "[DOP-8838] - update services parameters"
  .github/workflows/test-samba.yml
Due: none
