Repository MobileTeleSystems/onetl: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, mypy, towncrier

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: check-ast
  - id: check-case-conflict
  - id: check-docstring-first
  - id: check-executables-have-shebangs
  - id: check-merge-conflict
  - id: check-toml
  - id: check-vcs-permalinks
  - id: check-yaml
    args: [--unsafe]
  - id: requirements-txt-fixer
    files: ^(requirements/.*\.txt)$
  - id: end-of-file-fixer
    exclude: ^(.*/VERSION|tests/resources/.*/.*)$
  - id: fix-byte-order-marker
  - id: fix-encoding-pragma
    args: [--remove]
  - id: name-tests-test
    files: ^tests/(tests_integration|tests_unit)/.*\.py$
    args: [--django]
  - id: trailing-whitespace
- repo: https://github.com/Lucas-C/pre-commit-hooks
  rev: v1.5.4
  hooks:
  - id: remove-tabs
    exclude: ^docs/(make.bat|Makefile)
- repo: https://github.com/codespell-project/codespell
  rev: v2.2.5
  hooks:
  - id: codespell
    args: [-w]
- repo: https://github.com/macisamuele/language-formatters-pre-commit-hooks
  rev: v2.10.0
  hooks:
  - id: pretty-format-yaml
    args: [--autofix, --indent, '2', --preserve-quotes]
- repo: https://github.com/lovesegfault/beautysh
  rev: v6.2.1
  hooks:
  - id: beautysh
- repo: https://github.com/IamTheFij/docker-pre-commit
  rev: v3.0.1
  hooks:
  - id: docker-compose-check
- repo: https://github.com/pycqa/isort
  rev: 5.12.0
  hooks:
  - id: isort
- repo: https://github.com/pre-commit/pygrep-hooks
  rev: v1.10.0
  hooks:
  - id: python-no-log-warn
  - id: python-no-eval
  - id: rst-backticks
  - id: rst-directive-colons
  - id: rst-inline-touching-normal
  - id: text-unicode-replacement-char
- repo: https://github.com/asottile/pyupgrade
  rev: v3.10.1
  hooks:
  - id: pyupgrade
    args: [--py37-plus, --keep-runtime-typing]
- repo: https://github.com/psf/black
  rev: 23.7.0
  hooks:
  - id: black
    language_version: python3
- repo: https://github.com/asottile/blacken-docs
  rev: 1.16.0
  hooks:
  - id: blacken-docs
- repo: meta
  hooks:
  - id: check-hooks-apply
  - id: check-useless-excludes
- repo: https://github.com/PyCQA/autoflake
  rev: v2.2.1
  hooks:
  - id: autoflake
    args:
    - --in-place
    - --config=setup.cfg
- repo: local
  hooks:
  - id: flake8
    name: flake8
    entry: python3 -m flake8
    language: system
    types: [python]
    files: ^(onetl|tests)/.*$
    pass_filenames: true
  - id: mypy
    name: mypy
    entry: python3 -m mypy --config-file setup.cfg onetl
    language: system
    types: [python]
    pass_filenames: false
  - id: towncrier
    name: towncrier
    entry: towncrier build --draft
    language: system
    types: [rst]
    pass_filenames: false

ci:
  skip:
  - flake8  # checked with Github Actions
  - mypy  # checked with Github Actions
  - towncrier  # checked with Github Actions
  - docker-compose-check  # cannot run on pre-commit.ci

Fix CI for Clickhouse
  .github/workflows/data/clickhouse/matrix.yml
  .github/workflows/test-greenplum.yml
  docs/connection/db_connection/clickhouse/prerequisites.rst
Due: towncrier

Run Excel tests on Spark 3.5.3
  .github/workflows/data/local-fs/matrix.yml
  requirements/tests/spark-3.5.1.txt
  tests/fixtures/spark.py
Due: flake8, mypy

Using if_exists=replace_overlapping_partitions is DANGEROUS on non-partitioned tables
  onetl/connection/db_connection/hive/options.py
  onetl/file/file_df_writer/options.py
  tests/tests_integration/tests_core_integration/tests_db_writer_integration/test_hive_writer_integration.py
Due: flake8, mypy

[DOP-21780] Update list of Kerberos-related packages in README
  README.rst
Due: towncrier

Update Clickhouse image
  .github/workflows/data/clickhouse/matrix.yml
  docs/connection/db_connection/clickhouse/prerequisites.rst
Due: towncrier

Update Clickhouse image
  .github/workflows/data/clickhouse/matrix.yml
Due: none

Log Hive.get_schema errors
  onetl/connection/db_connection/hive/connection.py
Due: flake8, mypy

Do not automatically update license headers year
  .pre-commit-config.yaml
  LICENSE.txt
Due: none

Fix wemake-python-styleguide errors
  setup.cfg
Due: none

Fix nightly tests
  .github/workflows/data/greenplum/matrix.yml
Due: none

Use Spark 3.5.4 for tests
  .github/workflows/data/clickhouse/matrix.yml
  .github/workflows/data/core/matrix.yml
  .github/workflows/data/hdfs/matrix.yml
  .github/workflows/data/hive/matrix.yml
  .github/workflows/data/kafka/matrix.yml
  .github/workflows/data/local-fs/matrix.yml
  .github/workflows/data/mongodb/matrix.yml
  .github/workflows/data/mssql/matrix.yml
  .github/workflows/data/mysql/matrix.yml
  .github/workflows/data/oracle/matrix.yml
  .github/workflows/data/postgres/matrix.yml
  .github/workflows/data/s3/matrix.yml
  .github/workflows/data/teradata/matrix.yml
  CONTRIBUTING.rst
  README.rst
  docker-compose.yml
  docker/Dockerfile
  docs/connection/db_connection/clickhouse/types.rst
  docs/connection/db_connection/mongodb/types.rst
  docs/connection/db_connection/mssql/types.rst
  docs/connection/db_connection/mysql/types.rst
  docs/connection/db_connection/oracle/types.rst
  docs/connection/db_connection/postgres/types.rst
  onetl/_metrics/extract.py
  onetl/_metrics/listener/base.py
  onetl/_metrics/listener/execution.py
  onetl/_metrics/listener/job.py
  onetl/_metrics/listener/listener.py
  onetl/_metrics/listener/stage.py
  onetl/_metrics/listener/task.py
  onetl/_util/spark.py
  onetl/connection/db_connection/kafka/connection.py
  onetl/connection/file_df_connection/spark_s3/connection.py
  onetl/file/format/avro.py
  onetl/file/format/xml.py
  requirements/tests/spark-3.5.4.txt
  tests/tests_unit/test_file/test_format_unit/test_avro_unit.py
  tests/tests_unit/test_file/test_format_unit/test_excel_unit.py
  tests/tests_unit/tests_file_df_connection_unit/test_spark_s3_unit.py
Due: flake8, mypy, towncrier

Add Python 3.13 support
  .github/workflows/data/core/matrix.yml
  .github/workflows/data/ftp/matrix.yml
  .github/workflows/data/ftps/matrix.yml
  .github/workflows/data/hdfs/matrix.yml
  .github/workflows/data/s3/matrix.yml
  .github/workflows/data/sftp/matrix.yml
  .github/workflows/data/webdav/matrix.yml
  .github/workflows/test-webdav.yml
  README.rst
  docs/changelog/next_release/298.breaking.rst
  onetl/VERSION
  onetl/base/base_file_format.py
  onetl/connection/db_connection/greenplum/connection.py
  onetl/connection/db_connection/hive/connection.py
  onetl/connection/db_connection/hive/options.py
  onetl/connection/db_connection/jdbc_connection/connection.py
  onetl/connection/db_connection/jdbc_connection/options.py
  onetl/connection/db_connection/jdbc_mixin/connection.py
  onetl/connection/file_df_connection/spark_file_df_connection.py
  onetl/file/format/file_format.py
  onetl/strategy/incremental_strategy.py
Due: flake8, mypy, towncrier

Update CI matrix to use Python 3.13
  .github/workflows/changelog.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/data/clickhouse/matrix.yml
  .github/workflows/data/core/matrix.yml
  .github/workflows/data/ftp/matrix.yml
  .github/workflows/data/ftps/matrix.yml
  .github/workflows/data/hdfs/matrix.yml
  .github/workflows/data/hive/matrix.yml
  .github/workflows/data/kafka/matrix.yml
  .github/workflows/data/local-fs/matrix.yml
  .github/workflows/data/mongodb/matrix.yml
  .github/workflows/data/mssql/matrix.yml
  .github/workflows/data/mysql/matrix.yml
  .github/workflows/data/oracle/matrix.yml
  .github/workflows/data/postgres/matrix.yml
  .github/workflows/data/s3/matrix.yml
  .github/workflows/data/samba/matrix.yml
  .github/workflows/data/sftp/matrix.yml
  .github/workflows/data/teradata/matrix.yml
  .github/workflows/data/webdav/matrix.yml
  .github/workflows/dev-release.yml
  .github/workflows/get-matrix.yml
  .github/workflows/nightly.yml
  .github/workflows/release.yml
  .github/workflows/tests.yml
  .readthedocs.yml
  README.rst
  codecov.yml
  docker/Dockerfile
  setup.py
Due: mypy, towncrier

Bump minimal coverage percent
  codecov.yml
Due: none

Fix ReadTheDocs build
  .readthedocs.yml
Due: none

[DOP-22144] Introduce TotalFilesSize limit
  docs/changelog/next_release/326.feature.rst
  docs/file/file_limits/index.rst
  docs/file/file_limits/total_files_size.rst
  onetl/file/file_downloader/file_downloader.py
  onetl/file/file_mover/file_mover.py
  onetl/file/limit/__init__.py
  onetl/file/limit/max_files_count.py
  onetl/file/limit/total_files_size.py
  setup.cfg
  tests/tests_unit/test_file/test_limit/test_total_files_size.py
Due: flake8, mypy, towncrier

[DOP-22143] Introduce FileSizeRange
  docs/changelog/next_release/325.feature.rst
  docs/file/file_filters/file_size_filter.rst
  docs/file/file_filters/index.rst
  onetl/file/filter/__init__.py
  onetl/file/filter/file_size.py
  setup.cfg
  tests/tests_unit/test_file/test_filter/test_file_size_range.py
Due: flake8, mypy, towncrier

[DOP-22144] Introduce TotalFilesSize limit
  docs/changelog/next_release/326.feature.rst
  docs/file/file_limits/index.rst
  docs/file/file_limits/total_files_size.rst
  onetl/file/file_downloader/file_downloader.py
  onetl/file/file_mover/file_mover.py
  onetl/file/limit/__init__.py
  onetl/file/limit/max_files_count.py
  onetl/file/limit/total_files_size.py
  tests/tests_unit/test_file/test_limit/test_total_files_size.py
Due: flake8, mypy, towncrier

[DOP-22144] Change logic of applying limits in FileConnection.walk
  docs/changelog/next_release/327.breaking.rst
  onetl/base/base_file_connection.py
  onetl/connection/file_connection/file_connection.py
  onetl/core/file_limit/file_limit.py
  onetl/file/limit/limits_reached.py
  onetl/file/limit/limits_stop_at.py
  onetl/file/limit/max_files_count.py
  onetl/file/limit/reset_limits.py
  onetl/file/limit/total_files_size.py
  tests/tests_integration/tests_core_integration/test_file_downloader_integration.py
  tests/tests_unit/test_file/test_file_limit_unit.py
  tests/tests_unit/test_file/test_limit/test_limits_are_reached.py
  tests/tests_unit/test_file/test_limit/test_limits_stop_at.py
  tests/tests_unit/test_file/test_limit/test_max_files_count.py
  tests/tests_unit/test_file/test_limit/test_reset_limits.py
  tests/tests_unit/test_file/test_limit/test_total_files_size.py
Due: flake8, mypy, towncrier

Update compatibility matrix
  README.rst
Due: towncrier

[DOP-23318] Fix CI matrix for Python 3.7
  .github/workflows/data/clickhouse/matrix.yml
  .github/workflows/data/core/matrix.yml
  .github/workflows/data/ftp/matrix.yml
  .github/workflows/data/ftps/matrix.yml
  .github/workflows/data/greenplum/matrix.yml
  .github/workflows/data/hdfs/matrix.yml
  .github/workflows/data/hive/matrix.yml
  .github/workflows/data/kafka/matrix.yml
  .github/workflows/data/local-fs/matrix.yml
  .github/workflows/data/mongodb/matrix.yml
  .github/workflows/data/mysql/matrix.yml
  .github/workflows/data/oracle/matrix.yml
  .github/workflows/data/postgres/matrix.yml
  .github/workflows/data/s3/matrix.yml
  .github/workflows/data/samba/matrix.yml
  .github/workflows/data/sftp/matrix.yml
  .github/workflows/data/webdav/matrix.yml
Due: none

[DOP-23318] Fix Oracle tests on ubuntu-24.04
  .github/workflows/test-oracle.yml
Due: none

[DOP-23318] Avoid suppressing Hive Metastore errors
  docs/changelog/next_release/329.bugfix.rst
  onetl/connection/db_connection/hive/connection.py
Due: flake8, mypy, towncrier

Update onetl/connection/db_connection/hive/connection.py
  onetl/connection/db_connection/hive/connection.py
Due: flake8, mypy

[DOP-22127] Implement FileModificationTime filter
  docs/changelog/next_release/330.feature.rst
  docs/file/file_filters/file_mtime_filter.rst
  docs/file/file_filters/index.rst
  onetl/base/base_file_filter.py
  onetl/connection/file_connection/file_connection.py
  onetl/connection/file_connection/webdav.py
  onetl/file/file_downloader/file_downloader.py
  onetl/file/file_mover/file_mover.py
  onetl/file/filter/__init__.py
  onetl/file/filter/file_mtime.py
  onetl/file/filter/file_size.py
  onetl/impl/path_repr.py
  setup.cfg
  tests/tests_integration/tests_core_integration/test_file_downloader_integration.py
  tests/tests_integration/tests_core_integration/test_file_mover_integration.py
  tests/tests_unit/test_file/test_filter/test_file_modified_time.py
  tests/tests_unit/test_file/test_filter/test_file_size_range.py
  tests/tests_unit/test_impl_unit.py
Due: flake8, mypy, towncrier

[DOP-22130] Add support for FileModifiedTimeHWM
  docs/changelog/next_release/331.dependency.rst
  onetl/connection/file_connection/s3.py
  onetl/file/file_downloader/file_downloader.py
  onetl/strategy/incremental_strategy.py
  requirements/core.txt
  tests/fixtures/hwm_delta.py
  tests/tests_integration/tests_core_integration/test_file_downloader_integration.py
  tests/tests_integration/tests_strategy_integration/tests_incremental_strategy_integration/test_strategy_increment_file.py
  tests/tests_unit/test_file/test_file_downloader_unit.py
Due: flake8, mypy, towncrier

[DOP-22427] All hardcoded passwords in this repo are used ONLY for tests
  .env.dependencies
  .env.docker
  .env.local
  .github/workflows/data/db/tracked.txt
  .github/workflows/data/file/tracked.txt
  .github/workflows/data/ftp/tracked.txt
  .github/workflows/data/ftps/tracked.txt
  .github/workflows/data/hdfs/tracked.txt
  .github/workflows/data/s3/matrix.yml
  .github/workflows/data/webdav/tracked.txt
  .github/workflows/test-clickhouse.yml
  .github/workflows/test-kafka.yml
  .github/workflows/test-mongodb.yml
  .github/workflows/test-mysql.yml
  .github/workflows/test-oracle.yml
  .github/workflows/test-postgres.yml
  .github/workflows/test-s3.yml
  .github/workflows/test-sftp.yml
  docker-compose.yml
  docker/mssql/setup.sql
  docker/samba/custom_entrypoint.sh
  tests/fixtures/processing/clickhouse.py
  tests/fixtures/processing/mongodb.py
  tests/fixtures/processing/mssql.py
  tests/fixtures/processing/mysql.py
  tests/fixtures/processing/oracle.py
  tests/fixtures/processing/postgres.py
  tests/tests_integration/tests_db_connection_integration/test_clickhouse_integration.py
  tests/tests_integration/tests_db_connection_integration/test_mysql_integration.py
Due: flake8, mypy
