Repository MobileTeleSystems/onetl: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, mypy, towncrier

flake8:
  name: flake8
  entry: python3 -m flake8
  language: system
  pass_filenames: true

mypy:
  name: mypy
  entry: python3 -m mypy --config-file setup.cfg onetl
  language: system
  pass_filenames: false

towncrier:
  name: towncrier
  entry: towncrier build --draft
  language: system
  pass_filenames: false

fix formatting for the rest of parts
  mddocs/docs/en/concepts.md
  mddocs/docs/en/contributing.md
  mddocs/docs/en/file_df/file_formats/index.md
  mddocs/docs/en/file_df/index.md
  mddocs/docs/en/full_install.md
  mddocs/docs/en/hooks/support_hooks.md
  mddocs/docs/en/install/index.md
  mddocs/docs/en/minimal_install.md
  mddocs/docs/en/nav.md
  mddocs/docs/en/plugins.md
  mddocs/docs/en/quickstart.md
  mddocs/docs/en/snippet_0.md
  mddocs/docs/en/troubleshooting/index.md
  mddocs/docs/en/troubleshooting/spark.md
  mddocs/docs/ru/concepts.md
  mddocs/docs/ru/contributing.md
  mddocs/docs/ru/full_install.md
  mddocs/docs/ru/install/files.md
  mddocs/docs/ru/install/full.md
  mddocs/docs/ru/install/index.md
  mddocs/docs/ru/install/kerberos.md
  mddocs/docs/ru/minimal_install.md
  mddocs/docs/ru/nav.md
  mddocs/docs/ru/plugins.md
  mddocs/docs/ru/quickstart.md
  mddocs/docs/ru/snippet_0.md
  mddocs/docs/ru/troubleshooting/index.md
  mddocs/docs/ru/troubleshooting/spark.md
Due: none

check remote change
  mddocs/docs/ru/contributing.md
Due: none

another check for remote change
  mddocs/docs/ru/contributing.md
Due: none

third check for remote change
  mddocs/docs/ru/contributing.md
Due: none

final (hope) check for remote change
  mddocs/docs/ru/contributing.md
Due: none

fix some errors
  mddocs/docs/en/hooks/global_state.md
  mddocs/docs/en/hooks/index.md
  mddocs/docs/en/hooks/support_hooks.md
  mddocs/docs/en/nav.md
  mddocs/docs/ru/connection/db_connection/kafka/troubleshooting.md
  mddocs/docs/ru/connection/file_df_connection/spark_s3/troubleshooting.md
  mddocs/docs/ru/hooks/global_state.md
  mddocs/docs/ru/hooks/index.md
  mddocs/docs/ru/hooks/support_hooks.md
  mddocs/docs/ru/logging.md
  mddocs/docs/ru/nav.md
Due: none

[DOP-28140] Add Iceberg format
  docs/changelog/next_release/378.feature.rst
  docs/file_df/file_formats/iceberg.rst
  docs/file_df/file_formats/index.rst
  onetl/connection/db_connection/dialect_mixins/__init__.py
  onetl/connection/db_connection/dialect_mixins/support_name_with_catalog_and_schema.py
  onetl/connection/db_connection/hive/connection.py
  onetl/connection/db_connection/hive/dialect.py
  onetl/file/format/__init__.py
  onetl/file/format/iceberg.py
  tests/tests_unit/test_db/test_db_writer_unit/test_hive_writer_unit.py
  tests/tests_unit/test_file/test_format_unit/test_iceberg_unit.py
Due: flake8, mypy, towncrier

Treat S3 objects with name ending with slash as directory marker
  .github/workflows/data/s3/matrix.yml
  docs/changelog/next_release/379.feature.rst
  onetl/connection/file_connection/file_connection.py
  onetl/connection/file_connection/s3.py
  onetl/connection/file_connection/webdav.py
  tests/tests_integration/tests_core_integration/test_file_downloader_integration.py
  tests/tests_integration/tests_core_integration/test_file_mover_integration.py
  tests/tests_integration/tests_file_connection_integration/test_s3_file_connection_integration.py
Due: flake8, mypy, towncrier

Speed up remove_dir_recursive
  docs/changelog/next_release/380.improvement.rst
  onetl/connection/file_connection/file_connection.py
  onetl/connection/file_connection/s3.py
  onetl/connection/file_connection/samba.py
Due: flake8, mypy, towncrier

Update Excel package
  docs/changelog/next_release/382.breaking.rst
  onetl/file/format/excel.py
  tests/fixtures/spark.py
  tests/tests_unit/test_file/test_format_unit/test_excel_unit.py
Due: flake8, mypy, towncrier

Return full path in list_dir/walk
  docs/changelog/next_release/381.breaking.rst
  onetl/base/base_file_connection.py
  onetl/connection/file_connection/file_connection.py
  onetl/connection/file_connection/s3.py
  onetl/file/file_downloader/file_downloader.py
  onetl/file/file_mover/file_mover.py
  tests/tests_integration/tests_core_integration/test_file_downloader_integration.py
  tests/tests_integration/tests_core_integration/test_file_mover_integration.py
  tests/tests_integration/tests_core_integration/test_file_uploader_integration.py
  tests/tests_integration/tests_file_connection_integration/test_file_connection_common_integration.py
  tests/tests_integration/tests_file_connection_integration/test_s3_file_connection_integration.py
Due: flake8, mypy, towncrier

Fix Greenplum example with spark.mastr=local
  docs/connection/db_connection/greenplum/prerequisites.rst
Due: towncrier

Fix wording in Greenplum writing docs
  docs/connection/db_connection/greenplum/types.rst
Due: towncrier

Add integration tests for Iceberg
  onetl/file/format/iceberg.py
  pytest.ini
  tests/fixtures/processing/fixtures.py
  tests/fixtures/spark.py
  tests/tests_integration/test_file_format_integration/test_iceberg_integration.py
  tests/tests_integration/tests_core_integration/tests_db_reader_integration/test_hive_iceberg_reader_integration.py
  tests/tests_integration/tests_core_integration/tests_db_writer_integration/test_hive_iceberg_writer_integration.py
Due: flake8, mypy

Add Iceberg as a DBConnection
  docs/changelog/next_release/386.feature.rst
  docs/file_df/file_formats/iceberg.rst
  onetl/connection/__init__.py
  onetl/connection/db_connection/dialect_mixins/support_columns_list.py
  onetl/connection/db_connection/iceberg/__init__.py
  onetl/connection/db_connection/iceberg/connection.py
  onetl/connection/db_connection/iceberg/dialect.py
  onetl/connection/db_connection/iceberg/extra.py
  onetl/connection/db_connection/iceberg/options.py
  onetl/file/format/__init__.py
  onetl/file/format/iceberg.py
  tests/fixtures/processing/fixtures.py
  tests/fixtures/processing/iceberg.py
  tests/fixtures/spark.py
  tests/tests_integration/test_file_format_integration/test_iceberg_integration.py
  tests/tests_integration/tests_core_integration/tests_db_reader_integration/test_hive_iceberg_reader_integration.py
  tests/tests_integration/tests_core_integration/tests_db_reader_integration/test_iceberg_reader_integration.py
  tests/tests_integration/tests_core_integration/tests_db_writer_integration/test_hive_iceberg_writer_integration.py
  tests/tests_integration/tests_core_integration/tests_db_writer_integration/test_iceberg_writer_integration.py
  tests/tests_integration/tests_db_connection_integration/test_iceberg_integration.py
  tests/tests_unit/test_db/test_db_reader_unit/test_iceberg_reader.py
  tests/tests_unit/test_db/test_db_writer_unit/test_iceberg_writer_unit.py
  tests/tests_unit/test_file/test_format_unit/test_iceberg_unit.py
  tests/tests_unit/tests_db_connection_unit/test_iceberg_unit.py
Due: flake8, mypy, towncrier

review
  .github/workflows/data/iceberg/ignored.txt
  .github/workflows/data/iceberg/matrix.yml
  .github/workflows/data/iceberg/tracked.txt
  .github/workflows/test-iceberg.yml
  .github/workflows/tests.yml
  onetl/connection/db_connection/dialect_mixins/__init__.py
  onetl/connection/db_connection/dialect_mixins/support_name_with_catalog_and_schema.py
  onetl/connection/db_connection/hive/connection.py
  onetl/connection/db_connection/hive/dialect.py
  onetl/connection/db_connection/hive/options.py
  onetl/connection/db_connection/iceberg/connection.py
  onetl/connection/db_connection/iceberg/dialect.py
  onetl/connection/db_connection/iceberg/options.py
  tests/fixtures/processing/iceberg.py
  tests/tests_integration/tests_core_integration/tests_db_writer_integration/test_iceberg_writer_integration.py
  tests/tests_integration/tests_db_connection_integration/test_iceberg_integration.py
  tests/tests_unit/test_db/test_db_writer_unit/test_hive_writer_unit.py
  tests/tests_unit/test_db/test_db_writer_unit/test_iceberg_writer_unit.py
  tests/tests_unit/tests_db_connection_unit/test_iceberg_unit.py
Due: flake8, mypy

fix CI
  .github/workflows/data/hive/tracked.txt
  .github/workflows/data/iceberg/ignored.txt
  .github/workflows/data/iceberg/matrix.yml
  .github/workflows/data/iceberg/tracked.txt
  .github/workflows/nightly.yml
  .github/workflows/test-hive-and-iceberg.yml
  .github/workflows/test-hive.yml
  .github/workflows/tests.yml
  tests/fixtures/processing/iceberg.py
  tests/tests_integration/tests_db_connection_integration/test_iceberg_integration.py
Due: flake8, mypy

Add Spark 4.0 support
  .github/workflows/data/clickhouse/matrix.yml
  .github/workflows/data/core/matrix.yml
  .github/workflows/data/hdfs/matrix.yml
  .github/workflows/data/hive/matrix.yml
  .github/workflows/data/kafka/matrix.yml
  .github/workflows/data/local-fs/matrix.yml
  .github/workflows/data/mongodb/matrix.yml
  .github/workflows/data/mssql/matrix.yml
  .github/workflows/data/mysql/matrix.yml
  .github/workflows/data/oracle/matrix.yml
  .github/workflows/data/postgres/matrix.yml
  .github/workflows/data/s3/matrix.yml
  README.rst
  docs/changelog/next_release/297.feature.rst
  docs/connection/db_connection/clickhouse/prerequisites.rst
  docs/connection/db_connection/hive/prerequisites.rst
  docs/connection/db_connection/kafka/prerequisites.rst
  docs/connection/db_connection/mongodb/prerequisites.rst
  docs/connection/db_connection/mssql/prerequisites.rst
  docs/connection/db_connection/mysql/prerequisites.rst
  docs/connection/db_connection/oracle/prerequisites.rst
  docs/connection/db_connection/postgres/prerequisites.rst
  onetl/_util/scala.py
  onetl/connection/db_connection/db_connection/dialect.py
  onetl/connection/db_connection/greenplum/connection.py
  onetl/connection/db_connection/jdbc_connection/connection.py
  onetl/connection/db_connection/jdbc_mixin/connection.py
  onetl/file/format/excel.py
  onetl/file/format/xml.py
  onetl/hwm/store/hwm_class_registry.py
  requirements/tests/spark-4.0.0.txt
  tests/fixtures/processing/mysql.py
  tests/fixtures/spark.py
  tests/tests_integration/tests_core_integration/tests_db_reader_integration/test_hive_reader_integration.py
  tests/tests_integration/tests_core_integration/tests_db_reader_integration/test_iceberg_reader_integration.py
  tests/tests_integration/tests_core_integration/tests_db_writer_integration/test_iceberg_writer_integration.py
  tests/tests_integration/tests_db_connection_integration/test_iceberg_integration.py
  tests/tests_integration/tests_strategy_integration/tests_incremental_strategy_integration/test_strategy_increment_hive.py
  tests/tests_unit/test_db/test_db_writer_unit/test_iceberg_writer_unit.py
  tests/util/to_pandas.py
Due: flake8, mypy, towncrier

[DOP-28362] Note Iceberg in connections list
  README.rst
  docs/concepts.rst
Due: towncrier

[DOP-28375] Add basic Iceberg docs
  docs/changelog/next_release/387.doc.rst
  docs/connection/db_connection/hive/read.rst
  docs/connection/db_connection/iceberg/connection.rst
  docs/connection/db_connection/iceberg/execute.rst
  docs/connection/db_connection/iceberg/index.rst
  docs/connection/db_connection/iceberg/prerequisites.rst
  docs/connection/db_connection/iceberg/read.rst
  docs/connection/db_connection/iceberg/sql.rst
  docs/connection/db_connection/iceberg/write.rst
  docs/connection/db_connection/index.rst
  onetl/connection/db_connection/iceberg/connection.py
Due: flake8, mypy, towncrier

[DOP-28375] Small documentation fixes
  docs/connection/db_connection/hive/read.rst
  docs/connection/db_connection/hive/sql.rst
  docs/connection/db_connection/hive/write.rst
  docs/connection/db_connection/iceberg/execute.rst
  docs/connection/db_connection/iceberg/prerequisites.rst
  docs/connection/db_connection/iceberg/read.rst
  docs/connection/db_connection/iceberg/sql.rst
  docs/connection/db_connection/iceberg/write.rst
  onetl/connection/db_connection/iceberg/connection.py
Due: flake8, mypy, towncrier

Update DB connection packages
  .github/workflows/data/mysql/matrix.yml
  docs/changelog/next_release/+.breaking.rst
  docs/connection/db_connection/mongodb/types.rst
  docs/connection/db_connection/mysql/prerequisites.rst
  onetl/connection/db_connection/iceberg/connection.py
  onetl/connection/db_connection/mongodb/connection.py
  onetl/connection/db_connection/mssql/connection.py
  onetl/connection/db_connection/mysql/connection.py
  onetl/connection/db_connection/oracle/connection.py
  onetl/connection/db_connection/postgres/connection.py
  tests/tests_unit/tests_db_connection_unit/test_mongodb_unit.py
  tests/tests_unit/tests_db_connection_unit/test_mssql_unit.py
  tests/tests_unit/tests_db_connection_unit/test_mysql_unit.py
  tests/tests_unit/tests_db_connection_unit/test_oracle_unit.py
  tests/tests_unit/tests_db_connection_unit/test_postgres_unit.py
Due: flake8, mypy, towncrier

Fix MySQL tests
  tests/tests_integration/tests_db_connection_integration/test_mysql_integration.py
Due: flake8, mypy

Prepare for release
  docs/changelog/0.14.0.rst
  docs/changelog/index.rst
  docs/changelog/next_release/+.breaking.rst
  docs/changelog/next_release/297.feature.rst
  docs/changelog/next_release/378.feature.rst
  docs/changelog/next_release/379.feature.rst
  docs/changelog/next_release/380.improvement.rst
  docs/changelog/next_release/381.breaking.rst
  docs/changelog/next_release/382.breaking.rst
  docs/changelog/next_release/383.breaking.rst
  docs/changelog/next_release/386.feature.rst
  docs/changelog/next_release/387.doc.rst
Due: towncrier

Update CI matrix
  .github/workflows/data/clickhouse/matrix.yml
  .github/workflows/data/kafka/matrix.yml
  .github/workflows/data/mongodb/matrix.yml
  .github/workflows/data/mssql/matrix.yml
  .github/workflows/data/postgres/matrix.yml
  .github/workflows/test-s3.yml
  docker-compose.yml
  docs/connection/db_connection/clickhouse/prerequisites.rst
  docs/connection/db_connection/mongodb/prerequisites.rst
  docs/connection/db_connection/mssql/prerequisites.rst
  docs/connection/db_connection/postgres/prerequisites.rst
Due: towncrier

replaced codecov with pytest-cov
  .github/workflows/tests.yml
  README.rst
  codecov.yml
Due: towncrier

[DOP-28547] Bump minimal test coverage in CI
  .github/workflows/tests.yml
Due: none

Bump version
  docs/changelog/0.14.0.rst
  onetl/VERSION
Due: towncrier

[DOP-28365] Add support for IcebergRESTCatalog
  docs/changelog/next_release/391.feature.rst
  onetl/connection/db_connection/iceberg/catalog/__init__.py
  onetl/connection/db_connection/iceberg/catalog/base.py
  onetl/connection/db_connection/iceberg/catalog/rest.py
  onetl/connection/db_connection/iceberg/connection.py
  tests/tests_unit/tests_db_connection_unit/test_iceberg_unit.py
Due: flake8, mypy, towncrier

[DOP-28400] Move path_style_access from SparkS3.extra
  README.rst
  docs/changelog/next_release/392.feature.rst
  docs/connection/file_df_connection/spark_s3/prerequisites.rst
  docs/connection/file_df_connection/spark_s3/troubleshooting.rst
  onetl/connection/file_df_connection/spark_s3/connection.py
  tests/fixtures/connections/s3.py
  tests/tests_integration/test_file_df_connection_integration/test_spark_s3_integration.py
  tests/tests_unit/tests_file_df_connection_unit/test_spark_s3_unit.py
Due: flake8, mypy, towncrier

Path conditions:
  flake8: any of: ^(onetl|tests)/.*$ and \.py$
  mypy: any of: \.py$
  towncrier: any of: \.rst$
