Repository MobileTeleSystems/onetl: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, mypy, towncrier

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: check-ast
  - id: check-case-conflict
  - id: check-docstring-first
  - id: check-executables-have-shebangs
  - id: check-merge-conflict
  - id: check-toml
  - id: check-vcs-permalinks
  - id: check-yaml
    args: [--unsafe]
  - id: requirements-txt-fixer
    files: ^(requirements/.*\.txt)$
  - id: end-of-file-fixer
    exclude: ^(.*/VERSION|tests/resources/.*/.*)$
  - id: fix-byte-order-marker
  - id: fix-encoding-pragma
    args: [--remove]
  - id: name-tests-test
    files: ^tests/(tests_integration|tests_unit)/.*\.py$
    args: [--django]
  - id: trailing-whitespace
- repo: https://github.com/Lucas-C/pre-commit-hooks
  rev: v1.5.4
  hooks:
  - id: remove-tabs
    exclude: ^docs/(make.bat|Makefile)
- repo: https://github.com/codespell-project/codespell
  rev: v2.2.5
  hooks:
  - id: codespell
    args: [-w]
- repo: https://github.com/macisamuele/language-formatters-pre-commit-hooks
  rev: v2.10.0
  hooks:
  - id: pretty-format-yaml
    args: [--autofix, --indent, '2', --preserve-quotes]
- repo: https://github.com/lovesegfault/beautysh
  rev: v6.2.1
  hooks:
  - id: beautysh
- repo: https://github.com/IamTheFij/docker-pre-commit
  rev: v3.0.1
  hooks:
  - id: docker-compose-check
- repo: https://github.com/pycqa/isort
  rev: 5.12.0
  hooks:
  - id: isort
- repo: https://github.com/pre-commit/pygrep-hooks
  rev: v1.10.0
  hooks:
  - id: python-no-log-warn
  - id: python-no-eval
  - id: rst-backticks
  - id: rst-directive-colons
  - id: rst-inline-touching-normal
  - id: text-unicode-replacement-char
- repo: https://github.com/asottile/pyupgrade
  rev: v3.10.1
  hooks:
  - id: pyupgrade
    args: [--py37-plus, --keep-runtime-typing]
- repo: https://github.com/psf/black
  rev: 23.7.0
  hooks:
  - id: black
    language_version: python3
- repo: https://github.com/asottile/blacken-docs
  rev: 1.16.0
  hooks:
  - id: blacken-docs
- repo: meta
  hooks:
  - id: check-hooks-apply
  - id: check-useless-excludes
- repo: https://github.com/PyCQA/autoflake
  rev: v2.2.1
  hooks:
  - id: autoflake
    args:
    - --in-place
    - --config=setup.cfg
- repo: local
  hooks:
  - id: flake8
    name: flake8
    entry: python3 -m flake8
    language: system
    types: [python]
    files: ^(onetl|tests)/.*$
    pass_filenames: true
  - id: mypy
    name: mypy
    entry: python3 -m mypy --config-file setup.cfg onetl
    language: system
    types: [python]
    pass_filenames: false
  - id: towncrier
    name: towncrier
    entry: towncrier build --draft
    language: system
    types: [rst]
    pass_filenames: false

ci:
  skip:
  - flake8  # checked with Github Actions
  - mypy  # checked with Github Actions
  - towncrier  # checked with Github Actions
  - docker-compose-check  # cannot run on pre-commit.ci

[DOP-22434] Improve ORC documentation
  docs/file_df/file_formats/orc.rst
  onetl/connection/db_connection/hive/connection.py
  onetl/file/format/orc.py
  tests/tests_unit/test_file/test_format_unit/test_orc_unit.py
Due: flake8, mypy, towncrier

[DOP-22434] Improve Parquet documentation
  docs/file_df/file_formats/parquet.rst
  onetl/file/format/parquet.py
  tests/tests_unit/test_file/test_format_unit/test_parquet_unit.py
Due: flake8, mypy, towncrier

[DOP-22434] Improve Avro documentation
  docs/file_df/file_formats/avro.rst
  docs/file_df/file_formats/xml.rst
  onetl/file/format/avro.py
  tests/tests_integration/test_file_format_integration/test_avro_integration.py
  tests/tests_unit/test_file/test_format_unit/test_avro_unit.py
  tests/tests_unit/test_file/test_format_unit/test_xml_unit.py
Due: flake8, mypy, towncrier

[DOP-22434] Sort format options in repr
  onetl/file/format/csv.py
  onetl/file/format/excel.py
  onetl/file/format/json.py
  onetl/file/format/jsonline.py
  onetl/file/format/orc.py
  onetl/file/format/parquet.py
  onetl/file/format/xml.py
  tests/tests_unit/test_file/test_format_unit/test_csv_unit.py
  tests/tests_unit/test_file/test_format_unit/test_parquet_unit.py
  tests/tests_unit/test_file/test_format_unit/test_xml_unit.py
Due: flake8, mypy

[DOP-22434] Improve file format documentation
  onetl/file/format/avro.py
  onetl/file/format/csv.py
  onetl/file/format/excel.py
  onetl/file/format/json.py
  onetl/file/format/jsonline.py
  onetl/file/format/orc.py
  onetl/file/format/parquet.py
  onetl/file/format/xml.py
Due: flake8, mypy

[DOP-22434] Improve DB options documentation
  onetl/connection/db_connection/clickhouse/options.py
  onetl/connection/db_connection/greenplum/options.py
  onetl/connection/db_connection/hive/options.py
  onetl/connection/db_connection/jdbc_connection/options.py
  onetl/connection/db_connection/jdbc_mixin/options.py
  onetl/connection/db_connection/kafka/kafka_ssl_protocol.py
  onetl/connection/db_connection/kafka/options.py
  onetl/connection/db_connection/mongodb/options.py
  onetl/connection/db_connection/mssql/options.py
  onetl/connection/db_connection/mysql/options.py
  onetl/connection/db_connection/oracle/options.py
  onetl/connection/db_connection/postgres/options.py
  onetl/connection/db_connection/teradata/options.py
  onetl/file/file_df_reader/options.py
  onetl/file/file_df_writer/options.py
  onetl/file/file_downloader/options.py
  onetl/file/file_mover/options.py
  onetl/file/file_uploader/options.py
  onetl/file/format/avro.py
  onetl/file/format/csv.py
  onetl/file/format/excel.py
  onetl/file/format/json.py
  onetl/file/format/jsonline.py
  onetl/file/format/orc.py
  onetl/file/format/parquet.py
  onetl/file/format/xml.py
Due: flake8, mypy

[DOP-22434] Prepare for release
  docs/changelog/0.13.4.rst
  docs/changelog/index.rst
  docs/changelog/next_release/352.doc.rst
  docs/changelog/next_release/354.doc.rst
  onetl/connection/db_connection/mongodb/connection.py
Due: flake8, mypy, towncrier

[DOP-22434] Bump version
  onetl/VERSION
Due: none

[DOP-22434] Wrap pip install onetl[extras] with quotes
  README.rst
  onetl/_util/spark.py
  onetl/connection/file_connection/ftp.py
  onetl/connection/file_connection/ftps.py
  onetl/connection/file_connection/hdfs/connection.py
  onetl/connection/file_connection/s3.py
  onetl/connection/file_connection/samba.py
  onetl/connection/file_connection/sftp.py
  onetl/connection/file_connection/webdav.py
Due: flake8, mypy, towncrier

check markup in root before docstrings test
  mddocs/changelog.md
  mddocs/changelog/DRAFT.md
  mddocs/changelog/NEXT_RELEASE.md
  mddocs/changelog/index.md
  mddocs/concepts.md
  mddocs/conf.py
  mddocs/connection/db_connection/index.md
  mddocs/connection/index.md
  mddocs/contributing.md
  mddocs/db/index.md
  mddocs/file/index.md
  mddocs/file_df/index.md
  mddocs/index.md
  mddocs/install/index.md
  mddocs/logging.md
  mddocs/plugins.md
Due: mypy

[DOP-22425] Fix Greenplum.check() opening too many connections
  onetl/connection/db_connection/greenplum/connection.py
Due: flake8, mypy

[DOP-22425] Prepare for release
  docs/changelog/0.13.5.rst
  docs/changelog/index.rst
Due: towncrier

[DOP-22425] Fix CHANGELOG
  docs/changelog/0.13.5.rst
Due: towncrier

[DOP-22425] Bump version
  onetl/VERSION
Due: none

Fix 'Tests done' is skipped if some test is failed
  .github/workflows/tests.yml
Due: none

experiments with uml
  mddocs/concepts.md
Due: none

Fix MSSQL 2017 CI matrix
  .github/workflows/data/mssql/matrix.yml
Due: none

Set permissions for Github Actions
  .github/workflows/automerge.yml
  .github/workflows/cache-cleanup.yml
  .github/workflows/changelog.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/dev-release.yml
  .github/workflows/nightly.yml
  .github/workflows/release.yml
  .github/workflows/tests.yml
Due: none

Bump black version in blacken-docs
  .pre-commit-config.yaml
Due: none

Add Spark 4.0 support
  .github/workflows/data/clickhouse/matrix.yml
  .github/workflows/data/core/matrix.yml
  .github/workflows/data/greenplum/matrix.yml
  .github/workflows/data/hdfs/matrix.yml
  .github/workflows/data/hive/matrix.yml
  .github/workflows/data/kafka/matrix.yml
  .github/workflows/data/local-fs/matrix.yml
  .github/workflows/data/mongodb/matrix.yml
  .github/workflows/data/mssql/matrix.yml
  .github/workflows/data/mysql/matrix.yml
  .github/workflows/data/oracle/matrix.yml
  .github/workflows/data/postgres/matrix.yml
  .github/workflows/data/s3/matrix.yml
  .github/workflows/data/teradata/matrix.yml
  README.rst
  docs/changelog/next_release/297.feature.rst
  docs/connection/db_connection/clickhouse/prerequisites.rst
  docs/connection/db_connection/hive/prerequisites.rst
  docs/connection/db_connection/kafka/prerequisites.rst
  docs/connection/db_connection/mongodb/prerequisites.rst
  docs/connection/db_connection/mssql/prerequisites.rst
  docs/connection/db_connection/mysql/prerequisites.rst
  docs/connection/db_connection/oracle/prerequisites.rst
  docs/connection/db_connection/postgres/prerequisites.rst
  onetl/_util/scala.py
  onetl/connection/db_connection/db_connection/dialect.py
  onetl/connection/db_connection/greenplum/connection.py
  onetl/connection/db_connection/jdbc_connection/connection.py
  onetl/connection/db_connection/jdbc_mixin/connection.py
  onetl/connection/file_connection/s3.py
  onetl/file/format/xml.py
  onetl/hwm/store/hwm_class_registry.py
  requirements/tests/spark-4.0.0.txt
  tests/fixtures/processing/mysql.py
  tests/fixtures/spark.py
  tests/tests_integration/test_file_format_integration/test_excel_integration.py
  tests/tests_integration/tests_core_integration/tests_db_reader_integration/test_hive_reader_integration.py
  tests/tests_integration/tests_strategy_integration/tests_incremental_strategy_integration/test_strategy_increment_hive.py
  tests/util/to_pandas.py
Due: flake8, mypy, towncrier

Improve remove_dir example
  onetl/base/base_file_connection.py
Due: flake8, mypy

Fix FileDFReader examples in file format docs
  onetl/file/format/csv.py
  onetl/file/format/json.py
  onetl/file/format/jsonline.py
  onetl/file/format/xml.py
Due: flake8, mypy

added changelog translation from scratch
  mddocs/docs/changelog/0.7.0.md
  mddocs/ru/changelog/0.10.0.md
  mddocs/ru/changelog/0.10.1.md
  mddocs/ru/changelog/0.10.2.md
  mddocs/ru/changelog/0.11.0.md
  mddocs/ru/changelog/0.11.1.md
  mddocs/ru/changelog/0.11.2.md
  mddocs/ru/changelog/0.12.0.md
  mddocs/ru/changelog/0.12.1.md
  mddocs/ru/changelog/0.12.2.md
  mddocs/ru/changelog/0.12.3.md
  mddocs/ru/changelog/0.12.4.md
  mddocs/ru/changelog/0.12.5.md
  mddocs/ru/changelog/0.13.0.md
  mddocs/ru/changelog/0.13.1.md
  mddocs/ru/changelog/0.13.3.md
  mddocs/ru/changelog/0.13.4.md
  mddocs/ru/changelog/0.7.0.md
  mddocs/ru/changelog/0.7.1.md
  mddocs/ru/changelog/0.7.2.md
  mddocs/ru/changelog/0.8.0.md
  mddocs/ru/changelog/0.8.1.md
  mddocs/ru/changelog/0.9.0.md
  mddocs/ru/changelog/0.9.1.md
  mddocs/ru/changelog/0.9.2.md
  mddocs/ru/changelog/0.9.3.md
  mddocs/ru/changelog/0.9.4.md
  mddocs/ru/changelog/0.9.5.md
Due: none

changelog converted & translated v.1
  mddocs/docs/changelog/0.10.0.md
  mddocs/docs/changelog/0.10.1.md
  mddocs/docs/changelog/0.11.0.md
  mddocs/docs/changelog/0.13.0.md
  mddocs/ru/changelog/0.10.0.md
  mddocs/ru/changelog/0.10.1.md
  mddocs/ru/changelog/0.10.2.md
  mddocs/ru/changelog/0.11.0.md
  mddocs/ru/changelog/0.11.1.md
  mddocs/ru/changelog/0.11.2.md
  mddocs/ru/changelog/0.12.0.md
  mddocs/ru/changelog/0.12.1.md
  mddocs/ru/changelog/0.12.2.md
  mddocs/ru/changelog/0.12.3.md
  mddocs/ru/changelog/0.12.4.md
  mddocs/ru/changelog/0.12.5.md
  mddocs/ru/changelog/0.13.0.md
  mddocs/ru/changelog/0.13.1.md
  mddocs/ru/changelog/0.13.3.md
  mddocs/ru/changelog/0.13.4.md
  mddocs/ru/changelog/0.9.5.md
Due: none

add common doc files
  mddocs/common_rst/CONTRIBUTING.md
  mddocs/common_rst/README.md
  mddocs/common_rst/SECURITY.md
  mddocs/ru/CONTRIBUTING.md
  mddocs/ru/README.md
  mddocs/ru/SECURITY.md
  mddocs/ru/concepts.md
  mddocs/ru/contributing.md
  mddocs/ru/index.md
  mddocs/ru/logging.md
  mddocs/ru/plugins.md
  mddocs/ru/quickstart.md
  mddocs/ru/security.md
Due: none
