Repository MobileTeleSystems/onetl: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, mypy

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: check-ast
  - id: check-case-conflict
  - id: check-docstring-first
  - id: check-executables-have-shebangs
  - id: check-merge-conflict
  - id: check-toml
  - id: check-vcs-permalinks
  - id: check-yaml
    args: [--unsafe]
  - id: requirements-txt-fixer
    files: ^(requirements/.*\.txt)$
  - id: end-of-file-fixer
    exclude: ^.*/VERSION$
  - id: fix-byte-order-marker
  - id: fix-encoding-pragma
    args: [--remove]
  - id: name-tests-test
    files: ^tests/(tests_integration|tests_unit)/.*\.py$
    args: [--django]
  - id: trailing-whitespace
- repo: https://github.com/Lucas-C/pre-commit-hooks
  rev: v1.5.1
  hooks:
  - id: remove-tabs
    exclude: ^docs/(make.bat|Makefile)
- repo: https://github.com/codespell-project/codespell
  rev: v2.2.4
  hooks:
  - id: codespell
    args: [-w]
- repo: https://github.com/macisamuele/language-formatters-pre-commit-hooks
  rev: v2.8.0
  hooks:
  - id: pretty-format-yaml
    args: [--autofix, --indent, '2']
- repo: https://github.com/lovesegfault/beautysh
  rev: v6.2.1
  hooks:
  - id: beautysh
- repo: https://github.com/IamTheFij/docker-pre-commit
  rev: v2.1.1
  hooks:
  - id: docker-compose-check
- repo: https://github.com/pycqa/isort
  rev: 5.11.5
  hooks:
  - id: isort
- repo: https://github.com/pre-commit/pygrep-hooks
  rev: v1.10.0
  hooks:
  - id: python-no-log-warn
  - id: python-no-eval
  - id: rst-backticks
  - id: rst-directive-colons
  - id: rst-inline-touching-normal
  - id: text-unicode-replacement-char
- repo: https://github.com/asottile/pyupgrade
  rev: v3.3.1
  hooks:
  - id: pyupgrade
    args: [--py37-plus, --keep-runtime-typing]
- repo: https://github.com/ambv/black
  rev: 23.3.0
  hooks:
  - id: black
    language_version: python3
- repo: https://github.com/asottile/blacken-docs
  rev: 1.13.0
  hooks:
  - id: blacken-docs
- repo: meta
  hooks:
  - id: check-hooks-apply
  - id: check-useless-excludes
- repo: https://github.com/myint/autoflake
  rev: v2.0.2
  hooks:
  - id: autoflake
    args:
    - --in-place
    - --config=setup.cfg
- repo: local
  hooks:
  - id: flake8
    name: flake8
    entry: python3 -m flake8
    language: system
    types: [python]
    files: ^(onetl|tests)/.*$
    pass_filenames: true
  - id: mypy
    name: mypy
    entry: python3 -m mypy --config-file setup.cfg onetl
    language: system
    types: [python]
    pass_filenames: false

ci:
  skip:
  - flake8  # checked with Github Actions
  - mypy  # checked with Github Actions
  - docker-compose-check  # cannot run on pre-commit.ci

[DOP-8511] Check if Kafka topic exists before read
  docs/changelog/next_release/138.bugfix.rst
  onetl/connection/db_connection/kafka/connection.py
  tests/tests_integration/tests_core_integration/tests_db_reader_integration/test_kafka_reader_integration.py
Due: flake8, mypy

[DOP-8511] Remove restriction for sphinx version
  requirements/docs.txt
Due: none

[DOP-8511] Allow to pass Kafka topic name in format 'some.topic.name'
  docs/changelog/next_release/139.bugfix.rst
  onetl/connection/db_connection/dialect_mixins/__init__.py
  onetl/connection/db_connection/dialect_mixins/support_name_any.py
  onetl/connection/db_connection/dialect_mixins/support_name_with_schema_only.py
  onetl/connection/db_connection/greenplum/dialect.py
  onetl/connection/db_connection/hive/dialect.py
  onetl/connection/db_connection/jdbc_connection/dialect.py
  onetl/connection/db_connection/kafka/dialect.py
  onetl/connection/db_connection/mongodb/dialect.py
  requirements/core.txt
  tests/tests_unit/test_db/test_db_reader_unit/test_clickhouse_reader_unit.py
  tests/tests_unit/test_db/test_db_reader_unit/test_greenplum_reader_unit.py
  tests/tests_unit/test_db/test_db_reader_unit/test_kafka_reader_unit.py
  tests/tests_unit/test_db/test_db_reader_unit/test_mongodb_reader_unit.py
  tests/tests_unit/test_db/test_db_reader_unit/test_mssql_reader_unit.py
  tests/tests_unit/test_db/test_db_reader_unit/test_mysql_reader_unit.py
  tests/tests_unit/test_db/test_db_reader_unit/test_oracle_reader_unit.py
  tests/tests_unit/test_db/test_db_reader_unit/test_postgres_reader_unit.py
  tests/tests_unit/test_db/test_db_reader_unit/test_teradata_reader_unit.py
  tests/tests_unit/test_db/test_db_writer_unit/test_clickhouse_writer_unit.py
  tests/tests_unit/test_db/test_db_writer_unit/test_greenplum_writer_unit.py
  tests/tests_unit/test_db/test_db_writer_unit/test_hive_writer_unit.py
  tests/tests_unit/test_db/test_db_writer_unit/test_mongodb_writer_unit.py
  tests/tests_unit/test_db/test_db_writer_unit/test_mssql_writer_unit.py
  tests/tests_unit/test_db/test_db_writer_unit/test_mysql_writer_unit.py
  tests/tests_unit/test_db/test_db_writer_unit/test_oracle_writer_unit.py
  tests/tests_unit/test_db/test_db_writer_unit/test_postgres_writer_unit.py
  tests/tests_unit/test_db/test_db_writer_unit/test_teradata_writer_unit.py
Due: flake8, mypy

[DOP-8511] Fix Greenplum connector link
  docs/connection/db_connection/greenplum/prerequisites.rst
  onetl/connection/db_connection/greenplum/connection.py
Due: flake8, mypy

[DOP-8511] Update checkout action from v3 to v4
  .github/workflows/changelog.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/dev-release.yml
  .github/workflows/get-matrix.yml
  .github/workflows/nightly.yml
  .github/workflows/release.yml
  .github/workflows/test-clickhouse.yml
  .github/workflows/test-core.yml
  .github/workflows/test-ftp.yml
  .github/workflows/test-ftps.yml
  .github/workflows/test-greenplum.yml
  .github/workflows/test-hdfs.yml
  .github/workflows/test-hive.yml
  .github/workflows/test-kafka.yml
  .github/workflows/test-local-fs.yml
  .github/workflows/test-mongodb.yml
  .github/workflows/test-mssql.yml
  .github/workflows/test-mysql.yml
  .github/workflows/test-oracle.yml
  .github/workflows/test-postgres.yml
  .github/workflows/test-s3.yml
  .github/workflows/test-sftp.yml
  .github/workflows/test-teradata.yml
  .github/workflows/test-webdav.yml
  .github/workflows/tests.yml
Due: none

[DOP-8511] Update CHANGELOG
  docs/changelog/next_release/+.improvement.rst
  docs/changelog/next_release/136.improvement.rst
Due: none

[DOP-8571] Make log messages more consistent
  README.rst
  docker-compose.yml
  docs/hooks/design.rst
  onetl/connection/db_connection/db_connection/connection.py
  onetl/connection/db_connection/greenplum/connection.py
  onetl/connection/db_connection/hive/connection.py
  onetl/connection/db_connection/jdbc_connection/connection.py
  onetl/connection/db_connection/jdbc_mixin/connection.py
  onetl/connection/db_connection/kafka/connection.py
  onetl/connection/db_connection/mongodb/connection.py
  onetl/connection/file_connection/file_connection.py
  onetl/connection/file_connection/hdfs/connection.py
  onetl/connection/file_df_connection/spark_file_df_connection.py
  onetl/connection/file_df_connection/spark_hdfs/connection.py
  onetl/file/file_downloader/file_downloader.py
  onetl/file/file_mover/file_mover.py
  onetl/file/file_uploader/file_uploader.py
  tests/tests_integration/test_file_df_connection_integration/test_spark_hdfs_integration.py
  tests/tests_integration/test_file_df_connection_integration/test_spark_local_fs_integration.py
  tests/tests_integration/test_file_df_connection_integration/test_spark_s3_integration.py
  tests/tests_integration/tests_db_connection_integration/test_clickhouse_integration.py
  tests/tests_integration/tests_db_connection_integration/test_greenplum_integration.py
  tests/tests_integration/tests_db_connection_integration/test_hive_integration.py
  tests/tests_integration/tests_db_connection_integration/test_kafka_integration.py
  tests/tests_integration/tests_db_connection_integration/test_mongodb_integration.py
  tests/tests_integration/tests_db_connection_integration/test_mssql_integration.py
  tests/tests_integration/tests_db_connection_integration/test_mysql_integration.py
  tests/tests_integration/tests_db_connection_integration/test_oracle_integration.py
  tests/tests_integration/tests_db_connection_integration/test_postgres_integration.py
  tests/tests_integration/tests_db_connection_integration/test_teradata_integration.py
  tests/tests_integration/tests_file_connection_integration/test_ftp_file_connection_integration.py
  tests/tests_integration/tests_file_connection_integration/test_ftps_file_connection_integration.py
  tests/tests_integration/tests_file_connection_integration/test_hdfs_file_connection_integration.py
  tests/tests_integration/tests_file_connection_integration/test_s3_file_connection_integration.py
  tests/tests_integration/tests_file_connection_integration/test_sftp_file_connection_integration.py
  tests/tests_integration/tests_file_connection_integration/test_webdav_file_connection_integration.py
Due: flake8, mypy

[DOP-8208] Fix validation ot includeHeaders
  docs/changelog/next_release/131.bugfix.rst
  docs/changelog/next_release/131.improvement.rst
  onetl/connection/db_connection/kafka/connection.py
  onetl/connection/db_connection/kafka/options.py
  tests/tests_integration/tests_core_integration/tests_db_writer_integration/test_kafka_writer_integration.py
  tests/tests_unit/tests_db_connection_unit/test_kafka_unit.py
Due: flake8, mypy

[DOP-8528] - update modes in GreenplumWriteOptions
  CONTRIBUTING.rst
  onetl/connection/db_connection/greenplum/connection.py
  onetl/connection/db_connection/greenplum/options.py
  tests/tests_integration/tests_core_integration/tests_db_writer_integration/test_greenplum_writer_integration.py
  tests/tests_unit/tests_db_connection_unit/test_greenplum_unit.py
Due: flake8, mypy

[DOP-8528] - updated tests
  onetl/connection/db_connection/greenplum/connection.py
  onetl/connection/db_connection/greenplum/options.py
  tests/tests_integration/tests_core_integration/tests_db_writer_integration/test_greenplum_writer_integration.py
Due: flake8, mypy

[DOP-8528] - add changelog
  docs/changelog/next_release/+.feature.rst
Due: none

[DOP-8528] - renamed changelog/feature file
  docs/changelog/next_release/142.feature.rst
Due: none

[DOP-8528] Allow modes "ignore" and "error" in GreenplumWriteOptions (#142)
  CONTRIBUTING.rst
  docs/changelog/next_release/142.feature.rst
  onetl/connection/db_connection/greenplum/connection.py
  onetl/connection/db_connection/greenplum/options.py
  tests/tests_integration/tests_core_integration/tests_db_writer_integration/test_greenplum_writer_integration.py
  tests/tests_unit/tests_db_connection_unit/test_greenplum_unit.py
Due: flake8, mypy

[DOP-8571] Make log messages more consistent
  onetl/connection/db_connection/greenplum/connection.py
  onetl/connection/db_connection/hive/connection.py
  onetl/connection/db_connection/jdbc_connection/connection.py
  onetl/connection/db_connection/jdbc_mixin/connection.py
  onetl/connection/db_connection/kafka/connection.py
  onetl/connection/db_connection/mongodb/connection.py
  onetl/connection/file_connection/file_connection.py
  onetl/connection/file_df_connection/spark_file_df_connection.py
  tests/tests_integration/test_file_df_connection_integration/test_spark_hdfs_integration.py
  tests/tests_integration/test_file_df_connection_integration/test_spark_local_fs_integration.py
  tests/tests_integration/test_file_df_connection_integration/test_spark_s3_integration.py
  tests/tests_integration/tests_core_integration/tests_db_writer_integration/test_hive_writer_integration.py
  tests/tests_integration/tests_db_connection_integration/test_clickhouse_integration.py
  tests/tests_integration/tests_db_connection_integration/test_greenplum_integration.py
  tests/tests_integration/tests_db_connection_integration/test_hive_integration.py
  tests/tests_integration/tests_db_connection_integration/test_kafka_integration.py
  tests/tests_integration/tests_db_connection_integration/test_mongodb_integration.py
  tests/tests_integration/tests_db_connection_integration/test_mssql_integration.py
  tests/tests_integration/tests_db_connection_integration/test_mysql_integration.py
  tests/tests_integration/tests_db_connection_integration/test_oracle_integration.py
  tests/tests_integration/tests_db_connection_integration/test_postgres_integration.py
  tests/tests_integration/tests_db_connection_integration/test_teradata_integration.py
  tests/tests_integration/tests_file_connection_integration/test_ftp_file_connection_integration.py
  tests/tests_integration/tests_file_connection_integration/test_ftps_file_connection_integration.py
  tests/tests_integration/tests_file_connection_integration/test_hdfs_file_connection_integration.py
  tests/tests_integration/tests_file_connection_integration/test_s3_file_connection_integration.py
  tests/tests_integration/tests_file_connection_integration/test_sftp_file_connection_integration.py
  tests/tests_integration/tests_file_connection_integration/test_webdav_file_connection_integration.py
Due: flake8, mypy

[DOP-8511] Update CHANGELOG
  docs/changelog/0.9.2.rst
  docs/changelog/next_release/+.improvement.rst
  docs/changelog/next_release/131.bugfix.rst
  docs/changelog/next_release/131.improvement.rst
  docs/changelog/next_release/133.bugfix.rst
  docs/changelog/next_release/136.bugfix.rst
  docs/changelog/next_release/138.bugfix.rst
  docs/changelog/next_release/139.bugfix.rst
  docs/changelog/next_release/142.feature.rst
Due: none

[DOP-8511] Bump version
  onetl/VERSION
Due: none

[DOP-8511] Do not send coverage report for nightly tests
  .github/workflows/nightly.yml
Due: none

[DOP-8511] Fix documentation build
  docs/changelog/0.9.3.rst
  docs/changelog/index.rst
  docs/concepts.rst
  docs/conf.py
  docs/file/file_filters/file_filter.rst
  requirements/docs.txt
Due: mypy

[DOP-8511] Update CHANGELOG
  docs/changelog/index.rst
Due: none

[DOP-8511] Update Kafka documentation
  docs/connection/db_connection/kafka/write.rst
Due: none

[DOP-8511] Update Kafka documentation
  docs/connection/db_connection/kafka/read.rst
Due: none

[DOP-8647] - Allow modes "ignore" and "error" in HiveWriteOptions
  docs/changelog/next_release/143.feature.rst
  onetl/connection/db_connection/hive/connection.py
  onetl/connection/db_connection/hive/options.py
  tests/tests_integration/tests_core_integration/tests_db_writer_integration/test_hive_writer_integration.py
  tests/tests_unit/tests_db_connection_unit/test_hive_unit.py
Due: flake8, mypy

[DOP-8647] - remove log.error message
  onetl/connection/db_connection/hive/connection.py
Due: flake8, mypy

[DOP-8511] Update README
  README.rst
Due: none

[DOP-8647] - move write_options check to write_df_to_target
  onetl/connection/db_connection/hive/connection.py
Due: flake8, mypy

[DOP-8665] - Allow modes "ignore" and "error" in JDBC.WriteOptions
  docs/changelog/next_release/144.feature.rst
  onetl/connection/db_connection/jdbc_connection/connection.py
  onetl/connection/db_connection/jdbc_connection/options.py
  tests/tests_integration/tests_core_integration/tests_db_writer_integration/test_postgres_writer_integration.py
  tests/tests_unit/tests_db_connection_unit/test_jdbc_options_unit.py
Due: flake8, mypy

[DOP-8664] - Allow modes "ignore" and "error" in MongoDB.WriteOptions
  docs/changelog/next_release/145.feature.rst
  onetl/connection/db_connection/mongodb/connection.py
  onetl/connection/db_connection/mongodb/options.py
  tests/tests_integration/tests_core_integration/tests_db_writer_integration/test_mongodb_writer_integration.py
  tests/tests_unit/tests_db_connection_unit/test_mongodb_unit.py
Due: flake8, mypy

[DOP-8664] - replaced collection existence check with java client
  onetl/connection/db_connection/mongodb/connection.py
Due: flake8, mypy

[DOP-8664] - removed useless type ignore
  onetl/connection/db_connection/mongodb/connection.py
Due: flake8, mypy

[DOP-8664] - updated tests
  tests/tests_integration/tests_core_integration/tests_db_writer_integration/test_mongodb_writer_integration.py
Due: flake8, mypy

[DOP-8665] - updated tests
  tests/tests_integration/tests_core_integration/tests_db_writer_integration/test_postgres_writer_integration.py
Due: flake8, mypy

[DOP-8664] - updated tests in greenplum.WriteOptions(if_exists='error')
  tests/tests_integration/tests_core_integration/tests_db_writer_integration/test_greenplum_writer_integration.py
Due: flake8, mypy

[DOP-8664] - updated logs messages in WriteOptions
  onetl/connection/db_connection/mongodb/connection.py
  tests/tests_integration/tests_core_integration/tests_db_writer_integration/test_mongodb_writer_integration.py
Due: flake8, mypy

[DOP-8647] - updated logs messages in Hive.WriteOptions
  onetl/connection/db_connection/hive/connection.py
  tests/tests_integration/tests_core_integration/tests_db_writer_integration/test_hive_writer_integration.py
Due: flake8, mypy
