Repository MobileTeleSystems/onetl: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, mypy, towncrier

flake8:
  name: flake8
  entry: python3 -m flake8
  language: system
  pass_filenames: true

mypy:
  name: mypy
  entry: python3 -m mypy --config-file setup.cfg onetl
  language: system
  pass_filenames: false

towncrier:
  name: towncrier
  entry: towncrier build --draft
  language: system
  pass_filenames: false

[DOP-28371] Add OAuth2 authentication support to Iceberg REST Catalog
  docs/changelog/next_release/393.feature.rst
  onetl/connection/db_connection/iceberg/catalog/auth/__init__.py
  onetl/connection/db_connection/iceberg/catalog/auth/base.py
  onetl/connection/db_connection/iceberg/catalog/auth/bearer.py
  onetl/connection/db_connection/iceberg/catalog/auth/oauth2.py
  onetl/connection/db_connection/iceberg/catalog/rest.py
  onetl/connection/db_connection/iceberg/connection.py
  tests/tests_unit/tests_db_connection_unit/test_iceberg_unit.py
Due: flake8, mypy, towncrier

[DOP-28367] Add basic authentication support to Iceberg REST Catalog
  docs/changelog/next_release/394.feature.rst
  onetl/connection/db_connection/iceberg/catalog/auth/__init__.py
  onetl/connection/db_connection/iceberg/catalog/auth/basic.py
  onetl/connection/db_connection/iceberg/catalog/auth/oauth2.py
  onetl/connection/db_connection/iceberg/catalog/rest.py
  onetl/connection/db_connection/iceberg/connection.py
  tests/tests_unit/tests_db_connection_unit/test_iceberg_unit.py
Due: flake8, mypy, towncrier

Test Iceberg on Spark 4.0
  docs/connection/db_connection/iceberg/prerequisites.rst
  onetl/connection/db_connection/iceberg/connection.py
  tests/fixtures/spark.py
  tests/tests_integration/tests_core_integration/tests_db_reader_integration/test_hive_reader_integration.py
  tests/tests_integration/tests_core_integration/tests_db_reader_integration/test_iceberg_reader_integration.py
  tests/tests_integration/tests_core_integration/tests_db_writer_integration/test_iceberg_writer_integration.py
  tests/tests_integration/tests_db_connection_integration/test_iceberg_integration.py
  tests/tests_unit/tests_db_connection_unit/test_iceberg_unit.py
Due: flake8, mypy, towncrier

[DOP-28372] Implement Iceberg Filesystem Catalog & Warehouse
  .github/workflows/test-hive-and-iceberg.yml
  docs/changelog/next_release/397.feature.rst
  onetl/connection/db_connection/iceberg/catalog/__init__.py
  onetl/connection/db_connection/iceberg/catalog/base.py
  onetl/connection/db_connection/iceberg/catalog/filesystem.py
  onetl/connection/db_connection/iceberg/catalog/rest.py
  onetl/connection/db_connection/iceberg/connection.py
  onetl/connection/db_connection/iceberg/warehouse/__init__.py
  onetl/connection/db_connection/iceberg/warehouse/base.py
  onetl/connection/db_connection/iceberg/warehouse/filesystem.py
  onetl/file/file_df_reader/file_df_reader.py
  onetl/file/file_df_writer/file_df_writer.py
  tests/fixtures/processing/fixtures.py
  tests/tests_integration/tests_core_integration/tests_db_reader_integration/test_iceberg_reader_integration.py
  tests/tests_integration/tests_core_integration/tests_db_writer_integration/test_iceberg_writer_integration.py
  tests/tests_integration/tests_db_connection_integration/test_iceberg_integration.py
  tests/tests_unit/test_db/test_db_reader_unit/test_iceberg_reader.py
  tests/tests_unit/test_db/test_db_writer_unit/test_iceberg_writer_unit.py
  tests/tests_unit/tests_db_connection_unit/test_iceberg_unit.py
Due: flake8, mypy, towncrier

[DOP-28374] Add warehouse to Iceberg REST Catalog
  .env.docker
  .env.local
  .github/workflows/test-s3.yml
  conftest.py
  docker-compose.yml
  docs/changelog/next_release/399.feature.rst
  onetl/connection/db_connection/iceberg/catalog/auth/oauth2.py
  onetl/connection/db_connection/iceberg/catalog/base.py
  onetl/connection/db_connection/iceberg/catalog/filesystem.py
  onetl/connection/db_connection/iceberg/catalog/rest.py
  onetl/connection/db_connection/iceberg/connection.py
  onetl/connection/db_connection/iceberg/warehouse/__init__.py
  onetl/connection/db_connection/iceberg/warehouse/filesystem.py
  onetl/connection/db_connection/iceberg/warehouse/s3.py
  tests/fixtures/connections/s3.py
  tests/fixtures/processing/fixtures.py
  tests/fixtures/processing/fixtures/__init__.py
  tests/fixtures/processing/fixtures/iceberg.py
  tests/fixtures/processing/fixtures/kafka.py
  tests/fixtures/processing/fixtures/processing.py
  tests/fixtures/processing/iceberg.py
  tests/fixtures/spark.py
  tests/tests_integration/tests_core_integration/tests_db_reader_integration/test_iceberg_reader_integration.py
  tests/tests_integration/tests_core_integration/tests_db_writer_integration/test_iceberg_writer_integration.py
  tests/tests_integration/tests_db_connection_integration/test_iceberg_integration.py
  tests/tests_unit/tests_db_connection_unit/test_iceberg_unit.py
Due: flake8, mypy, towncrier

HDFS.get_stat should not return path type
  onetl/connection/file_connection/hdfs/connection.py
Due: flake8, mypy

Fix CI tests
  .github/workflows/test-greenplum.yml
  .github/workflows/test-kafka.yml
  .github/workflows/test-postgres.yml
  .github/workflows/test-s3.yml
  docker-compose.yml
Due: none

Add support for Iceberg table properties
  docs/changelog/next_release/401.feature.rst
  onetl/connection/db_connection/iceberg/connection.py
  onetl/connection/db_connection/iceberg/options.py
  tests/fixtures/processing/fixtures/iceberg.py
  tests/fixtures/processing/fixtures/processing.py
  tests/fixtures/processing/hive.py
  tests/fixtures/processing/iceberg.py
  tests/tests_integration/tests_core_integration/tests_db_reader_integration/test_iceberg_reader_integration.py
  tests/tests_integration/tests_core_integration/tests_db_writer_integration/test_iceberg_writer_integration.py
Due: flake8, mypy, towncrier

Improve Iceberg docs
  docs/connection/db_connection/iceberg/auth_basic.rst
  docs/connection/db_connection/iceberg/auth_bearer.rst
  docs/connection/db_connection/iceberg/auth_oauth2.rst
  docs/connection/db_connection/iceberg/catalog_filesystem.rst
  docs/connection/db_connection/iceberg/catalog_rest.rst
  docs/connection/db_connection/iceberg/index.rst
  docs/connection/db_connection/iceberg/prerequisites.rst
  docs/connection/db_connection/iceberg/warehouse_filesystem.rst
  docs/connection/db_connection/iceberg/warehouse_s3.rst
  onetl/connection/db_connection/iceberg/catalog/auth/basic.py
  onetl/connection/db_connection/iceberg/catalog/auth/bearer.py
  onetl/connection/db_connection/iceberg/catalog/auth/oauth2.py
  onetl/connection/db_connection/iceberg/catalog/filesystem.py
  onetl/connection/db_connection/iceberg/catalog/rest.py
  onetl/connection/db_connection/iceberg/connection.py
  onetl/connection/db_connection/iceberg/warehouse/filesystem.py
  onetl/connection/db_connection/iceberg/warehouse/s3.py
Due: flake8, mypy, towncrier

[DOP-28451] Add tests with Iceberg.WriteOptions when table exists
  tests/tests_integration/tests_core_integration/tests_db_writer_integration/test_iceberg_writer_integration.py
Due: flake8, mypy

[DOP-28374] Make Iceberg.S3Warehouse port optional
  onetl/connection/db_connection/iceberg/warehouse/s3.py
Due: flake8, mypy

Remove Iceberg.ReadOptions
  docs/connection/db_connection/iceberg/read.rst
  onetl/connection/db_connection/iceberg/__init__.py
  onetl/connection/db_connection/iceberg/connection.py
  onetl/connection/db_connection/iceberg/options.py
Due: flake8, mypy, towncrier

[DOP-30224] Add support for clickhouse-jdbc 0.9.3+
  docs/changelog/next_release/407.feature.rst
  onetl/connection/db_connection/clickhouse/connection.py
  onetl/connection/db_connection/jdbc_connection/connection.py
  tests/tests_integration/tests_core_integration/tests_db_reader_integration/test_clickhouse_reader_integration.py
  tests/tests_integration/tests_db_connection_integration/test_clickhouse_integration.py
  tests/tests_unit/tests_db_connection_unit/test_clickhouse_unit.py
Due: flake8, mypy, towncrier

Fix Iceberg REST S3 region usage
  onetl/connection/db_connection/iceberg/warehouse/s3.py
  tests/fixtures/spark.py
  tests/tests_unit/tests_db_connection_unit/test_iceberg_unit.py
Due: flake8, mypy

[DOP-29492] Update Iceberg unit tests
  tests/fixtures/processing/fixtures/iceberg.py
  tests/fixtures/spark.py
  tests/tests_unit/tests_db_connection_unit/test_iceberg_unit.py
Due: flake8, mypy

[DOP-29492] Improve Iceberg connection typing
  onetl/connection/db_connection/iceberg/connection.py
  tests/tests_unit/tests_db_connection_unit/test_iceberg_unit.py
Due: flake8, mypy

[DOP-29492] Improve Iceberg connection typing
  onetl/connection/db_connection/iceberg/connection.py
Due: flake8, mypy

[DOP-29492] Split Iceberg OAuth2 class into 2 classes
  docs/connection/db_connection/iceberg/auth_oauth2.rst
  docs/connection/db_connection/iceberg/auth_oauth2_client_credentials.rst
  docs/connection/db_connection/iceberg/auth_oauth2_token_exchange.rst
  docs/connection/db_connection/iceberg/catalog_rest.rst
  onetl/connection/db_connection/iceberg/catalog/auth/__init__.py
  onetl/connection/db_connection/iceberg/catalog/auth/basic.py
  onetl/connection/db_connection/iceberg/catalog/auth/bearer.py
  onetl/connection/db_connection/iceberg/catalog/auth/oauth2_client_credentials.py
  onetl/connection/db_connection/iceberg/catalog/auth/oauth2_token_exchange.py
  onetl/connection/db_connection/iceberg/catalog/filesystem.py
  onetl/connection/db_connection/iceberg/catalog/rest.py
  tests/tests_unit/tests_db_connection_unit/test_iceberg_unit.py
Due: flake8, mypy, towncrier

[DOP-28450] Implement Hive.WriteOptions(table_properties)
  docs/changelog/next_release/412.feature.rst
  onetl/connection/db_connection/hive/connection.py
  onetl/connection/db_connection/hive/options.py
  tests/tests_integration/tests_core_integration/tests_db_writer_integration/test_hive_writer_integration.py
Due: flake8, mypy, towncrier

[DOP-28449] Use stringify for Iceberg table properties
  onetl/connection/db_connection/iceberg/connection.py
  onetl/connection/db_connection/iceberg/options.py
Due: flake8, mypy

[DOP-29492] Add oauth2_server_uri to Iceberg.RESTCatalog.BearerAuth
  onetl/connection/db_connection/iceberg/catalog/auth/basic.py
  onetl/connection/db_connection/iceberg/catalog/auth/bearer.py
  onetl/connection/db_connection/iceberg/catalog/auth/oauth2_client_credentials.py
  onetl/connection/db_connection/iceberg/catalog/auth/oauth2_token_exchange.py
Due: flake8, mypy

Revert "[DOP-29492] Add oauth2_server_uri to Iceberg.RESTCatalog.BearerAuth"
  onetl/connection/db_connection/iceberg/catalog/auth/basic.py
  onetl/connection/db_connection/iceberg/catalog/auth/bearer.py
  onetl/connection/db_connection/iceberg/catalog/auth/oauth2_client_credentials.py
  onetl/connection/db_connection/iceberg/catalog/auth/oauth2_token_exchange.py
Due: flake8, mypy

[DOP-29492] Implement Iceberg.DelegatedWarehouse
  docs/changelog/next_release/413.feature.rst
  docs/connection/db_connection/iceberg/index.rst
  docs/connection/db_connection/iceberg/prerequisites.rst
  docs/connection/db_connection/iceberg/warehouse_delegated.rst
  onetl/connection/db_connection/iceberg/__init__.py
  onetl/connection/db_connection/iceberg/catalog/auth/oauth2_client_credentials.py
  onetl/connection/db_connection/iceberg/catalog/auth/oauth2_token_exchange.py
  onetl/connection/db_connection/iceberg/catalog/rest.py
  onetl/connection/db_connection/iceberg/connection.py
  onetl/connection/db_connection/iceberg/warehouse/__init__.py
  onetl/connection/db_connection/iceberg/warehouse/base.py
  onetl/connection/db_connection/iceberg/warehouse/delegated.py
  onetl/connection/db_connection/iceberg/warehouse/filesystem.py
  onetl/connection/db_connection/iceberg/warehouse/s3.py
  onetl/connection/file_df_connection/spark_s3/connection.py
  setup.cfg
  tests/tests_unit/tests_db_connection_unit/test_iceberg_unit.py
Due: flake8, mypy, towncrier

[DOP-29492] Drop Iceberg.RESTCatalog.OAuth2TokenExchange
  docs/connection/db_connection/iceberg/auth_oauth2_token_exchange.rst
  docs/connection/db_connection/iceberg/catalog_rest.rst
  onetl/connection/db_connection/iceberg/catalog/auth/__init__.py
  onetl/connection/db_connection/iceberg/catalog/auth/oauth2_token_exchange.py
  onetl/connection/db_connection/iceberg/catalog/rest.py
  onetl/connection/db_connection/iceberg/connection.py
  tests/tests_unit/tests_db_connection_unit/test_iceberg_unit.py
Due: flake8, mypy, towncrier

Fiz Spark troubleshooting guide
  docs/troubleshooting/spark.rst
Due: towncrier

Use Hadoop 3 by default
  docker-compose.yml
Due: none

[DOP-30631] Improve Iceberg params naming & types
  onetl/connection/db_connection/iceberg/catalog/auth/oauth2_client_credentials.py
  onetl/connection/db_connection/iceberg/catalog/rest.py
  onetl/connection/db_connection/iceberg/connection.py
  onetl/connection/file_connection/samba.py
  tests/fixtures/processing/fixtures/iceberg.py
  tests/tests_unit/tests_db_connection_unit/test_iceberg_unit.py
Due: flake8, mypy

[DOP-29492] Introduce Iceberg._get_spark_config() debug method
  onetl/connection/db_connection/iceberg/catalog/rest.py
  onetl/connection/db_connection/iceberg/connection.py
Due: flake8, mypy

Add compatibility with minio-py==7.2.19
  onetl/connection/file_connection/s3.py
Due: flake8, mypy

Avoid using minio-py==8.x.x for now
  requirements/s3.txt
Due: none

Bump version
  onetl/VERSION
  onetl/connection/db_connection/hive/options.py
  onetl/connection/db_connection/iceberg/catalog/auth/base.py
  onetl/connection/db_connection/iceberg/catalog/auth/basic.py
  onetl/connection/db_connection/iceberg/catalog/auth/bearer.py
  onetl/connection/db_connection/iceberg/catalog/auth/oauth2_client_credentials.py
  onetl/connection/db_connection/iceberg/catalog/base.py
  onetl/connection/db_connection/iceberg/catalog/filesystem.py
  onetl/connection/db_connection/iceberg/catalog/rest.py
  onetl/connection/db_connection/iceberg/warehouse/base.py
  onetl/connection/db_connection/iceberg/warehouse/delegated.py
  onetl/connection/db_connection/iceberg/warehouse/filesystem.py
  onetl/connection/db_connection/iceberg/warehouse/s3.py
Due: flake8, mypy

Add compatibility with minio-py==7.2.19
  tests/fixtures/connections/s3.py
Due: flake8, mypy

Add compatibility with minio-py==7.2.19
  tests/tests_integration/tests_file_connection_integration/test_s3_file_connection_integration.py
Due: flake8, mypy

Add compatibility with minio-py==7.2.19
  onetl/connection/file_connection/s3.py
  tests/fixtures/connections/s3.py
  tests/tests_integration/tests_file_connection_integration/test_s3_file_connection_integration.py
Due: flake8, mypy

Path conditions:
  flake8: any of: ^(onetl|tests)/.*$ and \.py$
  mypy: any of: \.py$
  towncrier: any of: \.rst$
