Repository MobileTeleSystems/onetl: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, mypy, towncrier

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: check-ast
  - id: check-case-conflict
  - id: check-docstring-first
  - id: check-executables-have-shebangs
  - id: check-merge-conflict
  - id: check-toml
  - id: check-vcs-permalinks
  - id: check-yaml
    args: [--unsafe]
  - id: requirements-txt-fixer
    files: ^(requirements/.*\.txt)$
  - id: end-of-file-fixer
    exclude: ^(.*/VERSION|tests/resources/.*/.*)$
  - id: fix-byte-order-marker
  - id: fix-encoding-pragma
    args: [--remove]
  - id: name-tests-test
    files: ^tests/(tests_integration|tests_unit)/.*\.py$
    args: [--django]
  - id: trailing-whitespace
- repo: https://github.com/Lucas-C/pre-commit-hooks
  rev: v1.5.4
  hooks:
  - id: remove-tabs
    exclude: ^docs/(make.bat|Makefile)
- repo: https://github.com/codespell-project/codespell
  rev: v2.2.5
  hooks:
  - id: codespell
    args: [-w]
- repo: https://github.com/macisamuele/language-formatters-pre-commit-hooks
  rev: v2.10.0
  hooks:
  - id: pretty-format-yaml
    args: [--autofix, --indent, '2', --preserve-quotes]
- repo: https://github.com/lovesegfault/beautysh
  rev: v6.2.1
  hooks:
  - id: beautysh
- repo: https://github.com/IamTheFij/docker-pre-commit
  rev: v3.0.1
  hooks:
  - id: docker-compose-check
- repo: https://github.com/pycqa/isort
  rev: 5.12.0
  hooks:
  - id: isort
- repo: https://github.com/pre-commit/pygrep-hooks
  rev: v1.10.0
  hooks:
  - id: python-no-log-warn
  - id: python-no-eval
  - id: rst-backticks
  - id: rst-directive-colons
  - id: rst-inline-touching-normal
  - id: text-unicode-replacement-char
- repo: https://github.com/asottile/pyupgrade
  rev: v3.10.1
  hooks:
  - id: pyupgrade
    args: [--py37-plus, --keep-runtime-typing]
- repo: https://github.com/psf/black
  rev: 23.7.0
  hooks:
  - id: black
    language_version: python3
- repo: https://github.com/asottile/blacken-docs
  rev: 1.16.0
  hooks:
  - id: blacken-docs
- repo: meta
  hooks:
  - id: check-hooks-apply
  - id: check-useless-excludes
- repo: https://github.com/PyCQA/autoflake
  rev: v2.2.1
  hooks:
  - id: autoflake
    args:
    - --in-place
    - --config=setup.cfg
- repo: local
  hooks:
  - id: flake8
    name: flake8
    entry: python3 -m flake8
    language: system
    types: [python]
    files: ^(onetl|tests)/.*$
    pass_filenames: true
  - id: mypy
    name: mypy
    entry: python3 -m mypy --config-file setup.cfg onetl
    language: system
    types: [python]
    pass_filenames: false
  - id: towncrier
    name: towncrier
    entry: towncrier build --draft
    language: system
    types: [rst]
    pass_filenames: false

ci:
  skip:
  - flake8  # checked with Github Actions
  - mypy  # checked with Github Actions
  - towncrier  # checked with Github Actions
  - docker-compose-check  # cannot run on pre-commit.ci

Update docs/connection/db_connection/hive/write.rst
  docs/connection/db_connection/hive/write.rst
  onetl/connection/db_connection/hive/options.py
Due: flake8, mypy, towncrier

[DOP-16103] - move format logic to _format_write_options method
  onetl/connection/db_connection/hive/connection.py
  onetl/connection/db_connection/hive/options.py
Due: flake8, mypy

[DOP-16103] - add class format to HiveWriteOptions
  docs/changelog/next_release/292.feature.rst
  onetl/connection/db_connection/hive/connection.py
  onetl/connection/db_connection/hive/options.py
  tests/tests_integration/tests_core_integration/tests_db_writer_integration/test_hive_writer_integration.py
Due: flake8, mypy, towncrier

[DOP-16103] - improve logging
  docs/connection/db_connection/hive/write.rst
  onetl/connection/db_connection/hive/connection.py
  tests/tests_integration/tests_core_integration/tests_db_writer_integration/test_hive_writer_integration.py
Due: flake8, mypy, towncrier

Add Spark metastore & warehouse to .gitignore
  .gitignore
Due: none

[DOP-16923] Disable IPv6 for Greenplum container
  .github/workflows/test-greenplum.yml
Due: none

[DOP-16923] Update MySQL image minimal version
  .github/workflows/data/mysql/matrix.yml
Due: none

[DOP-16923] Disable IPv6 for Greenplum container
  .github/workflows/test-greenplum.yml
  docker-compose.yml
Due: none

Fix CREATE TABLE examples
  docs/connection/db_connection/clickhouse/execute.rst
  docs/connection/db_connection/clickhouse/types.rst
  docs/connection/db_connection/greenplum/execute.rst
  docs/connection/db_connection/greenplum/types.rst
  docs/connection/db_connection/hive/execute.rst
  docs/connection/db_connection/mssql/execute.rst
  docs/connection/db_connection/mssql/types.rst
  docs/connection/db_connection/mysql/execute.rst
  docs/connection/db_connection/mysql/types.rst
  docs/connection/db_connection/oracle/execute.rst
  docs/connection/db_connection/oracle/types.rst
  docs/connection/db_connection/postgres/execute.rst
  docs/connection/db_connection/postgres/types.rst
Due: towncrier

Update coverage download step
  .github/workflows/test-core.yml
  .github/workflows/test-ftp.yml
  .github/workflows/test-ftps.yml
  .github/workflows/test-greenplum.yml
  .github/workflows/test-hdfs.yml
  .github/workflows/test-hive.yml
  .github/workflows/test-kafka.yml
  .github/workflows/test-local-fs.yml
  .github/workflows/test-mongodb.yml
  .github/workflows/test-mssql.yml
  .github/workflows/test-mysql.yml
  .github/workflows/test-oracle.yml
  .github/workflows/test-postgres.yml
  .github/workflows/test-s3.yml
  .github/workflows/test-samba.yml
  .github/workflows/test-sftp.yml
  .github/workflows/test-teradata.yml
  .github/workflows/test-webdav.yml
  .github/workflows/tests.yml
Due: none

Update coverage download step
  .github/workflows/test-clickhouse.yml
Due: none

Add 'Last updated at' fields to build documentation
  .readthedocs.yml
  docs/conf.py
  docs/connection/file_df_connection/spark_s3/troubleshooting.rst
  requirements/docs.txt
  tests/tests_integration/test_file_format_integration/test_json_integration.py
Due: flake8, mypy, towncrier

Add 'Last updated at' fields to build documentation
  .readthedocs.yml
Due: none

Update ReadTheDocs config
  .readthedocs.yml
Due: none

Update ReadTheDocs config
  docs/conf.py
Due: mypy

Fix nightly tests
  docker/mssql/configure-db.sh
Due: none

Fix MSSQL tests
  .env.dependencies
  .github/workflows/data/mssql/matrix.yml
  docker-compose.yml
Due: none

Fix MSSQL tests
  .github/workflows/test-clickhouse.yml
  .github/workflows/test-ftp.yml
  .github/workflows/test-ftps.yml
  .github/workflows/test-greenplum.yml
  .github/workflows/test-hdfs.yml
  .github/workflows/test-kafka.yml
  .github/workflows/test-mongodb.yml
  .github/workflows/test-mssql.yml
  .github/workflows/test-mysql.yml
  .github/workflows/test-oracle.yml
  .github/workflows/test-postgres.yml
  .github/workflows/test-s3.yml
  .github/workflows/test-samba.yml
  .github/workflows/test-sftp.yml
  .github/workflows/test-webdav.yml
  docker-compose.yml
  docker/mssql/configure-db.sh
Due: none

Update test matrix to use latest DB versions
  .github/workflows/data/clickhouse/matrix.yml
  .github/workflows/data/kafka/matrix.yml
  .github/workflows/data/mongodb/matrix.yml
  .github/workflows/data/mssql/matrix.yml
  .github/workflows/data/mysql/matrix.yml
  .github/workflows/data/oracle/matrix.yml
  .github/workflows/data/postgres/matrix.yml
  .github/workflows/data/s3/matrix.yml
  .github/workflows/data/samba/matrix.yml
  .github/workflows/data/sftp/matrix.yml
  .github/workflows/data/webdav/matrix.yml
  docs/connection/db_connection/mysql/prerequisites.rst
  docs/connection/db_connection/postgres/prerequisites.rst
Due: towncrier

Update test matrix
  .github/workflows/data/clickhouse/matrix.yml
  .github/workflows/data/greenplum/matrix.yml
  .github/workflows/data/hdfs/matrix.yml
  .github/workflows/data/kafka/matrix.yml
Due: none

Fix mypy warnings
  onetl/hooks/hook.py
Due: flake8, mypy

Fix documentation build
  requirements/docs.txt
Due: none

Fix documentation build
  .readthedocs.yml
  requirements/docs.txt
Due: none

[DOP-18570] Implement SparkMetricsRecorder
  .github/workflows/data/file-df/tracked.txt
  onetl/_metrics/__init__.py
  onetl/_metrics/command.py
  onetl/_metrics/driver.py
  onetl/_metrics/executor.py
  onetl/_metrics/extract.py
  onetl/_metrics/input.py
  onetl/_metrics/listener/__init__.py
  onetl/_metrics/listener/base.py
  onetl/_metrics/listener/execution.py
  onetl/_metrics/listener/job.py
  onetl/_metrics/listener/listener.py
  onetl/_metrics/listener/stage.py
  onetl/_metrics/listener/task.py
  onetl/_metrics/output.py
  onetl/_metrics/recorder.py
  onetl/_util/java.py
  onetl/_util/scala.py
  onetl/strategy/hwm_store/__init__.py
  onetl/version.py
  setup.cfg
  tests/.coveragerc
  tests/fixtures/global_hwm_store.py
  tests/fixtures/processing/fixtures.py
  tests/tests_integration/test_metrics/test_spark_metrics_recorder_file_df.py
  tests/tests_integration/test_metrics/test_spark_metrics_recorder_hive.py
  tests/tests_integration/test_metrics/test_spark_metrics_recorder_postgres.py
  tests/tests_unit/test_metrics/test_spark_command_metrics.py
  tests/tests_unit/test_metrics/test_spark_driver_metrics.py
  tests/tests_unit/test_metrics/test_spark_executor_metrics.py
  tests/tests_unit/test_metrics/test_spark_input_metrics.py
  tests/tests_unit/test_metrics/test_spark_output_metrics.py
Due: flake8, mypy

[DOP-18571] Collect and log Spark metrics in various method calls
  docs/changelog/next_release/303.feature.1.rst
  docs/changelog/next_release/303.feature.2.rst
  onetl/_util/spark.py
  onetl/base/base_db_connection.py
  onetl/base/base_file_df_connection.py
  onetl/connection/db_connection/hive/connection.py
  onetl/connection/db_connection/jdbc_connection/connection.py
  onetl/connection/db_connection/jdbc_mixin/connection.py
  onetl/connection/db_connection/oracle/connection.py
  onetl/db/db_writer/db_writer.py
  onetl/file/file_df_writer/file_df_writer.py
  tests/.coveragerc
  tests/tests_integration/tests_db_connection_integration/test_postgres_integration.py
Due: flake8, mypy, towncrier

Fix documentation build
  docs/conf.py
  requirements/docs.txt
Due: mypy

[DOP-16999] - add jdbc_dialect logging
  docs/changelog/next_release/305.feature.rst
  onetl/connection/db_connection/jdbc_connection/connection.py
  onetl/connection/db_connection/jdbc_mixin/connection.py
  tests/tests_integration/tests_db_connection_integration/test_clickhouse_integration.py
  tests/tests_integration/tests_db_connection_integration/test_postgres_integration.py
Due: flake8, mypy, towncrier

[DOP-16999] - Add jdbc_dialect logging (#305)
  docs/changelog/next_release/305.feature.rst
  onetl/connection/db_connection/jdbc_connection/connection.py
  onetl/connection/db_connection/jdbc_mixin/connection.py
  tests/tests_integration/tests_db_connection_integration/test_clickhouse_integration.py
  tests/tests_integration/tests_db_connection_integration/test_postgres_integration.py
  tests/tests_integration/tests_strategy_integration/test_strategy_incremental_batch.py
Due: flake8, mypy, towncrier

Test Spark 3.5.2
  .github/workflows/data/clickhouse/matrix.yml
  .github/workflows/data/core/matrix.yml
  .github/workflows/data/hdfs/matrix.yml
  .github/workflows/data/hive/matrix.yml
  .github/workflows/data/kafka/matrix.yml
  .github/workflows/data/local-fs/matrix.yml
  .github/workflows/data/mongodb/matrix.yml
  .github/workflows/data/mssql/matrix.yml
  .github/workflows/data/mysql/matrix.yml
  .github/workflows/data/oracle/matrix.yml
  .github/workflows/data/postgres/matrix.yml
  .github/workflows/data/s3/matrix.yml
  .github/workflows/data/teradata/matrix.yml
  CONTRIBUTING.rst
  README.rst
  docker-compose.yml
  docker/Dockerfile
  docs/changelog/next_release/306.feature.rst
  docs/connection/db_connection/clickhouse/types.rst
  docs/connection/db_connection/mssql/types.rst
  docs/connection/db_connection/mysql/types.rst
  docs/connection/db_connection/oracle/types.rst
  docs/connection/db_connection/postgres/types.rst
  onetl/_metrics/extract.py
  onetl/_metrics/listener/base.py
  onetl/_metrics/listener/execution.py
  onetl/_metrics/listener/job.py
  onetl/_metrics/listener/listener.py
  onetl/_metrics/listener/stage.py
  onetl/_metrics/listener/task.py
  onetl/_util/spark.py
  onetl/connection/db_connection/kafka/connection.py
  onetl/connection/file_df_connection/spark_s3/connection.py
  onetl/file/format/avro.py
  onetl/file/format/excel.py
  onetl/file/format/xml.py
  requirements/tests/spark-3.5.2.txt
  tests/tests_unit/test_file/test_format_unit/test_avro_unit.py
  tests/tests_unit/test_file/test_format_unit/test_excel_unit.py
  tests/tests_unit/tests_file_df_connection_unit/test_spark_s3_unit.py
Due: flake8, mypy, towncrier

[DOP-18574] Relax check for number of yields in hooks
  docs/changelog/next_release/+yield.feature.rst
  onetl/hooks/hook.py
  tests/tests_unit/test_hooks/test_hooks_callback.py
Due: flake8, mypy, towncrier

[DOP-19024] Fix passing custom JDBC options to Greenplum.extra
  docs/changelog/next_release/308.bugfix.rst
  onetl/connection/db_connection/greenplum/connection.py
  tests/tests_unit/tests_db_connection_unit/test_greenplum_unit.py
Due: flake8, mypy, towncrier
