Repository MobileTeleSystems/onetl: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, mypy, towncrier

flake8:
  name: flake8
  entry: python3 -m flake8
  language: system
  pass_filenames: true

mypy:
  name: mypy
  entry: python3 -m mypy --config-file setup.cfg onetl
  language: system
  pass_filenames: false

towncrier:
  name: towncrier
  entry: towncrier build --draft
  language: system
  pass_filenames: false

[DOP-9787] Test strategies when DBReader reads empty source
  docs/changelog/next_release/188.feature.rst
  onetl/base/base_db_connection.py
  onetl/connection/db_connection/clickhouse/connection.py
  onetl/connection/db_connection/db_connection/dialect.py
  onetl/connection/db_connection/greenplum/connection.py
  onetl/connection/db_connection/hive/connection.py
  onetl/connection/db_connection/jdbc_connection/connection.py
  onetl/connection/db_connection/kafka/connection.py
  onetl/connection/db_connection/mongodb/connection.py
  onetl/connection/db_connection/oracle/dialect.py
  onetl/db/db_reader/db_reader.py
  onetl/strategy/batch_hwm_strategy.py
  setup.cfg
  tests/tests_integration/tests_core_integration/tests_db_reader_integration/test_clickhouse_reader_integration.py
  tests/tests_integration/tests_core_integration/tests_db_reader_integration/test_greenplum_reader_integration.py
  tests/tests_integration/tests_core_integration/tests_db_reader_integration/test_hive_reader_integration.py
  tests/tests_integration/tests_core_integration/tests_db_reader_integration/test_kafka_reader_integration.py
  tests/tests_integration/tests_core_integration/tests_db_reader_integration/test_mongodb_reader_integration.py
  tests/tests_integration/tests_core_integration/tests_db_reader_integration/test_mssql_reader_integration.py
  tests/tests_integration/tests_core_integration/tests_db_reader_integration/test_mysql_reader_integration.py
  tests/tests_integration/tests_core_integration/tests_db_reader_integration/test_oracle_reader_integration.py
  tests/tests_integration/tests_core_integration/tests_db_reader_integration/test_postgres_reader_integration.py
  tests/tests_integration/tests_core_integration/tests_db_writer_integration/test_mongodb_writer_integration.py
  tests/tests_integration/tests_strategy_integration/test_strategy_incremental_batch.py
  tests/tests_integration/tests_strategy_integration/test_strategy_snapshot_batch.py
  tests/tests_integration/tests_strategy_integration/tests_incremental_strategy_integration/test_strategy_increment_clickhouse.py
  tests/tests_integration/tests_strategy_integration/tests_incremental_strategy_integration/test_strategy_increment_greenplum.py
  tests/tests_integration/tests_strategy_integration/tests_incremental_strategy_integration/test_strategy_increment_hive.py
  tests/tests_integration/tests_strategy_integration/tests_incremental_strategy_integration/test_strategy_increment_mongodb.py
  tests/tests_integration/tests_strategy_integration/tests_incremental_strategy_integration/test_strategy_increment_mssql.py
  tests/tests_integration/tests_strategy_integration/tests_incremental_strategy_integration/test_strategy_increment_mysql.py
  tests/tests_integration/tests_strategy_integration/tests_incremental_strategy_integration/test_strategy_increment_oracle.py
  tests/tests_integration/tests_strategy_integration/tests_incremental_strategy_integration/test_strategy_increment_postgres.py
  tests/tests_unit/tests_db_connection_unit/test_dialect_unit.py
Due: flake8, mypy, towncrier

[DOP-9787] Avoid race condition in FileDownloader while updating HWM
  docs/changelog/next_release/189.breaking.rst
  onetl/file/file_downloader/file_downloader.py
  onetl/strategy/incremental_strategy.py
  tests/tests_integration/tests_strategy_integration/tests_incremental_strategy_integration/test_strategy_increment_file.py
Due: flake8, mypy, towncrier

[DOP-11682] Cache result of connection.check()
  docs/changelog/next_release/190.feature.rst
  onetl/db/db_reader/db_reader.py
  onetl/db/db_writer/db_writer.py
  onetl/file/file_df_reader/file_df_reader.py
  onetl/file/file_df_writer/file_df_writer.py
  onetl/file/file_downloader/file_downloader.py
  onetl/file/file_mover/file_mover.py
  onetl/file/file_uploader/file_uploader.py
  onetl/strategy/incremental_strategy.py
Due: flake8, mypy, towncrier

[DOP-9787] Do not log HWM twice
  onetl/strategy/hwm_strategy.py
Due: flake8, mypy

[DOP-9619] Prepare for release
  docs/changelog/0.10.0.rst
  docs/changelog/index.rst
  docs/changelog/next_release/+.bugfix.rst
  docs/changelog/next_release/167.feature.rst
  docs/changelog/next_release/172.breaking.rst
  docs/changelog/next_release/179.breaking.rst
  docs/changelog/next_release/179.feature.rst
  docs/changelog/next_release/182.breaking.rst
  docs/changelog/next_release/183.bugfix.rst
  docs/changelog/next_release/187.feature.rst
  docs/changelog/next_release/188.feature.rst
  docs/changelog/next_release/189.breaking.rst
  docs/changelog/next_release/190.feature.rst
  onetl/db/db_reader/db_reader.py
  onetl/file/file_downloader/file_downloader.py
Due: flake8, mypy, towncrier

[DOP-9619] Update changelog for 0.10.0
  docs/changelog/0.10.0.rst
  docs/connection/file_connection/samba.rst
  docs/hwm_store/yaml_hwm_store.rst
Due: towncrier

[DOP-9619] Add favicon and fix logo in PyPI package description
  .github/workflows/dev-release.yml
  .github/workflows/release.yml
  README.rst
  docs/_static/icon.svg
  docs/_static/logo.svg
  docs/_static/logo_wide.svg
  docs/conf.py
  docs/index.rst
  docs/install/spark.rst
  docs/static/logo.svg
  docs/static/logo_wide.svg
  requirements/docs.txt
Due: mypy, towncrier

[DOP-9619] Fix missing logo in PyPI package description
  .github/workflows/dev-release.yml
  .github/workflows/release.yml
Due: none

[DOP-9619] Small documentation fixes
  README.rst
  docs/db/db_reader.rst
  docs/db/db_writer.rst
  docs/file/file_downloader/file_downloader.rst
  docs/file/file_filters/glob.rst
  docs/file/file_filters/index.rst
  docs/file/file_mover/file_mover.rst
  docs/file/file_uploader/file_uploader.rst
  docs/file_df/file_df_reader/file_df_reader.rst
  docs/file_df/file_df_writer/file_df_writer.rst
  docs/strategy/incremental_batch_strategy.rst
  docs/strategy/incremental_strategy.rst
  docs/strategy/snapshot_batch_strategy.rst
  docs/strategy/snapshot_strategy.rst
  onetl/hooks/slot.py
  onetl/strategy/incremental_strategy.py
  onetl/strategy/snapshot_strategy.py
Due: flake8, mypy, towncrier

[DOP-9619] Small documentation fixes
  docs/db/db_reader.rst
  docs/db/db_writer.rst
  docs/file/file_downloader/file_downloader.rst
  docs/file/file_mover/file_mover.rst
  docs/file/file_uploader/file_uploader.rst
  docs/file_df/file_df_reader/file_df_reader.rst
  docs/file_df/file_df_writer/file_df_writer.rst
  docs/hwm_store/index.rst
  onetl/base/base_file_df_connection.py
  onetl/base/base_file_format.py
  onetl/file/file_downloader/file_downloader.py
  onetl/file/file_mover/file_mover.py
  onetl/file/file_uploader/file_uploader.py
  onetl/strategy/incremental_strategy.py
  onetl/strategy/snapshot_strategy.py
Due: flake8, mypy, towncrier

[DOP-9619] Small documentation fixes
  docs/changelog/0.10.0.rst
Due: towncrier

[DOP-9619] Small changelog fixes
  docs/changelog/0.10.0.rst
Due: towncrier

[DOP-9619] Update upload & download artifacts GH actions
  .github/workflows/test-clickhouse.yml
  .github/workflows/test-core.yml
  .github/workflows/test-ftp.yml
  .github/workflows/test-ftps.yml
  .github/workflows/test-greenplum.yml
  .github/workflows/test-hdfs.yml
  .github/workflows/test-hive.yml
  .github/workflows/test-kafka.yml
  .github/workflows/test-local-fs.yml
  .github/workflows/test-mongodb.yml
  .github/workflows/test-mssql.yml
  .github/workflows/test-mysql.yml
  .github/workflows/test-oracle.yml
  .github/workflows/test-postgres.yml
  .github/workflows/test-s3.yml
  .github/workflows/test-samba.yml
  .github/workflows/test-sftp.yml
  .github/workflows/test-teradata.yml
  .github/workflows/test-webdav.yml
  .github/workflows/tests.yml
Due: none

[DOP-9619] Small docs fixes
  onetl/connection/db_connection/mongodb/connection.py
  onetl/connection/file_df_connection/spark_s3/connection.py
Due: flake8, mypy

[DOP-9619] Bump version
  onetl/VERSION
Due: none

[DOP-9619] Update release process
  .github/workflows/release.yml
Due: none

[DOP-9619] Update pre-commit hooks
  .pre-commit-config.yaml
Due: none

[DOP-11096] Add tricoder entrypoint
  setup.py
Due: mypy

[DOP-11096] Add Dependabot
  .github/dependabot.yml
  .github/workflows/changelog.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/dev-release.yml
  .github/workflows/get-matrix.yml
  .github/workflows/release.yml
  .github/workflows/test-clickhouse.yml
  .github/workflows/test-core.yml
  .github/workflows/test-ftp.yml
  .github/workflows/test-ftps.yml
  .github/workflows/test-greenplum.yml
  .github/workflows/test-hdfs.yml
  .github/workflows/test-hive.yml
  .github/workflows/test-kafka.yml
  .github/workflows/test-local-fs.yml
  .github/workflows/test-mongodb.yml
  .github/workflows/test-mssql.yml
  .github/workflows/test-mysql.yml
  .github/workflows/test-oracle.yml
  .github/workflows/test-postgres.yml
  .github/workflows/test-s3.yml
  .github/workflows/test-samba.yml
  .github/workflows/test-sftp.yml
  .github/workflows/test-teradata.yml
  .github/workflows/test-webdav.yml
  .github/workflows/tests.yml
Due: none

[DOP-11980] - add KeyValueIntHWM support in DBReader
  onetl/connection/db_connection/kafka/connection.py
  onetl/connection/db_connection/kafka/dialect.py
  onetl/db/db_reader/db_reader.py
  onetl/hwm/auto_hwm.py
  requirements/core.txt
  tests/tests_unit/test_db/test_db_reader_unit/test_common_reader_unit.py
  tests/tests_unit/test_db/test_db_reader_unit/test_kafka_reader_unit.py
Due: flake8, mypy

[DOP-11980] - add Release Process to CONTRIBUTING.rst
  CONTRIBUTING.rst
Due: towncrier

[DOP-11980] - add pydantic smart union
  onetl/base/base_db_connection.py
  onetl/connection/db_connection/db_connection/dialect.py
  onetl/connection/db_connection/kafka/dialect.py
  onetl/db/db_reader/db_reader.py
  onetl/hwm/auto_hwm.py
  onetl/impl/frozen_model.py
  tests/tests_unit/test_db/test_db_reader_unit/test_kafka_reader_unit.py
  tests/tests_unit/tests_db_connection_unit/test_kafka_unit.py
Due: flake8, mypy

[DOP-11980] - add KeyValueIntHWM support in DBReader (#197)
  CONTRIBUTING.rst
  onetl/base/base_db_connection.py
  onetl/connection/db_connection/db_connection/dialect.py
  onetl/connection/db_connection/kafka/connection.py
  onetl/connection/db_connection/kafka/dialect.py
  onetl/db/db_reader/db_reader.py
  onetl/hwm/auto_hwm.py
  onetl/impl/frozen_model.py
  requirements/core.txt
  tests/tests_unit/test_db/test_db_reader_unit/test_common_reader_unit.py
  tests/tests_unit/test_db/test_db_reader_unit/test_kafka_reader_unit.py
  tests/tests_unit/tests_db_connection_unit/test_kafka_unit.py
Due: flake8, mypy, towncrier

[DOP-2348] - add get_min_max_values in Kafka connection
  onetl/connection/db_connection/kafka/connection.py
Due: flake8, mypy

Fix broken docs
  .readthedocs.yml
  CONTRIBUTING.rst
  onetl/connection/file_connection/sftp.py
  requirements/docs-plantuml.txt
  requirements/docs.txt
Due: flake8, mypy, towncrier

[DOP-11752] - add support of incremental strategy in Kafka
  docs/changelog/next_release/*.feature.rst
  onetl/connection/db_connection/kafka/connection.py
  onetl/connection/db_connection/kafka/dialect.py
  onetl/strategy/incremental_strategy.py
  tests/fixtures/processing/kafka.py
  tests/tests_integration/tests_strategy_integration/tests_incremental_batch_strategy_integration/test_strategy_incremental_batch_kafka.py
  tests/tests_integration/tests_strategy_integration/tests_incremental_strategy_integration/test_strategy_increment_kafka.py
  tests/tests_unit/test_db/test_db_reader_unit/test_kafka_reader_unit.py
Due: flake8, mypy, towncrier

[DOP-11752] - update tests
  docs/changelog/next_release/202.feature.rst
  onetl/strategy/incremental_strategy.py
  tests/fixtures/processing/kafka.py
  tests/tests_integration/tests_strategy_integration/tests_incremental_batch_strategy_integration/test_strategy_incremental_batch_kafka.py
  tests/tests_integration/tests_strategy_integration/tests_incremental_strategy_integration/test_strategy_increment_kafka.py
  tests/tests_unit/test_db/test_db_reader_unit/test_kafka_reader_unit.py
Due: flake8, mypy, towncrier

Path conditions:
  flake8: any of: ^(onetl|tests)/.*$ and \.py$
  mypy: any of: \.py$
  towncrier: any of: \.rst$
