Repository MobileTeleSystems/onetl: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, mypy, towncrier

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: check-ast
  - id: check-case-conflict
  - id: check-docstring-first
  - id: check-executables-have-shebangs
  - id: check-merge-conflict
  - id: check-toml
  - id: check-vcs-permalinks
  - id: check-yaml
    args: [--unsafe]
  - id: requirements-txt-fixer
    files: ^(requirements/.*\.txt)$
  - id: end-of-file-fixer
    exclude: ^(.*/VERSION|tests/resources/.*/.*)$
  - id: fix-byte-order-marker
  - id: fix-encoding-pragma
    args: [--remove]
  - id: name-tests-test
    files: ^tests/(tests_integration|tests_unit)/.*\.py$
    args: [--django]
  - id: trailing-whitespace
- repo: https://github.com/Lucas-C/pre-commit-hooks
  rev: v1.5.4
  hooks:
  - id: remove-tabs
    exclude: ^docs/(make.bat|Makefile)
- repo: https://github.com/codespell-project/codespell
  rev: v2.2.5
  hooks:
  - id: codespell
    args: [-w]
- repo: https://github.com/macisamuele/language-formatters-pre-commit-hooks
  rev: v2.10.0
  hooks:
  - id: pretty-format-yaml
    args: [--autofix, --indent, '2', --preserve-quotes]
- repo: https://github.com/lovesegfault/beautysh
  rev: v6.2.1
  hooks:
  - id: beautysh
- repo: https://github.com/IamTheFij/docker-pre-commit
  rev: v3.0.1
  hooks:
  - id: docker-compose-check
- repo: https://github.com/pycqa/isort
  rev: 5.12.0
  hooks:
  - id: isort
- repo: https://github.com/pre-commit/pygrep-hooks
  rev: v1.10.0
  hooks:
  - id: python-no-log-warn
  - id: python-no-eval
  - id: rst-backticks
  - id: rst-directive-colons
  - id: rst-inline-touching-normal
  - id: text-unicode-replacement-char
- repo: https://github.com/asottile/pyupgrade
  rev: v3.10.1
  hooks:
  - id: pyupgrade
    args: [--py37-plus, --keep-runtime-typing]
- repo: https://github.com/psf/black
  rev: 23.7.0
  hooks:
  - id: black
    language_version: python3
- repo: https://github.com/asottile/blacken-docs
  rev: 1.16.0
  hooks:
  - id: blacken-docs
- repo: meta
  hooks:
  - id: check-hooks-apply
  - id: check-useless-excludes
- repo: https://github.com/PyCQA/autoflake
  rev: v2.2.1
  hooks:
  - id: autoflake
    args:
    - --in-place
    - --config=setup.cfg
- repo: local
  hooks:
  - id: flake8
    name: flake8
    entry: python3 -m flake8
    language: system
    types: [python]
    files: ^(onetl|tests)/.*$
    pass_filenames: true
  - id: mypy
    name: mypy
    entry: python3 -m mypy --config-file setup.cfg onetl
    language: system
    types: [python]
    pass_filenames: false
  - id: towncrier
    name: towncrier
    entry: towncrier build --draft
    language: system
    types: [rst]
    pass_filenames: false

ci:
  skip:
  - flake8  # checked with Github Actions
  - mypy  # checked with Github Actions
  - towncrier  # checked with Github Actions
  - docker-compose-check  # cannot run on pre-commit.ci

update IncrementalBatchStrategy docstring
  onetl/strategy/incremental_strategy.py
Due: flake8, mypy

Fix MySQL docs link
  onetl/connection/db_connection/mysql/connection.py
Due: flake8, mypy

Fix Linters CI job
  .github/workflows/codeql-analysis.yml
  .github/workflows/test-greenplum.yml
  .github/workflows/test-hdfs.yml
Due: none

[DOP-9785] - update versions
  docs/changelog/next_release/172.breaking.rst
  docs/changelog/next_release/172.improvement.rst
  onetl/VERSION
  onetl/hwm/store/__init__.py
  requirements/core.txt
  tests/tests_unit/tests_hwm_store_unit/test_yaml_hwm_store_unit.py
Due: flake8, mypy, towncrier

[DOP-9785] - add import MemoryHWMStore
  docs/changelog/next_release/172.improvement.rst
  onetl/hwm/store/__init__.py
  tests/tests_unit/tests_hwm_store_unit/test_yaml_hwm_store_unit.py
Due: flake8, mypy, towncrier

[DOP-9785] - update imports
  onetl/file/file_downloader/file_downloader.py
  onetl/hwm/store/__init__.py
  onetl/strategy/hwm_store/__init__.py
Due: flake8, mypy

[DOP-9785] - update tests
  tests/tests_unit/test_file/test_file_downloader_unit.py
Due: flake8, mypy

[DOP-9785] - update imports
  onetl/hwm/store/__init__.py
  onetl/strategy/hwm_store/__init__.py
  tests/tests_unit/tests_hwm_store_unit/test_yaml_hwm_store_unit.py
Due: flake8, mypy

Fix Oracle & MSSQL docs link
  onetl/connection/db_connection/mssql/connection.py
  onetl/connection/db_connection/oracle/connection.py
Due: flake8, mypy

[DOP-9653] Update Excel package version to 0.20.1
  .github/workflows/data/local-fs/matrix.yml
  .github/workflows/data/local-fs/tracked.txt
  docs/changelog/next_release/161.feature.rst
  onetl/file/format/excel.py
  tests/fixtures/spark.py
  tests/tests_integration/test_file_format_integration/test_excel_integration.py
  tests/tests_unit/test_file/test_format_unit/test_excel_unit.py
Due: flake8, mypy, towncrier

update yaml_hwm_store documentation
  docs/hwm_store/index.rst
  docs/hwm_store/yaml_hwm_store.rst
  docs/index.rst
  onetl/hwm/store/yaml_hwm_store.py
  onetl/strategy/incremental_strategy.py
  onetl/strategy/snapshot_strategy.py
Due: flake8, mypy, towncrier

Revert "update yaml_hwm_store documentation"
  docs/hwm_store/index.rst
  docs/hwm_store/yaml_hwm_store.rst
  docs/index.rst
  onetl/hwm/store/yaml_hwm_store.py
  onetl/strategy/incremental_strategy.py
  onetl/strategy/snapshot_strategy.py
Due: flake8, mypy, towncrier

add reference to etl-entities
  docs/conf.py
  docs/hwm_store/index.rst
  docs/hwm_store/yaml_hwm_store.rst
  docs/index.rst
  onetl/hwm/store/yaml_hwm_store.py
Due: flake8, mypy, towncrier

add reference to etl-entities
  docs/hwm_store/index.rst
Due: towncrier

Update docs/hwm_store/index.rst
  docs/hwm_store/index.rst
Due: towncrier

Update docs/conf.py
  docs/conf.py
Due: mypy

[DOP-10628] Fix contribution guide
  CONTRIBUTING.rst
  requirements/docs.txt
Due: towncrier

[DOP-10628] Fix contribution guide
  CONTRIBUTING.rst
  tests/.coveragerc
Due: towncrier

upgrade file_downloader to new way of passing hwm
  onetl/_util/deprecated_hwm.py
  onetl/file/file_downloader/file_downloader.py
  tests/tests_integration/tests_strategy_integration/tests_incremental_strategy_integration/test_strategy_increment_file.py
Due: flake8, mypy

upgrade db_connection to new way of passing hwm
  onetl/_util/deprecated_hwm.py
  onetl/base/base_db_connection.py
  onetl/connection/db_connection/dialect_mixins/support_hwm_column_str.py
  onetl/connection/db_connection/dialect_mixins/support_hwm_expression_none.py
  onetl/connection/db_connection/dialect_mixins/support_hwm_expression_str.py
  onetl/connection/db_connection/kafka/dialect.py
  onetl/db/db_reader/db_reader.py
  onetl/db/db_reader/strategy_helper.py
  onetl/file/file_downloader/file_downloader.py
  onetl/file/filter/file_hwm.py
  onetl/hwm/__init__.py
  onetl/hwm/auto_hwm.py
  onetl/hwm/store/hwm_class_registry.py
  onetl/hwm/store/yaml_hwm_store.py
  onetl/strategy/batch_hwm_strategy.py
  onetl/strategy/hwm_strategy.py
  onetl/strategy/incremental_strategy.py
  requirements/core.txt
  tests/fixtures/hwm_delta.py
  tests/tests_integration/tests_core_integration/test_file_downloader_integration.py
  tests/tests_integration/tests_strategy_integration/test_strategy_incremental_batch.py
  tests/tests_integration/tests_strategy_integration/test_strategy_snapshot.py
  tests/tests_integration/tests_strategy_integration/tests_incremental_batch_strategy_integration/test_strategy_incremental_batch_mongodb.py
  tests/tests_integration/tests_strategy_integration/tests_incremental_strategy_integration/test_strategy_increment_clickhouse.py
  tests/tests_integration/tests_strategy_integration/tests_incremental_strategy_integration/test_strategy_increment_common.py
  tests/tests_integration/tests_strategy_integration/tests_incremental_strategy_integration/test_strategy_increment_file.py
  tests/tests_integration/tests_strategy_integration/tests_incremental_strategy_integration/test_strategy_increment_greenplum.py
  tests/tests_integration/tests_strategy_integration/tests_incremental_strategy_integration/test_strategy_increment_hive.py
  tests/tests_integration/tests_strategy_integration/tests_incremental_strategy_integration/test_strategy_increment_mongodb.py
  tests/tests_integration/tests_strategy_integration/tests_incremental_strategy_integration/test_strategy_increment_mssql.py
  tests/tests_integration/tests_strategy_integration/tests_incremental_strategy_integration/test_strategy_increment_mysql.py
  tests/tests_integration/tests_strategy_integration/tests_incremental_strategy_integration/test_strategy_increment_oracle.py
  tests/tests_integration/tests_strategy_integration/tests_incremental_strategy_integration/test_strategy_increment_postgres.py
  tests/tests_unit/test_db/test_db_reader_unit/test_common_reader_unit.py
  tests/tests_unit/test_db/test_db_reader_unit/test_mongodb_reader_unit.py
  tests/tests_unit/test_file/test_file_downloader_unit.py
Due: flake8, mypy

add deprecation warning and tests for it
  onetl/_util/deprecated_hwm.py
  onetl/db/db_reader/db_reader.py
  onetl/hwm/store/hwm_class_registry.py
  requirements/core.txt
  tests/tests_integration/tests_core_integration/test_file_downloader_integration.py
  tests/tests_integration/tests_strategy_integration/test_strategy_incremental_batch.py
  tests/tests_integration/tests_strategy_integration/test_strategy_snapshot.py
  tests/tests_integration/tests_strategy_integration/tests_incremental_strategy_integration/test_strategy_increment_clickhouse.py
  tests/tests_integration/tests_strategy_integration/tests_incremental_strategy_integration/test_strategy_increment_common.py
  tests/tests_integration/tests_strategy_integration/tests_incremental_strategy_integration/test_strategy_increment_mssql.py
  tests/tests_integration/tests_strategy_integration/tests_incremental_strategy_integration/test_strategy_increment_mysql.py
  tests/tests_unit/test_db/test_db_reader_unit/test_common_reader_unit.py
Due: flake8, mypy

move hwm_type validation in db_reader dialect class
  onetl/base/base_db_connection.py
  onetl/connection/db_connection/db_connection/dialect.py
  onetl/connection/db_connection/mysql/dialect.py
  onetl/connection/db_connection/oracle/dialect.py
  onetl/db/db_reader/db_reader.py
  onetl/db/db_reader/strategy_helper.py
  onetl/file/file_downloader/file_downloader.py
  onetl/hwm/__init__.py
  onetl/hwm/auto_hwm.py
  onetl/hwm/decimal.py
  onetl/hwm/statement.py
  onetl/hwm/store/hwm_class_registry.py
Due: flake8, mypy

update mysql dialect.detect_hwm_column_type
  onetl/connection/db_connection/mysql/dialect.py
Due: flake8, mypy

update documentation
  docs/changelog/next_release/179.breaking.rst
  docs/changelog/next_release/179.feature.rst
  onetl/_util/deprecated_hwm.py
  onetl/db/db_reader/db_reader.py
  onetl/db/db_reader/strategy_helper.py
  onetl/file/file_downloader/file_downloader.py
  onetl/hwm/auto_hwm.py
  onetl/strategy/incremental_strategy.py
  onetl/strategy/snapshot_strategy.py
  setup.cfg
  tests/tests_unit/test_db/test_db_reader_unit/test_common_reader_unit.py
Due: flake8, mypy, towncrier

remove _util/deprecated_hwm.py classes
  docs/changelog/next_release/179.breaking.rst
  docs/changelog/next_release/179.feature.rst
  onetl/_util/deprecated_hwm.py
  onetl/db/db_reader/db_reader.py
  onetl/file/file_downloader/file_downloader.py
  tests/tests_integration/tests_strategy_integration/test_strategy_incremental_batch.py
  tests/tests_integration/tests_strategy_integration/tests_incremental_batch_strategy_integration/test_strategy_incremental_batch_mongodb.py
  tests/tests_integration/tests_strategy_integration/tests_incremental_strategy_integration/test_strategy_increment_clickhouse.py
  tests/tests_integration/tests_strategy_integration/tests_incremental_strategy_integration/test_strategy_increment_file.py
  tests/tests_integration/tests_strategy_integration/tests_incremental_strategy_integration/test_strategy_increment_greenplum.py
  tests/tests_integration/tests_strategy_integration/tests_incremental_strategy_integration/test_strategy_increment_mongodb.py
  tests/tests_integration/tests_strategy_integration/tests_incremental_strategy_integration/test_strategy_increment_mssql.py
  tests/tests_integration/tests_strategy_integration/tests_incremental_strategy_integration/test_strategy_increment_mysql.py
  tests/tests_unit/test_db/test_db_reader_unit/test_common_reader_unit.py
Due: flake8, mypy, towncrier

update tests
  docs/changelog/next_release/179.breaking.rst
  onetl/base/base_db_connection.py
  onetl/connection/db_connection/db_connection/dialect.py
  onetl/connection/db_connection/dialect_mixins/support_hwm_column_str.py
  onetl/db/db_reader/db_reader.py
  onetl/db/db_reader/strategy_helper.py
  onetl/file/file_downloader/file_downloader.py
  onetl/hwm/__init__.py
  onetl/hwm/auto_hwm.py
  onetl/strategy/batch_hwm_strategy.py
  onetl/strategy/hwm_strategy.py
  onetl/strategy/incremental_strategy.py
  onetl/strategy/snapshot_strategy.py
  tests/fixtures/hwm_delta.py
  tests/tests_integration/tests_core_integration/test_file_downloader_integration.py
  tests/tests_integration/tests_strategy_integration/test_strategy_incremental_batch.py
  tests/tests_integration/tests_strategy_integration/tests_incremental_batch_strategy_integration/test_strategy_incremental_batch_mongodb.py
  tests/tests_integration/tests_strategy_integration/tests_incremental_strategy_integration/test_strategy_increment_clickhouse.py
  tests/tests_integration/tests_strategy_integration/tests_incremental_strategy_integration/test_strategy_increment_greenplum.py
  tests/tests_integration/tests_strategy_integration/tests_incremental_strategy_integration/test_strategy_increment_mongodb.py
  tests/tests_integration/tests_strategy_integration/tests_incremental_strategy_integration/test_strategy_increment_mssql.py
  tests/tests_integration/tests_strategy_integration/tests_incremental_strategy_integration/test_strategy_increment_mysql.py
  tests/tests_integration/tests_strategy_integration/tests_incremental_strategy_integration/test_strategy_increment_postgres.py
  tests/tests_unit/test_db/test_db_reader_unit/test_common_reader_unit.py
Due: flake8, mypy, towncrier

update file_downloader hwm_type logic and tests
  docs/changelog/next_release/179.breaking.rst
  onetl/connection/db_connection/db_connection/dialect.py
  onetl/connection/db_connection/mysql/dialect.py
  onetl/connection/db_connection/oracle/dialect.py
  onetl/file/file_downloader/file_downloader.py
  onetl/hwm/store/__init__.py
  onetl/hwm/store/hwm_class_registry.py
  onetl/strategy/hwm_store/__init__.py
  tests/tests_integration/tests_core_integration/test_file_downloader_integration.py
  tests/tests_integration/tests_strategy_integration/tests_incremental_strategy_integration/test_strategy_increment_file.py
  tests/tests_unit/test_db/test_db_reader_unit/test_common_reader_unit.py
Due: flake8, mypy, towncrier

upgrade file_downloader tests to new format
  tests/tests_integration/tests_core_integration/test_file_downloader_integration.py
  tests/tests_unit/test_file/test_file_downloader_unit.py
Due: flake8, mypy

update hwm tests
  onetl/db/db_reader/db_reader.py
  onetl/db/db_reader/strategy_helper.py
  onetl/file/file_downloader/file_downloader.py
  tests/tests_integration/tests_strategy_integration/test_strategy_incremental_batch.py
  tests/tests_integration/tests_strategy_integration/test_strategy_snapshot.py
  tests/tests_integration/tests_strategy_integration/tests_incremental_strategy_integration/test_strategy_increment_common.py
  tests/tests_integration/tests_strategy_integration/tests_incremental_strategy_integration/test_strategy_increment_file.py
  tests/tests_unit/test_db/test_db_reader_unit/test_common_reader_unit.py
Due: flake8, mypy

add check for unmatching passed hwm and existed column source type
  onetl/db/db_reader/db_reader.py
  tests/tests_integration/tests_strategy_integration/test_strategy_incremental_batch.py
Due: flake8, mypy

update file downloader hwm_type validation
  onetl/file/file_downloader/file_downloader.py
  tests/tests_unit/test_file/test_file_downloader_unit.py
Due: flake8, mypy
