Repository MobileTeleSystems/onetl: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, mypy

flake8:
  name: flake8
  entry: python3 -m flake8
  language: system
  pass_filenames: true

mypy:
  name: mypy
  entry: python3 -m mypy --config-file setup.cfg onetl
  language: system
  pass_filenames: false

[DOP-5633] Accept filter and limit as lists in FileDownloader & Mover
  README.rst
  docs/concepts.rst
  docs/core/index.rst
  docs/file_filters/base.rst
  docs/file_filters/exclude_dir.rst
  docs/file_filters/file_filter.rst
  docs/file_filters/glob.rst
  docs/file_filters/index.rst
  docs/file_filters/match_all_filters.rst
  docs/file_filters/regexp.rst
  docs/file_limits/base.rst
  docs/file_limits/file_limit.rst
  docs/file_limits/index.rst
  docs/file_limits/limits_reached.rst
  docs/file_limits/limits_stop_at.rst
  docs/file_limits/max_files_count.rst
  docs/file_limits/reset_limits.rst
  docs/index.rst
  docs/quickstart.rst
  onetl/base/base_file_connection.py
  onetl/core/file_downloader/file_downloader.py
  onetl/core/file_mover/file_mover.py
  onetl/core/file_uploader/file_uploader.py
  setup.cfg
  tests/tests_integration/tests_core_integration/test_file_downloader_integration.py
  tests/tests_integration/tests_core_integration/test_file_mover_integration.py
  tests/tests_integration/tests_core_integration/tests_db_writer_integration/test_mongodb_writer_integration.py
  tests/tests_unit/tests_core_unit/test_file_downloader_unit.py
Due: flake8, mypy

[DOP-5797] Add changelog
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/changelog.yml
  .github/workflows/dev-release.yml
  .github/workflows/release.yml
  .pre-commit-config.yaml
  docs/changelog.rst
  docs/changelog/DRAFT.rst
  docs/changelog/NEXT_RELEASE.rst
  docs/changelog/README.rst
  docs/changelog/index.rst
  docs/changelog/next_release/47.improvement.rst
  docs/conf.py
  docs/db_connection/greenplum/prerequisites.rst
  docs/index.rst
  pyproject.toml
  requirements/docs.txt
Due: mypy

[DOP-5797] Add changelog for 0.7.x and 0.8.0
  .github/workflows/release.yml
  docs/changelog/0.7.0.rst
  docs/changelog/0.7.1.rst
  docs/changelog/0.7.2.rst
  docs/changelog/README.rst
  docs/changelog/index.rst
  docs/changelog/next_release/32.misc.rst
  docs/changelog/next_release/36.breaking.rst
  docs/changelog/next_release/39.improvement.1.rst
  docs/changelog/next_release/39.improvement.2.rst
  docs/changelog/next_release/39.improvement.3.rst
  docs/changelog/next_release/40.feature.rst
  docs/changelog/next_release/40.improvement.rst
  docs/changelog/next_release/42.feature.rst
  docs/changelog/next_release/42.improvement.1.rst
  docs/changelog/next_release/42.improvement.2.rst
  docs/changelog/next_release/42.improvement.3.rst
  docs/changelog/next_release/43.breaking.rst
  docs/changelog/next_release/43.improvement.rst
  docs/changelog/next_release/44.breaking.1.rst
  docs/changelog/next_release/44.breaking.2.rst
  docs/changelog/next_release/44.improvement.rst
  docs/changelog/next_release/45.breaking.1.rst
  docs/changelog/next_release/45.breaking.2.rst
  docs/changelog/next_release/46.breaking.rst
  docs/changelog/next_release/47.improvement.rst
  docs/conf.py
  docs/file_connection/ftp.rst
  docs/file_connection/ftps.rst
  docs/file_connection/hdfs.rst
  docs/file_connection/sftp.rst
  pyproject.toml
Due: mypy

[DOP-5797] Generate changelog for 0.8.0
  docs/changelog/0.8.0.rst
  docs/changelog/index.rst
  docs/changelog/next_release/.keep
  docs/changelog/next_release/32.misc.rst
  docs/changelog/next_release/36.breaking.rst
  docs/changelog/next_release/39.improvement.1.rst
  docs/changelog/next_release/39.improvement.2.rst
  docs/changelog/next_release/39.improvement.3.rst
  docs/changelog/next_release/40.feature.rst
  docs/changelog/next_release/40.improvement.rst
  docs/changelog/next_release/42.feature.rst
  docs/changelog/next_release/42.improvement.1.rst
  docs/changelog/next_release/42.improvement.2.rst
  docs/changelog/next_release/42.improvement.3.rst
  docs/changelog/next_release/43.breaking.rst
  docs/changelog/next_release/43.improvement.rst
  docs/changelog/next_release/44.breaking.1.rst
  docs/changelog/next_release/44.breaking.2.rst
  docs/changelog/next_release/44.improvement.rst
  docs/changelog/next_release/45.breaking.1.rst
  docs/changelog/next_release/45.breaking.2.rst
  docs/changelog/next_release/46.breaking.rst
  docs/changelog/next_release/47.improvement.rst
Due: none

[DOP-5797] Do not include empty draft to changelog
  docs/conf.py
Due: mypy

[DOP-5797] Bump version
  .github/workflows/release.yml
  onetl/VERSION
Due: none

[DOP-5797] Fix release process
  .github/workflows/release.yml
Due: none

[DOP-5797] Update release notes
  docs/changelog/0.8.0.rst
Due: none

[DOP-3709] Fix flake8 errors
  onetl/hooks/slot.py
  setup.cfg
  tests/tests_unit/tests_db_connection_unit/test_db_options_unit.py
  tests/tests_unit/tests_db_connection_unit/test_hive_unit.py
Due: flake8, mypy

[DOP-3709] Fix flake8 errors
  onetl/_internal.py
  onetl/connection/db_connection/db_connection.py
  onetl/file/file_result.py
  onetl/file/file_set.py
Due: flake8, mypy

[DOP-3709] Add @slot to methods of public interfaces
  docs/changelog/next_release/49.feature.rst
  docs/changelog/next_release/49.improvement.rst
  docs/hwm_store/memory_hwm_store.rst
  docs/hwm_store/yaml_hwm_store.rst
  onetl/_internal.py
  onetl/base/base_connection.py
  onetl/base/base_db_connection.py
  onetl/base/base_file_connection.py
  onetl/base/contains_get_df_schema.py
  onetl/connection/db_connection/clickhouse.py
  onetl/connection/db_connection/greenplum.py
  onetl/connection/db_connection/hive.py
  onetl/connection/db_connection/jdbc_connection.py
  onetl/connection/db_connection/jdbc_mixin.py
  onetl/connection/db_connection/mongodb.py
  onetl/connection/db_connection/mssql.py
  onetl/connection/db_connection/mysql.py
  onetl/connection/db_connection/oracle.py
  onetl/connection/db_connection/postgres.py
  onetl/connection/db_connection/teradata.py
  onetl/connection/file_connection/file_connection.py
  onetl/connection/file_connection/ftp.py
  onetl/connection/file_connection/ftps.py
  onetl/connection/file_connection/hdfs.py
  onetl/connection/file_connection/s3.py
  onetl/connection/file_connection/sftp.py
  onetl/connection/file_connection/webdav.py
  onetl/db/db_reader/db_reader.py
  onetl/db/db_writer/db_writer.py
  onetl/file/file_downloader/file_downloader.py
  onetl/file/file_mover/file_mover.py
  onetl/file/file_uploader/file_uploader.py
  onetl/hooks/slot.py
  onetl/hwm/store/base_hwm_store.py
  onetl/hwm/store/memory_hwm_store.py
  onetl/hwm/store/yaml_hwm_store.py
Due: flake8, mypy

[DOP-6022] Improve documentation & Contribution guide
  .github/PULL_REQUEST_TEMPLATE.md
  CONTRIBUTING.rst
  README.rst
  docs/changelog/next_release/50.improvement.1.rst
  docs/changelog/next_release/50.improvement.2.rst
  docs/develop.rst
  docs/hooks/design.rst
  docs/index.rst
  docs/install.rst
  docs/quickstart.rst
  onetl/hwm/store/hwm_store_class_registry.py
Due: flake8, mypy

[DOP-6022] Improve documentation & Contribution guide (#50)
  .github/PULL_REQUEST_TEMPLATE.md
  CONTRIBUTING.rst
  README.rst
  docs/changelog/next_release/50.improvement.1.rst
  docs/changelog/next_release/50.improvement.2.rst
  docs/develop.rst
  docs/hooks/design.rst
  docs/index.rst
  docs/install.rst
  docs/quickstart.rst
  onetl/hwm/store/hwm_store_class_registry.py
Due: flake8, mypy

[DOP-6022] Improve Readme
  README.rst
Due: none

Do not hardcode Python version in CI workflows
  .github/workflows/codeql-analysis.yml
  .github/workflows/get-matrix.yml
  .github/workflows/nightly.yml
  .github/workflows/tests.yml
  tests/lib/base_processing.py
  tests/lib/oracle_processing.py
Due: flake8, mypy

Fix tests
  tests/lib/base_processing.py
  tests/lib/oracle_processing.py
Due: flake8, mypy

Test CI
  .github/workflows/dev-release.yml
Due: none

Update release CI
  .github/workflows/dev-release.yml
  .github/workflows/release.yml
Due: none

Update release CI
  .github/workflows/release.yml
Due: none

Add autoapprove action for pre-commit
  .github/workflows/automerge.yml
Due: none

Fix .rename_dir logging message
  onetl/connection/file_connection/mixins/rename_dir_mixin.py
Due: flake8, mypy

[DOP-2328] Add Skeleton for Kafka Connector
  onetl/connection/__init__.py
  onetl/connection/db_connection/kafka.py
  setup.cfg
  tests/tests_unit/tests_db_connection_unit/test_kafka_unit.py
Due: flake8, mypy

[DOP-2328] Add Skeleton for Kafka Connector
  tests/tests_unit/tests_db_connection_unit/test_kafka_unit.py
Due: flake8, mypy

[DOP-2328] Add Skeleton for Kafka Connector
  onetl/connection/db_connection/kafka.py
  tests/tests_unit/tests_db_connection_unit/test_kafka_unit.py
Due: flake8, mypy

Path conditions:
  flake8: any of: ^(onetl|tests)/.*$ and \.py$
  mypy: any of: \.py$
