Repository MobileTeleSystems/onetl: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, mypy

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: check-ast
  - id: check-case-conflict
  - id: check-docstring-first
  - id: check-executables-have-shebangs
  - id: check-merge-conflict
  - id: check-toml
  - id: check-vcs-permalinks
  - id: check-yaml
    args: [--unsafe]
  - id: requirements-txt-fixer
    files: ^(requirements/.*\.txt)$
  - id: end-of-file-fixer
    exclude: ^.*/VERSION$
  - id: fix-byte-order-marker
  - id: fix-encoding-pragma
    args: [--remove]
  - id: name-tests-test
    files: ^tests/(tests_integration|tests_unit)/.*\.py$
    args: [--django]
  - id: trailing-whitespace
- repo: https://github.com/Lucas-C/pre-commit-hooks
  rev: v1.5.1
  hooks:
  - id: remove-tabs
    exclude: ^docs/(make.bat|Makefile)
- repo: https://github.com/codespell-project/codespell
  rev: v2.2.4
  hooks:
  - id: codespell
    args: [-w]
- repo: https://github.com/macisamuele/language-formatters-pre-commit-hooks
  rev: v2.8.0
  hooks:
  - id: pretty-format-yaml
    args: [--autofix, --indent, '2']
- repo: https://github.com/lovesegfault/beautysh
  rev: v6.2.1
  hooks:
  - id: beautysh
- repo: https://github.com/IamTheFij/docker-pre-commit
  rev: v2.1.1
  hooks:
  - id: docker-compose-check
- repo: https://github.com/pycqa/isort
  rev: 5.11.5
  hooks:
  - id: isort
- repo: https://github.com/pre-commit/pygrep-hooks
  rev: v1.10.0
  hooks:
  - id: python-no-log-warn
  - id: python-no-eval
  - id: rst-backticks
  - id: rst-directive-colons
  - id: rst-inline-touching-normal
  - id: text-unicode-replacement-char
- repo: https://github.com/asottile/pyupgrade
  rev: v3.3.1
  hooks:
  - id: pyupgrade
    args: [--py37-plus, --keep-runtime-typing]
- repo: https://github.com/ambv/black
  rev: 23.3.0
  hooks:
  - id: black
    language_version: python3
- repo: https://github.com/asottile/blacken-docs
  rev: 1.13.0
  hooks:
  - id: blacken-docs
- repo: meta
  hooks:
  - id: check-hooks-apply
  - id: check-useless-excludes
- repo: https://github.com/myint/autoflake
  rev: v2.0.2
  hooks:
  - id: autoflake
    args:
    - --in-place
    - --config=setup.cfg
- repo: local
  hooks:
  - id: flake8
    name: flake8
    entry: python3 -m flake8
    language: system
    types: [python]
    files: ^(onetl|tests)/.*$
    pass_filenames: true
  - id: mypy
    name: mypy
    entry: python3 -m mypy --config-file setup.cfg onetl
    language: system
    types: [python]
    pass_filenames: false

ci:
  skip:
  - flake8  # checked with Github Actions
  - mypy  # checked with Github Actions
  - docker-compose-check  # cannot run on pre-commit.ci

[DOP-4041] Bump version
  onetl/VERSION
Due: none

[DOP-4041] Fix release workflow
  .github/workflows/release.yml
Due: none

[DOP-4041] Update README
  README.rst
Due: none

[DOP-4041] Update README
  README.rst
  onetl/connection/file_connection/hdfs.py
Due: flake8, mypy

[DOP-4041] Update ReadTheDocs link
  README.rst
  setup.py
Due: mypy

[DOP-4041] Fix Dockerfile
  docker/Dockerfile
Due: none

[DOP-4041] Run CI jobs on pull request to almost any branch
  .github/workflows/codeql-analysis.yml
  .github/workflows/tests.yml
Due: none

[DOP-4041] Fix mypy errors
  onetl/core/db_reader/db_reader.py
  onetl/core/db_reader/strategy_helper.py
Due: flake8, mypy

[DOP-4041] Update pre-commit hooks
  .pre-commit-config.yaml
Due: none

[DOP-4781] Test Clickhouse
  .github/workflows/data/clickhouse/matrix.yml
Due: none

[DOP-5430] Rename FileConnection methods
  conftest.py
  docs/quickstart.rst
  onetl/VERSION
  onetl/base/base_file_connection.py
  onetl/connection/file_connection/file_connection.py
  onetl/connection/file_connection/ftp.py
  onetl/connection/file_connection/hdfs.py
  onetl/connection/file_connection/s3.py
  onetl/connection/file_connection/sftp.py
  onetl/connection/file_connection/webdav.py
  onetl/core/file_downloader/file_downloader.py
  onetl/core/file_uploader/file_uploader.py
  tests/tests_integration/tests_core_integration/test_file_downloader_integration.py
  tests/tests_integration/tests_core_integration/test_file_uploader_integration.py
  tests/tests_integration/tests_file_connection_integration/test_file_connection_common_integration.py
  tests/tests_integration/tests_file_connection_integration/test_s3_integration.py
  tests/tests_unit/tests_file_connection_unit/test_hdfs_unit.py
Due: flake8, mypy

Fix Dockerfile
  docker/Dockerfile
Due: none

[DOP-5595] Fix setup_logging format
  onetl/VERSION
  onetl/log.py
Due: flake8, mypy

[DOP-5595] Fix setup_logging format
  onetl/log.py
Due: flake8, mypy

[DOP-5431] Add docstrings to FileConnection methods
  docs/file_connection/ftp.rst
  docs/file_connection/ftps.rst
  docs/file_connection/hdfs.rst
  docs/file_connection/s3.rst
  docs/file_connection/sftp.rst
  docs/file_connection/webdav.rst
  onetl/base/base_connection.py
  onetl/base/base_db_connection.py
  onetl/base/base_file_connection.py
  onetl/connection/file_connection/file_connection.py
  onetl/exception.py
Due: flake8, mypy

[DOP-5429] Add rename_dir method
  onetl/base/supports_rename_dir.py
  onetl/connection/file_connection/ftp.py
  onetl/connection/file_connection/hdfs.py
  onetl/connection/file_connection/mixins/__init__.py
  onetl/connection/file_connection/mixins/rename_dir_mixin.py
  onetl/connection/file_connection/sftp.py
  onetl/connection/file_connection/webdav.py
  onetl/exception.py
  tests/tests_integration/tests_file_connection_integration/test_file_connection_common_integration.py
Due: flake8, mypy

[DOP-3203] Add FileMover
  README.rst
  docs/concepts.rst
  docs/core/file_mover/file_mover.rst
  docs/core/file_mover/index.rst
  docs/core/file_mover/move_result.rst
  docs/core/index.rst
  onetl/connection/file_connection/file_connection.py
  onetl/core/file_downloader/file_downloader.py
  onetl/core/file_mover/__init__.py
  onetl/core/file_mover/file_mover.py
  onetl/core/file_mover/move_result.py
  onetl/core/file_result/file_set.py
  onetl/core/file_uploader/file_uploader.py
  requirements/core.txt
  tests/tests_integration/tests_core_integration/test_file_downloader_integration.py
  tests/tests_integration/tests_core_integration/test_file_mover_integration.py
  tests/tests_integration/tests_core_integration/test_file_uploader_integration.py
Due: flake8, mypy

[DOP-5431] Add docstrings to FileConnection methods (#39)
  docs/file_connection/ftp.rst
  docs/file_connection/ftps.rst
  docs/file_connection/hdfs.rst
  docs/file_connection/s3.rst
  docs/file_connection/sftp.rst
  docs/file_connection/webdav.rst
  onetl/base/base_connection.py
  onetl/base/base_db_connection.py
  onetl/base/base_file_connection.py
  onetl/connection/file_connection/file_connection.py
  onetl/exception.py
Due: flake8, mypy

[DOP-5631] Limit typing-extensions version
  onetl/VERSION
  requirements/core.txt
Due: none

[DOP-5631] Limit typing-extensions version
  requirements/core.txt
Due: none

[DOP-5631] Split FileFilter to separated classes
  docs/file_filter/base.rst
  docs/file_filter/exclude_dir.rst
  docs/file_filter/glob.rst
  docs/file_filter/index.rst
  docs/file_filter/match_all_filters.rst
  docs/file_filter/regexp.rst
  docs/index.rst
  onetl/base/base_file_filter.py
  onetl/base/path_protocol.py
  onetl/base/pure_path_protocol.py
  onetl/connection/file_connection/file_connection.py
  onetl/core/file_downloader/file_downloader.py
  onetl/core/file_filter/__init__.py
  onetl/core/file_filter/file_filter.py
  onetl/core/file_filter/match_all_filters.py
  onetl/core/file_result/__init__.py
  onetl/core/file_result/file_result.py
  onetl/core/file_result/file_set.py
  onetl/file/__init__.py
  onetl/file/filter/__init__.py
  onetl/file/filter/exclude_dir.py
  onetl/file/filter/file_hwm.py
  onetl/file/filter/glob.py
  onetl/file/filter/match_all_filters.py
  onetl/file/filter/regexp.py
  onetl/impl/failed_local_file.py
  onetl/impl/path_container.py
  onetl/strategy/hwm_store/__init__.py
  requirements/core.txt
  setup.cfg
  tests/tests_integration/tests_core_integration/test_file_downloader_integration.py
  tests/tests_integration/tests_core_integration/test_file_mover_integration.py
  tests/tests_unit/test_file/test_filter/test_exclude_dir.py
  tests/tests_unit/test_file/test_filter/test_glob.py
  tests/tests_unit/test_file/test_filter/test_match_all_filters.py
  tests/tests_unit/test_file/test_filter/test_regex.py
  tests/tests_unit/tests_core_unit/test_file_filter_unit.py
Due: flake8, mypy

[DOP-5632] Split FileLimit to separate limits
  docs/file_filter/regexp.rst
  docs/file_limit/base.rst
  docs/file_limit/index.rst
  docs/file_limit/limits_reached.rst
  docs/file_limit/limits_stop_at.rst
  docs/file_limit/max_files_count.rst
  docs/file_limit/reset_limits.rst
  docs/index.rst
  onetl/base/base_file_filter.py
  onetl/base/base_file_limit.py
  onetl/connection/file_connection/file_connection.py
  onetl/core/file_filter/file_filter.py
  onetl/core/file_limit/file_limit.py
  onetl/file/filter/match_all_filters.py
  onetl/file/limit/__init__.py
  onetl/file/limit/limits_reached.py
  onetl/file/limit/limits_stop_at.py
  onetl/file/limit/max_files_count.py
  onetl/file/limit/reset_limits.py
  requirements/core.txt
  requirements/dev.txt
  tests/tests_integration/tests_core_integration/test_file_downloader_integration.py
  tests/tests_integration/tests_core_integration/test_file_mover_integration.py
  tests/tests_unit/test_file/test_filter/test_match_all_filters.py
  tests/tests_unit/test_file/test_limit/test_limits_are_reached.py
  tests/tests_unit/test_file/test_limit/test_limits_stop_at.py
  tests/tests_unit/test_file/test_limit/test_max_files_count.py
  tests/tests_unit/test_file/test_limit/test_reset_limits.py
  tests/tests_unit/tests_core_unit/test_file_limit_unit.py
Due: flake8, mypy
