Repository MobileTeleSystems/onetl: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, mypy, towncrier

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: check-ast
  - id: check-case-conflict
  - id: check-docstring-first
  - id: check-executables-have-shebangs
  - id: check-merge-conflict
  - id: check-toml
  - id: check-vcs-permalinks
  - id: check-yaml
    args: [--unsafe]
  - id: requirements-txt-fixer
    files: ^(requirements/.*\.txt)$
  - id: end-of-file-fixer
    exclude: ^(.*/VERSION|tests/resources/.*/.*)$
  - id: fix-byte-order-marker
  - id: fix-encoding-pragma
    args: [--remove]
  - id: name-tests-test
    files: ^tests/(tests_integration|tests_unit)/.*\.py$
    args: [--django]
  - id: trailing-whitespace
- repo: https://github.com/Lucas-C/pre-commit-hooks
  rev: v1.5.4
  hooks:
  - id: remove-tabs
    exclude: ^docs/(make.bat|Makefile)
- repo: https://github.com/codespell-project/codespell
  rev: v2.2.5
  hooks:
  - id: codespell
    args: [-w]
- repo: https://github.com/macisamuele/language-formatters-pre-commit-hooks
  rev: v2.10.0
  hooks:
  - id: pretty-format-yaml
    args: [--autofix, --indent, '2', --preserve-quotes]
- repo: https://github.com/lovesegfault/beautysh
  rev: v6.2.1
  hooks:
  - id: beautysh
- repo: https://github.com/IamTheFij/docker-pre-commit
  rev: v3.0.1
  hooks:
  - id: docker-compose-check
- repo: https://github.com/pycqa/isort
  rev: 5.12.0
  hooks:
  - id: isort
- repo: https://github.com/pre-commit/pygrep-hooks
  rev: v1.10.0
  hooks:
  - id: python-no-log-warn
  - id: python-no-eval
  - id: rst-backticks
  - id: rst-directive-colons
  - id: rst-inline-touching-normal
  - id: text-unicode-replacement-char
- repo: https://github.com/asottile/pyupgrade
  rev: v3.10.1
  hooks:
  - id: pyupgrade
    args: [--py37-plus, --keep-runtime-typing]
- repo: https://github.com/psf/black
  rev: 23.7.0
  hooks:
  - id: black
    language_version: python3
- repo: https://github.com/asottile/blacken-docs
  rev: 1.16.0
  hooks:
  - id: blacken-docs
- repo: meta
  hooks:
  - id: check-hooks-apply
  - id: check-useless-excludes
- repo: https://github.com/PyCQA/autoflake
  rev: v2.2.1
  hooks:
  - id: autoflake
    args:
    - --in-place
    - --config=setup.cfg
- repo: local
  hooks:
  - id: flake8
    name: flake8
    entry: python3 -m flake8
    language: system
    types: [python]
    files: ^(onetl|tests)/.*$
    pass_filenames: true
  - id: mypy
    name: mypy
    entry: python3 -m mypy --config-file setup.cfg onetl
    language: system
    types: [python]
    pass_filenames: false
  - id: towncrier
    name: towncrier
    entry: towncrier build --draft
    language: system
    types: [rst]
    pass_filenames: false

ci:
  skip:
  - flake8  # checked with Github Actions
  - mypy  # checked with Github Actions
  - towncrier  # checked with Github Actions
  - docker-compose-check  # cannot run on pre-commit.ci

[DOP-13850] Update Oracle package to 23.4.0.24.05
  docs/changelog/next_release/252.feature.rst
  onetl/connection/db_connection/oracle/connection.py
  tests/tests_unit/tests_db_connection_unit/test_oracle_unit.py
Due: flake8, mypy, towncrier

[DOP-13851] Update MySQL package to 8.4.0
  .github/workflows/data/mysql/matrix.yml
  docs/changelog/next_release/253.feature.rst
  docs/connection/db_connection/mysql/prerequisites.rst
  onetl/connection/db_connection/mysql/connection.py
  tests/tests_unit/tests_db_connection_unit/test_mysql_unit.py
Due: flake8, mypy, towncrier

[DOP-16174] Small documentation fixes
  docs/changelog/0.10.0.rst
  docs/changelog/0.8.0.rst
  docs/changelog/0.9.0.rst
  docs/connection/db_connection/clickhouse/types.rst
  docs/connection/db_connection/greenplum/types.rst
  docs/connection/db_connection/mssql/types.rst
  docs/connection/db_connection/mysql/types.rst
  docs/connection/db_connection/oracle/types.rst
  docs/connection/db_connection/postgres/types.rst
  onetl/connection/db_connection/clickhouse/connection.py
  onetl/connection/db_connection/clickhouse/options.py
  onetl/connection/db_connection/greenplum/connection.py
  onetl/connection/db_connection/greenplum/options.py
  onetl/connection/db_connection/hive/connection.py
  onetl/connection/db_connection/kafka/connection.py
  onetl/connection/db_connection/mongodb/connection.py
  onetl/connection/db_connection/mssql/connection.py
  onetl/connection/db_connection/mssql/options.py
  onetl/connection/db_connection/mysql/connection.py
  onetl/connection/db_connection/mysql/options.py
  onetl/connection/db_connection/oracle/connection.py
  onetl/connection/db_connection/oracle/options.py
  onetl/connection/db_connection/postgres/connection.py
  onetl/connection/db_connection/postgres/options.py
  onetl/connection/db_connection/teradata/connection.py
  onetl/connection/db_connection/teradata/options.py
  onetl/connection/file_df_connection/spark_hdfs/connection.py
  onetl/connection/file_df_connection/spark_s3/connection.py
  onetl/db/db_reader/db_reader.py
  onetl/db/db_writer/db_writer.py
  onetl/file/format/avro.py
  onetl/file/format/excel.py
  onetl/file/format/xml.py
Due: flake8, mypy, towncrier

[DOP-13853] Update MongoDB package to 10.3.0
  .github/workflows/data/mongodb/matrix.yml
  docs/changelog/next_release/255.feature.rst
  docs/connection/db_connection/mongodb/prerequisites.rst
  docs/connection/db_connection/mongodb/types.rst
  onetl/connection/db_connection/mongodb/connection.py
  tests/tests_unit/tests_db_connection_unit/test_mongodb_unit.py
Due: flake8, mypy, towncrier

update clickhouse docs
  docs/connection/db_connection/clickhouse/types.rst
Due: towncrier

[DOP-13852] Update MSSQL package to 12.6.2
  docs/changelog/next_release/254.feature.rst
  onetl/connection/db_connection/mssql/connection.py
  tests/tests_unit/tests_db_connection_unit/test_mssql_unit.py
Due: flake8, mypy, towncrier

[DOP-13855] Update Clickhouse package to 0.6.0-patch5
  docs/changelog/next_release/249.breaking.rst
  onetl/connection/db_connection/clickhouse/connection.py
  tests/tests_unit/tests_db_connection_unit/test_clickhouse_unit.py
Due: flake8, mypy, towncrier

[DOP-16174] Prepare for release
  docs/changelog/0.11.0.rst
  docs/changelog/0.7.0.rst
  docs/changelog/index.rst
  docs/changelog/next_release/+.bugfix.rst
  docs/changelog/next_release/249.breaking.rst
  docs/changelog/next_release/249.feature.rst
  docs/changelog/next_release/251.feature.rst
  docs/changelog/next_release/252.feature.rst
  docs/changelog/next_release/253.feature.rst
  docs/changelog/next_release/254.feature.rst
  docs/changelog/next_release/255.feature.rst
  docs/changelog/next_release/256.feature.rst
  docs/changelog/next_release/257.feature.rst
  docs/changelog/next_release/258.feature.rst
  docs/changelog/next_release/259.feature.rst
  docs/changelog/next_release/265.feature.rst
  docs/changelog/next_release/267.breaking.rst
  docs/changelog/next_release/268.feature.rst
  docs/changelog/next_release/269.feature.rst
  docs/changelog/next_release/272.feature.rst
  docs/changelog/next_release/273.improvement.rst
  docs/changelog/next_release/274.feature.rst
  docs/changelog/next_release/275.improvement.rst
  docs/changelog/next_release/276.improvement.rst
  docs/changelog/next_release/278.improvement.rst
  docs/changelog/next_release/279.improvement.rst
  docs/changelog/next_release/280.improvement.rst
Due: towncrier

[DOP-16174] Fix changelog
  docs/changelog/0.11.0.rst
Due: towncrier

[DOP-16174] Fix changelog
  onetl/file/format/excel.py
Due: flake8, mypy

[DOP-16174] Add versionadded to Avro, XML and Excel get_packages method
  onetl/file/format/avro.py
  onetl/file/format/excel.py
  onetl/file/format/xml.py
Due: flake8, mypy

[DOP-16174] Bump version
  onetl/VERSION
Due: none

[DOP-16174] Update CHANGELOG
  docs/changelog/0.11.0.rst
Due: towncrier

[DOP-16174] Update CHANGELOG
  docs/changelog/0.11.0.rst
  docs/connection/db_connection/kafka/prerequisites.rst
Due: towncrier

[DOP-16270] Allow passing instanceName to MSSQL(extra=...)
  README.rst
  docs/changelog/next_release/287.feature.rst
  docs/connection/db_connection/mssql/prerequisites.rst
  docs/logging.rst
  onetl/connection/db_connection/clickhouse/connection.py
  onetl/connection/db_connection/jdbc_connection/connection.py
  onetl/connection/db_connection/mssql/connection.py
  onetl/connection/db_connection/mysql/connection.py
  onetl/connection/db_connection/oracle/connection.py
  onetl/connection/db_connection/postgres/connection.py
  onetl/connection/db_connection/teradata/connection.py
  tests/tests_unit/tests_db_connection_unit/test_clickhouse_unit.py
  tests/tests_unit/tests_db_connection_unit/test_greenplum_unit.py
  tests/tests_unit/tests_db_connection_unit/test_mssql_unit.py
  tests/tests_unit/tests_db_connection_unit/test_mysql_unit.py
  tests/tests_unit/tests_db_connection_unit/test_oracle_unit.py
  tests/tests_unit/tests_db_connection_unit/test_postgres_unit.py
  tests/tests_unit/tests_db_connection_unit/test_teradata_unit.py
Due: flake8, mypy, towncrier

[DOP-15764] Remove fetchsize from JDBCWriteOptions
  .github/workflows/data/db/tracked.txt
  docs/changelog/next_release/288.bugfix.rst
  onetl/connection/db_connection/greenplum/connection.py
  onetl/connection/db_connection/jdbc_connection/connection.py
  onetl/connection/db_connection/jdbc_connection/options.py
  onetl/connection/db_connection/jdbc_mixin/connection.py
  onetl/connection/db_connection/postgres/connection.py
Due: flake8, mypy, towncrier

[DOP-16174] Fix S3 troubleshooting guide
  docs/connection/file_df_connection/spark_s3/troubleshooting.rst
Due: towncrier

[DOP-16174] Prepare for release
  docs/changelog/0.11.1.rst
  docs/changelog/index.rst
  docs/changelog/next_release/287.feature.rst
  docs/changelog/next_release/288.bugfix.rst
Due: towncrier

[DOP-16270] Fix pre-commit hooks errors
  docs/logging.rst
  onetl/hwm/auto_hwm.py
  setup.cfg
Due: flake8, mypy, towncrier

[DOP-16270] Fix CHANGELOG
  docs/changelog/0.11.1.rst
  onetl/connection/db_connection/mssql/connection.py
Due: flake8, mypy, towncrier

[DOP-16270] Prepare for release
  docs/changelog/0.11.1.rst
  docs/connection/db_connection/hive/write.rst
Due: towncrier

[DOP-16270] Bump version
  onetl/VERSION
Due: none

[DOP-13853] Update MongoDB example
  docs/connection/db_connection/mongodb/types.rst
Due: towncrier

[DOP-14063] Drop onetl._internal module
  .github/workflows/data/core/tracked.txt
  .github/workflows/test-core.yml
  onetl/_internal.py
  onetl/_util/file.py
  onetl/_util/spark.py
  onetl/_util/sql.py
  onetl/connection/db_connection/hive/connection.py
  onetl/connection/db_connection/jdbc_connection/connection.py
  onetl/connection/db_connection/jdbc_connection/options.py
  onetl/connection/db_connection/jdbc_mixin/connection.py
  onetl/connection/db_connection/kafka/connection.py
  onetl/connection/db_connection/kafka/kafka_kerberos_auth.py
  onetl/connection/db_connection/kafka/kafka_scram_auth.py
  onetl/connection/db_connection/kafka/kafka_ssl_protocol.py
  onetl/connection/db_connection/oracle/connection.py
  onetl/connection/db_connection/teradata/connection.py
  onetl/connection/file_df_connection/spark_s3/connection.py
  onetl/file/file_downloader/file_downloader.py
  onetl/file/file_uploader/file_uploader.py
  onetl/file/format/csv.py
  onetl/file/format/json.py
  tests/tests_unit/test_internal_unit/test_generate_temp_path.py
  tests/tests_unit/tests_db_connection_unit/test_jdbc_options_unit.py
Due: flake8, mypy

[DOP-16555] Add notes about local Greenplum tests
  CONTRIBUTING.rst
  docker-compose.yml
  tests/fixtures/spark.py
  tests/tests_integration/tests_core_integration/tests_db_writer_integration/test_clickhouse_writer_integration.py
  tests/tests_integration/tests_core_integration/tests_db_writer_integration/test_greenplum_writer_integration.py
  tests/tests_integration/tests_core_integration/tests_db_writer_integration/test_kafka_writer_integration.py
  tests/tests_integration/tests_core_integration/tests_db_writer_integration/test_mongodb_writer_integration.py
  tests/tests_integration/tests_core_integration/tests_db_writer_integration/test_mssql_writer_integration.py
  tests/tests_integration/tests_core_integration/tests_db_writer_integration/test_mysql_writer_integration.py
  tests/tests_integration/tests_core_integration/tests_db_writer_integration/test_oracle_writer_integration.py
  tests/tests_integration/tests_core_integration/tests_db_writer_integration/test_postgres_writer_integration.py
Due: flake8, mypy, towncrier

[DOP-13855] Add note about new JDBC driver to CHANGELOG
  docs/changelog/0.11.0.rst
Due: towncrier

Update README
  README.rst
Due: towncrier

[DOP-16103] - add class format to HiveWriteOptions
  docs/changelog/next_release/292.feature.rst
  onetl/connection/db_connection/hive/connection.py
  onetl/connection/db_connection/hive/options.py
  tests/tests_integration/tests_core_integration/tests_db_writer_integration/test_hive_writer_integration.py
Due: flake8, mypy, towncrier

[DOP-16103] - move format logic to _format_write_options method
  onetl/connection/db_connection/hive/connection.py
  onetl/connection/db_connection/hive/options.py
Due: flake8, mypy

[DOP-16103] - improve logging
  docs/connection/db_connection/hive/write.rst
  onetl/connection/db_connection/hive/connection.py
  tests/tests_integration/tests_core_integration/tests_db_writer_integration/test_hive_writer_integration.py
Due: flake8, mypy, towncrier
