Repository MobileTeleSystems/onetl: changes, and which Codecov flags are due for each by the changed paths.
All: core, db, clickhouse, greenplum, hive, mongodb, mssql, mysql, oracle, postgres, teradata, file, ftp, ftps, hdfs, s3, sftp, webdav

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 93%
        threshold: 1%

flags:
  core:
    paths:
    - onetl/base/base_connection.py
    - onetl/hwm/**
    - onetl/impl/*model*.py
    - onetl/impl/*options*.py
    - onetl/strategy/**
    - onetl/hooks/**
    - onetl/plugins/**
    - onetl/exception.py
    - onetl/log.py
    - onetl/_internal.py
  db:
    paths:
    - onetl/base/*db*.py
    - onetl/base/*df*.py
    - onetl/core/db*/**
    - onetl/db_connection/db_connection.py
    - onetl/db_connection/dialect_mixins/**
    - onetl/db_connection/jdbc*.py
  clickhouse:
    paths:
    - onetl/db_connection/clickhouse.py
  greenplum:
    paths:
    - onetl/db_connection/greenplum.py
    carryforward: true  # if someone creates pull request from a fork, do not fail if Greenplum coverage is 0%
  hive:
    paths:
    - onetl/db_connection/hive.py
  mongodb:
    paths:
    - onetl/db_connection/mongodb.py
  mssql:
    paths:
    - onetl/db_connection/mongodb.py
  mysql:
    paths:
    - onetl/db_connection/mongodb.py
  oracle:
    paths:
    - onetl/db_connection/oracle.py
  postgres:
    paths:
    - onetl/db_connection/postgres.py
  teradata:
    paths:
    - onetl/db_connection/teradata.py
  file:
    paths:
    - onetl/base/*file*.py
    - onetl/base/*path*.py
    - onetl/base/contains_exception.py
    - onetl/core/file*/**
    - onetl/core/kerberos_helpers.py
    - onetl/file_connection/file_connection.py
    - onetl/impl/*path*.py
    - onetl/impl/*file*.py
    - onetl/impl/*directory*.py
  ftp:
    paths:
    - onetl/file_connection/ftp.py
  ftps:
    paths:
    - onetl/file_connection/ftps.py
  hdfs:
    paths:
    - onetl/file_connection/hdfs.py
  s3:
    paths:
    - onetl/file_connection/s3.py
  sftp:
    paths:
    - onetl/file_connection/sftp.py
  webdav:
    paths:
    - onetl/file_connection/webdav.py
  nightly:
    joined: false

Update onetl/connection/db_connection/kafka/slots.py
  onetl/connection/db_connection/kafka/slots.py
Due: none

[DOP-7932] - remove integration test
  onetl/connection/db_connection/kafka/connection.py
  tests/tests_integration/tests_db_connection_integration/test_kafka_integration.py
Due: none

Update onetl/connection/db_connection/kafka/connection.py
  onetl/connection/db_connection/kafka/connection.py
Due: none

[DOP-7932] - change variables names
  onetl/connection/db_connection/kafka/connection.py
Due: none

[DOP-7932] - updated tests
  tests/tests_unit/tests_db_connection_unit/test_kafka_unit.py
Due: none

[DOP-7983] - restrict streaming df in run method
  onetl/db/db_writer/db_writer.py
  onetl/file/file_writer/file_writer.py
  tests/tests_integration/tests_core_integration/test_file_writer_integration/test_common_file_writer_integration.py
  tests/tests_integration/tests_core_integration/tests_db_writer_integration/test_common_db_writer_integration.py
Due: none

[DOP-7983] - updated documentation
  onetl/db/db_writer/db_writer.py
  onetl/file/file_writer/file_writer.py
Due: none

[DOP-7693] Implement Connection.inject_packages() method
  README.rst
  docs/changelog/next_release/112.feature.rst
  docs/connection/db_connection/greenplum/prerequisites.rst
  onetl/_util/hadoop.py
  onetl/_util/ivy.py
  onetl/_util/java.py
  onetl/_util/scala.py
  onetl/connection/db_connection/clickhouse.py
  onetl/connection/db_connection/greenplum.py
  onetl/connection/db_connection/hive.py
  onetl/connection/db_connection/jdbc_mixin.py
  onetl/connection/db_connection/kafka/connection.py
  onetl/connection/db_connection/mongodb.py
  onetl/connection/db_connection/mssql.py
  onetl/connection/db_connection/mysql.py
  onetl/connection/db_connection/oracle.py
  onetl/connection/db_connection/postgres.py
  onetl/connection/db_connection/teradata.py
  onetl/connection/file_df_connection/spark_s3/connection.py
  onetl/db/db_reader/db_reader.py
  onetl/db/db_writer/db_writer.py
  onetl/exception.py
  onetl/file/format/avro.py
  onetl/hwm/store/memory_hwm_store.py
  onetl/hwm/store/yaml_hwm_store.py
  onetl/strategy/incremental_strategy.py
  onetl/strategy/snapshot_strategy.py
  tests/fixtures/spark.py
  tests/tests_integration/tests_db_connection_integration/test_teradata_integration.py
  tests/tests_unit/test_file/test_format_unit/test_avro_unit.py
  tests/tests_unit/tests_db_connection_unit/test_greenplum_unit.py
  tests/tests_unit/tests_db_connection_unit/test_mongodb_unit.py
  tests/tests_unit/tests_db_connection_unit/test_mssql_unit.py
  tests/tests_unit/tests_db_connection_unit/test_oracle_unit.py
Due: core

[DOP-7957] Rename mode -> if_exists, and make modes more descriptive
  README.rst
  docs/changelog/next_release/108.breaking.rst
  docs/concepts.rst
  onetl/connection/db_connection/greenplum.py
  onetl/connection/db_connection/hive.py
  onetl/connection/db_connection/jdbc_connection.py
  onetl/connection/db_connection/jdbc_mixin.py
  onetl/connection/db_connection/mongodb.py
  onetl/db/db_writer/db_writer.py
  onetl/file/file_downloader/file_downloader.py
  onetl/file/file_mover/file_mover.py
  onetl/file/file_uploader/file_uploader.py
  onetl/file/file_writer/options.py
  onetl/impl/__init__.py
  onetl/impl/file_exist_behavior.py
  onetl/impl/file_write_mode.py
  tests/tests_integration/tests_core_integration/test_file_downloader_integration.py
  tests/tests_integration/tests_core_integration/test_file_mover_integration.py
  tests/tests_integration/tests_core_integration/test_file_uploader_integration.py
  tests/tests_integration/tests_core_integration/test_file_writer_integration/test_common_file_writer_integration.py
  tests/tests_integration/tests_core_integration/tests_db_writer_integration/test_greenplum_writer_integration.py
  tests/tests_integration/tests_core_integration/tests_db_writer_integration/test_hive_writer_integration.py
  tests/tests_integration/tests_core_integration/tests_db_writer_integration/test_postgres_writer_integration.py
  tests/tests_integration/tests_strategy_integration/tests_incremental_strategy_integration/test_strategy_increment_file.py
  tests/tests_unit/test_file/test_file_downloader_unit.py
  tests/tests_unit/test_file/test_file_mover_unit.py
  tests/tests_unit/tests_db_connection_unit/test_db_options_unit.py
  tests/tests_unit/tests_db_connection_unit/test_greenplum_unit.py
  tests/tests_unit/tests_db_connection_unit/test_hive_unit.py
  tests/tests_unit/tests_db_connection_unit/test_jdbc_options_unit.py
  tests/tests_unit/tests_db_connection_unit/test_mongodb_unit.py
Due: file

[DOP-7984] - get writing mode for Kafka connection
  onetl/connection/db_connection/kafka/connection.py
  onetl/connection/db_connection/kafka/options.py
  onetl/exception.py
  tests/tests_integration/tests_core_integration/tests_db_writer_integration/test_kafka_writer_integration.py
  tests/tests_unit/tests_db_connection_unit/test_kafka_unit.py
Due: core

[DOP-7984] - updated tests
  onetl/connection/db_connection/kafka/connection.py
  onetl/connection/db_connection/kafka/options.py
  tests/tests_integration/tests_core_integration/tests_db_writer_integration/test_kafka_writer_integration.py
  tests/tests_unit/tests_db_connection_unit/test_kafka_unit.py
Due: none

[DOP-7984] - updated validation in connection
  onetl/connection/db_connection/kafka/connection.py
Due: none

[DOP-8019] Improve Kafka.KerberosAuth
  .gitignore
  onetl/_util/file.py
  onetl/connection/db_connection/kafka/connection.py
  onetl/connection/db_connection/kafka/extra.py
  onetl/connection/db_connection/kafka/kafka_auth.py
  onetl/connection/db_connection/kafka/kafka_basic_auth.py
  onetl/connection/db_connection/kafka/kafka_kerberos_auth.py
  onetl/connection/db_connection/kafka/kafka_plaintext_protocol.py
  onetl/connection/db_connection/kafka/kafka_protocol.py
  onetl/connection/db_connection/kafka/options.py
  onetl/connection/kerberos_helpers.py
  tests/fixtures/create_keytab.py
  tests/tests_integration/test_file_format_integration/test_csv_integration.py
  tests/tests_integration/tests_db_connection_integration/test_kafka_integration.py
  tests/tests_unit/test_file/test_file_writer_unit.py
  tests/tests_unit/test_file/test_format_unit/test_avro_unit.py
  tests/tests_unit/test_file/test_format_unit/test_csv_unit.py
  tests/tests_unit/test_file/test_format_unit/test_file_format_unit.py
  tests/tests_unit/test_file/test_format_unit/test_json_unit.py
  tests/tests_unit/test_file/test_format_unit/test_jsonline_unit.py
  tests/tests_unit/test_file/test_format_unit/test_orc_unit.py
  tests/tests_unit/test_file/test_format_unit/test_parquet_unit.py
  tests/tests_unit/tests_db_connection_unit/test_db_options_unit.py
  tests/tests_unit/tests_db_connection_unit/test_greenplum_unit.py
  tests/tests_unit/tests_db_connection_unit/test_jdbc_options_unit.py
  tests/tests_unit/tests_db_connection_unit/test_kafka_unit.py
Due: none

[DOP-8092] Rename FileReader -> FileDFReader
  .github/workflows/data/file-df/tracked.txt
  README.rst
  docs/changelog/next_release/+.feature.rst
  docs/concepts.rst
  docs/file_df/file_df_reader/file_df_reader.rst
  docs/file_df/file_df_reader/index.rst
  docs/file_df/file_df_reader/options.rst
  docs/file_df/file_df_writer/file_df_writer.rst
  docs/file_df/file_df_writer/index.rst
  docs/file_df/file_df_writer/options.rst
  docs/file_df/file_reader/file_reader.rst
  docs/file_df/file_reader/options.rst
  docs/file_df/file_writer/file_writer.rst
  docs/file_df/file_writer/options.rst
  docs/file_df/index.rst
  onetl/file/__init__.py
  onetl/file/file_df_reader/__init__.py
  onetl/file/file_df_reader/file_df_reader.py
  onetl/file/file_df_reader/options.py
  onetl/file/file_df_writer/__init__.py
  onetl/file/file_df_writer/file_df_writer.py
  onetl/file/file_df_writer/options.py
  tests/resources/file_df_connection/generate_files.py
  tests/tests_integration/test_file_format_integration/test_avro_integration.py
  tests/tests_integration/test_file_format_integration/test_csv_integration.py
  tests/tests_integration/test_file_format_integration/test_json_integration.py
  tests/tests_integration/test_file_format_integration/test_jsonline_integration.py
  tests/tests_integration/test_file_format_integration/test_orc_integration.py
  tests/tests_integration/test_file_format_integration/test_parquet_integration.py
  tests/tests_integration/tests_core_integration/test_file_df_reader_integration/test_common_file_df_reader_integration.py
  tests/tests_integration/tests_core_integration/test_file_df_reader_integration/test_spark_local_fs_file_df_reader_integration.py
  tests/tests_integration/tests_core_integration/test_file_df_writer_integration/test_common_file_df_writer_integration.py
  tests/tests_unit/test_file/test_file_df_reader_unit.py
  tests/tests_unit/test_file/test_file_df_writer_unit.py
  tests/tests_unit/test_file/test_file_reader_unit.py
Due: none

[DOP-7986] Add Kafka.ScramAuth
  .env.dependencies
  .env.docker
  .env.local
  .github/workflows/test-kafka.yml
  docker-compose.yml
  onetl/connection/db_connection/kafka/connection.py
  onetl/connection/db_connection/kafka/kafka_scram_auth.py
  setup.cfg
  tests/fixtures/processing/kafka.py
  tests/tests_integration/tests_db_connection_integration/test_kafka_integration.py
  tests/tests_unit/tests_db_connection_unit/test_kafka_unit.py
Due: none

[DOP-7984] - get writing mode for Kafka connection (#114)
  onetl/connection/db_connection/kafka/connection.py
  onetl/connection/db_connection/kafka/options.py
  onetl/exception.py
  tests/tests_integration/tests_core_integration/tests_db_writer_integration/test_kafka_writer_integration.py
  tests/tests_unit/tests_db_connection_unit/test_kafka_unit.py
Due: core

[DOP-8092] Rename ExistsBehavior -> ExistBehavior
  onetl/connection/db_connection/greenplum.py
  onetl/connection/db_connection/hive.py
  onetl/connection/db_connection/jdbc_connection.py
  onetl/connection/db_connection/mongodb.py
  onetl/file/file_df_writer/options.py
  onetl/file/file_downloader/file_downloader.py
  onetl/file/file_mover/file_mover.py
  onetl/file/file_uploader/file_uploader.py
  onetl/impl/__init__.py
  onetl/impl/file_exist_behavior.py
  tests/tests_integration/tests_core_integration/test_file_downloader_integration.py
  tests/tests_integration/tests_core_integration/test_file_mover_integration.py
  tests/tests_integration/tests_core_integration/test_file_uploader_integration.py
  tests/tests_unit/test_file/test_file_downloader_unit.py
  tests/tests_unit/test_file/test_file_mover_unit.py
  tests/tests_unit/test_file/test_file_uploader_unit.py
  tests/tests_unit/tests_db_connection_unit/test_greenplum_unit.py
  tests/tests_unit/tests_db_connection_unit/test_hive_unit.py
  tests/tests_unit/tests_db_connection_unit/test_jdbc_options_unit.py
  tests/tests_unit/tests_db_connection_unit/test_mongodb_unit.py
Due: file

[DOP-8092] Return self in close() methods
  onetl/connection/db_connection/jdbc_mixin.py
  onetl/connection/db_connection/kafka/connection.py
  onetl/connection/file_connection/file_connection.py
  onetl/connection/file_df_connection/spark_hdfs/connection.py
  onetl/connection/file_df_connection/spark_s3/connection.py
Due: none

[DOP-8092] Improve error message for FileDFWriter.Options(mode)
  onetl/connection/db_connection/greenplum.py
  onetl/connection/db_connection/jdbc_connection.py
  onetl/file/file_df_writer/options.py
  tests/tests_unit/test_file/test_file_df_writer_unit.py
Due: none

[DOP-8092] Fix tests
  onetl/connection/db_connection/greenplum.py
  onetl/connection/db_connection/jdbc_connection.py
Due: none

[DOP-8109] Improve error messages in get_packages
  .github/workflows/data/clickhouse/matrix.yml
  .github/workflows/data/core/matrix.yml
  .github/workflows/data/hdfs/matrix.yml
  .github/workflows/data/hive/matrix.yml
  .github/workflows/data/kafka/matrix.yml
  .github/workflows/data/local-fs/matrix.yml
  .github/workflows/data/mongodb/matrix.yml
  .github/workflows/data/mssql/matrix.yml
  .github/workflows/data/mysql/matrix.yml
  .github/workflows/data/oracle/matrix.yml
  .github/workflows/data/postgres/matrix.yml
  .github/workflows/data/s3/matrix.yml
  .github/workflows/data/teradata/matrix.yml
  README.rst
  onetl/connection/db_connection/clickhouse.py
  onetl/connection/db_connection/greenplum.py
  onetl/connection/db_connection/hive.py
  onetl/connection/db_connection/mongodb.py
  onetl/connection/db_connection/mssql.py
  onetl/connection/db_connection/mysql.py
  onetl/connection/db_connection/oracle.py
  onetl/connection/db_connection/postgres.py
  onetl/connection/db_connection/teradata.py
  onetl/connection/file_df_connection/spark_s3/connection.py
  onetl/file/format/avro.py
  tests/tests_integration/tests_db_connection_integration/test_teradata_integration.py
  tests/tests_unit/test_file/test_format_unit/test_avro_unit.py
  tests/tests_unit/tests_db_connection_unit/test_greenplum_unit.py
  tests/tests_unit/tests_db_connection_unit/test_mongodb_unit.py
  tests/tests_unit/tests_db_connection_unit/test_mssql_unit.py
  tests/tests_unit/tests_db_connection_unit/test_oracle_unit.py
Due: none

[DOP-7292] - add KafkaSSLProtocol
  onetl/connection/db_connection/kafka/connection.py
  onetl/connection/db_connection/kafka/kafka_ssl_protocol.py
  tests/tests_unit/tests_db_connection_unit/test_kafka_unit.py
Due: none

[DOP-7292] - add abstract method in child class
  onetl/connection/db_connection/kafka/kafka_ssl_protocol.py
  setup.cfg
Due: none

Update onetl/connection/db_connection/kafka/kafka_ssl_protocol.py
  onetl/connection/db_connection/kafka/kafka_ssl_protocol.py
Due: none

[DOP-7292] - updated kafka_ssl_protocol validation
  onetl/connection/db_connection/kafka/connection.py
  onetl/connection/db_connection/kafka/kafka_ssl_protocol.py
  tests/tests_unit/tests_db_connection_unit/test_kafka_unit.py
Due: none

[DOP-7292] - updated tests
  onetl/connection/db_connection/kafka/connection.py
  onetl/connection/db_connection/kafka/kafka_ssl_protocol.py
  tests/tests_unit/tests_db_connection_unit/test_kafka_unit.py
Due: none

[DOP-8132] FileDFWriter.target_path cannot be None
  onetl/file/file_df_writer/file_df_writer.py
Due: none

[DOP-7292] - fixed imports
  onetl/connection/db_connection/kafka/connection.py
Due: none

[DOP-7292] - add KafkaSSLProtocol (#118)
  onetl/connection/db_connection/kafka/connection.py
  onetl/connection/db_connection/kafka/kafka_ssl_protocol.py
  setup.cfg
  tests/tests_unit/tests_db_connection_unit/test_kafka_unit.py
Due: none

[DOP-8112] Log real module, class, function and line number
  onetl/connection/db_connection/db_connection.py
  onetl/connection/db_connection/greenplum.py
  onetl/connection/db_connection/hive.py
  onetl/connection/db_connection/jdbc_connection.py
  onetl/connection/db_connection/jdbc_mixin.py
  onetl/connection/db_connection/kafka/connection.py
  onetl/connection/db_connection/mongodb.py
  onetl/connection/db_connection/oracle.py
  onetl/connection/file_connection/file_connection.py
  onetl/connection/file_df_connection/spark_file_df_connection.py
  onetl/connection/file_df_connection/spark_s3/connection.py
  onetl/core/file_filter/file_filter.py
  onetl/core/file_limit/file_limit.py
  onetl/db/db_reader/db_reader.py
  onetl/db/db_writer/db_writer.py
  onetl/file/file_df_reader/file_df_reader.py
  onetl/file/file_df_writer/file_df_writer.py
  onetl/file/file_downloader/file_downloader.py
  onetl/file/file_mover/file_mover.py
  onetl/file/file_uploader/file_uploader.py
  onetl/hwm/store/base_hwm_store.py
  onetl/log.py
  onetl/plugins/import_plugins.py
  onetl/strategy/base_strategy.py
  onetl/strategy/hwm_strategy.py
  tests/.coveragerc
  tests/tests_integration/tests_db_connection_integration/test_kafka_integration.py
  tests/tests_integration/tests_strategy_integration/tests_incremental_batch_strategy_integration/test_strategy_incremental_batch_kafka.py
  tests/tests_integration/tests_strategy_integration/tests_incremental_strategy_integration/test_strategy_increment_clickhouse.py
Due: core, file
