Repository MobileTeleSystems/onetl: changes, and which Codecov flags are due for each by the changed paths.
All: core, db, clickhouse, greenplum, hive, mongodb, mssql, mysql, oracle, postgres, teradata, file, ftp, ftps, hdfs, s3, sftp, webdav

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 93%
        threshold: 1%

flags:
  core:
    paths:
    - onetl/base/base_connection.py
    - onetl/hwm/**
    - onetl/impl/*model*.py
    - onetl/impl/*options*.py
    - onetl/strategy/**
    - onetl/hooks/**
    - onetl/plugins/**
    - onetl/exception.py
    - onetl/log.py
    - onetl/_internal.py
  db:
    paths:
    - onetl/base/*db*.py
    - onetl/base/*df*.py
    - onetl/core/db*/**
    - onetl/db_connection/db_connection.py
    - onetl/db_connection/dialect_mixins/**
    - onetl/db_connection/jdbc*.py
  clickhouse:
    paths:
    - onetl/db_connection/clickhouse.py
  greenplum:
    paths:
    - onetl/db_connection/greenplum.py
    carryforward: true  # if someone creates pull request from a fork, do not fail if Greenplum coverage is 0%
  hive:
    paths:
    - onetl/db_connection/hive.py
  mongodb:
    paths:
    - onetl/db_connection/mongodb.py
  mssql:
    paths:
    - onetl/db_connection/mongodb.py
  mysql:
    paths:
    - onetl/db_connection/mongodb.py
  oracle:
    paths:
    - onetl/db_connection/oracle.py
  postgres:
    paths:
    - onetl/db_connection/postgres.py
  teradata:
    paths:
    - onetl/db_connection/teradata.py
  file:
    paths:
    - onetl/base/*file*.py
    - onetl/base/*path*.py
    - onetl/base/contains_exception.py
    - onetl/core/file*/**
    - onetl/core/kerberos_helpers.py
    - onetl/file_connection/file_connection.py
    - onetl/impl/*path*.py
    - onetl/impl/*file*.py
    - onetl/impl/*directory*.py
  ftp:
    paths:
    - onetl/file_connection/ftp.py
  ftps:
    paths:
    - onetl/file_connection/ftps.py
  hdfs:
    paths:
    - onetl/file_connection/hdfs.py
  s3:
    paths:
    - onetl/file_connection/s3.py
  sftp:
    paths:
    - onetl/file_connection/sftp.py
  webdav:
    paths:
    - onetl/file_connection/webdav.py
  nightly:
    joined: false

[DOP-2329] Move Kafka connection to submodule
  onetl/connection/db_connection/kafka/__init__.py
  onetl/connection/db_connection/kafka/connection.py
Due: none

[DOP-7051] Update default logging format
  onetl/log.py
Due: core

[DOP-7051] Revert: Update default logging format
  onetl/log.py
Due: core

[DOP-6700] Add BaseFileDFConnection & BaseFileFormat classes
  docs/changelog/next_release/66.breaking.rst
  onetl/VERSION
  onetl/base/__init__.py
  onetl/base/base_db_connection.py
  onetl/base/base_file_df_connection.py
  onetl/base/base_file_format.py
  onetl/connection/db_connection/greenplum.py
  onetl/connection/db_connection/hive.py
  onetl/connection/db_connection/jdbc_connection.py
  onetl/connection/db_connection/kafka/connection.py
  onetl/connection/db_connection/mongodb.py
  onetl/db/db_reader/db_reader.py
  onetl/db/db_writer/db_writer.py
  tests/tests_unit/tests_db_connection_unit/test_greenplum_unit.py
Due: db, file

[DOP-6700] Add BaseFileDFConnection & BaseFileFormat classes (#66)
  docs/changelog/next_release/66.breaking.rst
  onetl/VERSION
  onetl/base/__init__.py
  onetl/base/base_db_connection.py
  onetl/base/base_file_df_connection.py
  onetl/base/base_file_format.py
  onetl/connection/db_connection/greenplum.py
  onetl/connection/db_connection/hive.py
  onetl/connection/db_connection/jdbc_connection.py
  onetl/connection/db_connection/kafka/connection.py
  onetl/connection/db_connection/mongodb.py
  onetl/db/db_reader/db_reader.py
  onetl/db/db_writer/db_writer.py
  tests/tests_unit/tests_db_connection_unit/test_greenplum_unit.py
Due: db, file

[DOP-2349] - Add ReadOptions, WriteOptions for Kafka connection
  onetl/connection/db_connection/kafka/connection.py
  tests/tests_unit/tests_db_connection_unit/test_kafka_unit.py
Due: none

Update onetl/connection/db_connection/kafka/connection.py
  onetl/connection/db_connection/kafka/connection.py
Due: none

[DOP-6705] Add CSV file format
  docs/file/file_filters/base.rst
  docs/file/file_formats/base.rst
  docs/file/file_formats/csv.rst
  docs/file/file_formats/index.rst
  docs/file/index.rst
  onetl/base/base_file_format.py
  onetl/connection/db_connection/mongodb.py
  onetl/file/format/__init__.py
  onetl/file/format/csv.py
  onetl/file/format/file_format.py
  onetl/impl/generic_options.py
  tests/tests_unit/test_file/test_format_unit/test_csv_unit.py
  tests/tests_unit/test_file/test_format_unit/test_file_format_unit.py
Due: core, file

[DOP-2349] - options moved to seperate file
  onetl/connection/db_connection/kafka/connection.py
  onetl/connection/db_connection/kafka/options.py
  tests/tests_unit/tests_db_connection_unit/test_kafka_unit.py
Due: none

[DOP-2349] - updated docstrings in kafka.options
  onetl/connection/db_connection/kafka/options.py
Due: none

[DOP-6705] Add CSV file format (#69)
  docs/file/file_filters/base.rst
  docs/file/file_formats/base.rst
  docs/file/file_formats/csv.rst
  docs/file/file_formats/index.rst
  docs/file/index.rst
  onetl/base/base_file_format.py
  onetl/connection/db_connection/mongodb.py
  onetl/file/format/__init__.py
  onetl/file/format/csv.py
  onetl/file/format/file_format.py
  onetl/impl/generic_options.py
  tests/tests_unit/test_file/test_format_unit/test_csv_unit.py
  tests/tests_unit/test_file/test_format_unit/test_file_format_unit.py
Due: core, file

[DOP-7529] - create class Kafka.Dialect and its tests
  .env.local
  onetl/connection/db_connection/dialect_mixins/__init__.py
  onetl/connection/db_connection/dialect_mixins/support_where_none.py
  onetl/connection/db_connection/kafka/connection.py
  onetl/connection/db_connection/kafka/dialect.py
  tests/tests_unit/test_db/test_db_reader_unit/test_kafka_reader_unit.py
Due: none

[DOP-7529] - create class Kafka.Dialect
  onetl/connection/db_connection/dialect_mixins/__init__.py
  onetl/connection/db_connection/dialect_mixins/support_where_none.py
  tests/tests_unit/test_db/test_db_reader_unit/test_kafka_reader_unit.py
Due: none

[DOP-7529] - create class Kafka.Dialect
  tests/tests_unit/test_db/test_db_reader_unit/test_kafka_reader_unit.py
Due: none

[DOP-7507] Move file_connection fixture files to subdir
  tests/fixtures/connections/base.py
  tests/fixtures/connections/file_connections.py
  tests/fixtures/connections/ftp.py
  tests/fixtures/connections/ftps.py
  tests/fixtures/connections/hdfs.py
  tests/fixtures/connections/s3.py
  tests/fixtures/connections/sftp.py
  tests/fixtures/connections/webdav.py
  tests/fixtures/spark.py
  tests/resources/file_connection/ascii.txt
  tests/resources/file_connection/exclude_dir/excluded1.txt
  tests/resources/file_connection/exclude_dir/nested/excluded2.txt
  tests/resources/file_connection/nested/exclude_dir/excluded3.txt
  tests/resources/file_connection/some.csv
  tests/resources/file_connection/utf-8.txt
  tests/tests_integration/tests_core_integration/test_file_downloader_integration.py
  tests/tests_integration/tests_core_integration/test_file_mover_integration.py
  tests/tests_integration/tests_core_integration/test_file_uploader_integration.py
  tests/tests_integration/tests_file_connection_integration/test_file_connection_common_integration.py
  tests/tests_integration/tests_file_connection_integration/test_s3_file_connection_integration.py
Due: none

[DOP-7507] Move assertions for dataframe from Processing classes
  tests/fixtures/connections/ftp.py
  tests/fixtures/connections/ftps.py
  tests/fixtures/connections/hdfs.py
  tests/fixtures/connections/s3.py
  tests/fixtures/connections/sftp.py
  tests/fixtures/connections/webdav.py
  tests/fixtures/processing/base_processing.py
  tests/fixtures/processing/hive.py
  tests/fixtures/processing/oracle.py
  tests/tests_integration/tests_strategy_integration/test_strategy_incremental_batch.py
  tests/tests_integration/tests_strategy_integration/test_strategy_snapshot.py
  tests/util/__init__.py
  tests/util/assert_df.py
  tests/util/pandas_df.py
  tests/util/to_pandas.py
  tests/util/upload_files.py
Due: none

[DOP-7290] Implement KafkaAuth
  onetl/connection/db_connection/kafka/connection.py
  onetl/connection/db_connection/kafka/i_kafka_auth.py
  onetl/connection/db_connection/kafka/kafka_basic_auth.py
  onetl/connection/db_connection/kafka/kafka_kerberos_auth.py
  tests/tests_integration/tests_db_connection_integration/test_kafka_integration.py
  tests/tests_unit/tests_db_connection_unit/test_kafka_unit.py
Due: none

[DOP-7290] Implement KafkaAuth
  onetl/connection/db_connection/kafka/connection.py
  onetl/connection/db_connection/kafka/dialect.py
  onetl/connection/db_connection/kafka/ikafka_auth.py
  onetl/connection/db_connection/kafka/kafka_basic_auth.py
  onetl/connection/db_connection/kafka/kafka_kerberos_auth.py
  onetl/connection/db_connection/kafka/options.py
Due: none

[DOP-7290] Implement KafkaAuth
  onetl/connection/db_connection/kafka/kafka_kerberos_auth.py
Due: none

[DOP-7290] Implement KafkaAuth
  onetl/connection/db_connection/kafka/ikafka_auth.py
  onetl/connection/db_connection/kafka/kafka_basic_auth.py
  onetl/connection/db_connection/kafka/kafka_kerberos_auth.py
  tests/tests_unit/tests_db_connection_unit/test_kafka_unit.py
Due: none

[DOP-7542] - add validation for hwm_column and hwm_expression in dialects' classes
  onetl/base/base_db_connection.py
  onetl/connection/db_connection/kafka/dialect.py
  onetl/db/db_reader/db_reader.py
  tests/fixtures/spark_mock.py
  tests/tests_unit/test_db/test_db_reader_unit/test_kafka_reader_unit.py
Due: db

[DOP-7290] Implement KafkaAuth
  onetl/connection/db_connection/kafka/kafka_kerberos_auth.py
  tests/tests_unit/tests_db_connection_unit/test_kafka_unit.py
Due: none

[DOP-7290] Implement KafkaAuth
  docs/changelog/next_release/77.feature.rst
Due: none

Update onetl/base/base_db_connection.py
  onetl/base/base_db_connection.py
Due: db

[DOP-7542] - corrected tests and validation for Kafka.Dialect.validate_hwm_column
  onetl/base/base_db_connection.py
  onetl/connection/db_connection/kafka/dialect.py
  onetl/db/db_reader/db_reader.py
  tests/fixtures/spark_mock.py
  tests/tests_unit/test_db/test_db_reader_unit/test_kafka_reader_unit.py
Due: db

[DOP-7542] - add SupportHWMColumnStr mixin
  onetl/connection/db_connection/dialect_mixins/__init__.py
  onetl/connection/db_connection/dialect_mixins/support_hwm_column_str.py
  onetl/connection/db_connection/greenplum.py
  onetl/connection/db_connection/hive.py
  onetl/connection/db_connection/jdbc_connection.py
  onetl/connection/db_connection/mongodb.py
  onetl/connection/db_connection/postgres.py
Due: none
