Repository MobileTeleSystems/onetl: changes, and which Codecov flags are due for each by the changed paths.
All: core, db, clickhouse, greenplum, hive, mongodb, mssql, mysql, oracle, postgres, teradata, file, ftp, ftps, hdfs, s3, sftp, webdav

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 93%
        threshold: 1%

flags:
  core:
    paths:
    - onetl/base/base_connection.py
    - onetl/hwm/**
    - onetl/impl/*model*.py
    - onetl/impl/*options*.py
    - onetl/strategy/**
    - onetl/hooks/**
    - onetl/plugins/**
    - onetl/exception.py
    - onetl/log.py
    - onetl/_internal.py
  db:
    paths:
    - onetl/base/*db*.py
    - onetl/base/*df*.py
    - onetl/core/db*/**
    - onetl/db_connection/db_connection.py
    - onetl/db_connection/dialect_mixins/**
    - onetl/db_connection/jdbc*.py
  clickhouse:
    paths:
    - onetl/db_connection/clickhouse.py
  greenplum:
    paths:
    - onetl/db_connection/greenplum.py
    carryforward: true  # if someone creates pull request from a fork, do not fail if Greenplum coverage is 0%
  hive:
    paths:
    - onetl/db_connection/hive.py
  mongodb:
    paths:
    - onetl/db_connection/mongodb.py
  mssql:
    paths:
    - onetl/db_connection/mongodb.py
  mysql:
    paths:
    - onetl/db_connection/mongodb.py
  oracle:
    paths:
    - onetl/db_connection/oracle.py
  postgres:
    paths:
    - onetl/db_connection/postgres.py
  teradata:
    paths:
    - onetl/db_connection/teradata.py
  file:
    paths:
    - onetl/base/*file*.py
    - onetl/base/*path*.py
    - onetl/base/contains_exception.py
    - onetl/core/file*/**
    - onetl/core/kerberos_helpers.py
    - onetl/file_connection/file_connection.py
    - onetl/impl/*path*.py
    - onetl/impl/*file*.py
    - onetl/impl/*directory*.py
  ftp:
    paths:
    - onetl/file_connection/ftp.py
  ftps:
    paths:
    - onetl/file_connection/ftps.py
  hdfs:
    paths:
    - onetl/file_connection/hdfs.py
  s3:
    paths:
    - onetl/file_connection/s3.py
  sftp:
    paths:
    - onetl/file_connection/sftp.py
  webdav:
    paths:
    - onetl/file_connection/webdav.py
  nightly:
    joined: false

[DOP-7542] - corrected tests and validation for Kafka.Dialect.validate_hwm_column
  onetl/base/base_db_connection.py
  onetl/connection/db_connection/kafka/dialect.py
  onetl/db/db_reader/db_reader.py
  tests/fixtures/spark_mock.py
  tests/tests_unit/test_db/test_db_reader_unit/test_kafka_reader_unit.py
Due: db

[DOP-7542] - add SupportHWMColumnStr mixin
  onetl/connection/db_connection/dialect_mixins/__init__.py
  onetl/connection/db_connection/dialect_mixins/support_hwm_column_str.py
  onetl/connection/db_connection/greenplum.py
  onetl/connection/db_connection/hive.py
  onetl/connection/db_connection/jdbc_connection.py
  onetl/connection/db_connection/mongodb.py
  onetl/connection/db_connection/postgres.py
Due: none

[DOP-7542] - corrected tests for validate_hwm_column
  onetl/db/db_reader/db_reader.py
  tests/tests_unit/test_db/test_db_reader_unit/test_kafka_reader_unit.py
Due: none

[DOP-7289] Implement KafkaProtocol
  onetl/connection/db_connection/kafka/connection.py
  onetl/connection/db_connection/kafka/kafka_auth.py
  onetl/connection/db_connection/kafka/kafka_basic_auth.py
  onetl/connection/db_connection/kafka/kafka_kerberos_auth.py
Due: none

[DOP-7289] Implement KafkaProtocol
  docs/changelog/next_release/79.feature.rst
Due: none

[DOP-7289] Implement KafkaProtocol
  onetl/connection/db_connection/kafka/connection.py
  onetl/connection/db_connection/kafka/kafka_plaintext_protocol.py
  onetl/connection/db_connection/kafka/kafka_protocol.py
Due: none

[DOP-7289] Implement KafkaProtocol
  onetl/connection/db_connection/kafka/connection.py
Due: none

[DOP-7289] Implement KafkaProtocol
  onetl/connection/db_connection/kafka/connection.py
  onetl/connection/db_connection/kafka/ikafka_protocol.py
  onetl/connection/db_connection/kafka/kafka_plaintext_protocol.py
  tests/tests_unit/tests_db_connection_unit/test_kafka_unit.py
Due: none

[DOP-6706] Implement FileWriter
  docs/file_df/file_writer/file_writer.rst
  docs/file_df/file_writer/index.rst
  docs/file_df/file_writer/options.rst
  docs/file_df/index.rst
  onetl/_util/__init__.py
  onetl/_util/spark.py
  onetl/base/__init__.py
  onetl/base/base_file_df_connection.py
  onetl/base/base_file_format.py
  onetl/connection/db_connection/hive.py
  onetl/connection/file_df_connection/spark_file_df_connection.py
  onetl/file/file_reader/file_reader.py
  onetl/file/file_writer/__init__.py
  onetl/file/file_writer/file_writer.py
  onetl/file/file_writer/options.py
  tests/tests_integration/test_file_format_integration/test_csv_integration.py
  tests/tests_integration/tests_core_integration/test_file_writer_integration.py
  tests/tests_unit/test_file/test_file_writer_unit.py
  tests/tests_unit/tests_db_connection_unit/test_hive_unit.py
Due: db, file

[DOP-7633] Improve generate_files.py
  .github/workflows/data/file-df/tracked.txt
  .github/workflows/data/file/tracked.txt
  tests/resources/file_df_connection/csv/nested/some/path/for_val1.csv
  tests/resources/file_df_connection/csv/nested/some/path/more/even_more/for_val3.csv
  tests/resources/file_df_connection/csv/nested/some/path/more/for_val2.csv
  tests/resources/file_df_connection/csv/partitioned/str_value=val1/file.csv
  tests/resources/file_df_connection/csv/partitioned/str_value=val2/file.csv
  tests/resources/file_df_connection/csv/partitioned/str_value=val3/file.csv
  tests/resources/file_df_connection/csv/with_compression/file.csv.gz
  tests/resources/file_df_connection/csv/with_delimiter/file.csv
  tests/resources/file_df_connection/csv/with_header/file.csv
  tests/resources/file_df_connection/csv/without_header/file.csv
  tests/resources/file_df_connection/generate_files.py
  tests/resources/generate_files.py
Due: none

[DOP-7291] - created class Extra for validatoin extra options for Kafka connection
  onetl/connection/db_connection/kafka/connection.py
  onetl/connection/db_connection/kafka/extra.py
  onetl/impl/generic_options.py
  tests/tests_unit/tests_db_connection_unit/test_kafka_unit.py
Due: core

[DOP-7291] - updated docstring
  onetl/connection/db_connection/kafka/connection.py
  onetl/impl/generic_options.py
Due: core

[DOP-6709] Implement JSON and JSONLine formats
  .pre-commit-config.yaml
  docs/file_df/file_formats/base.rst
  docs/file_df/file_formats/index.rst
  docs/file_df/file_formats/json.rst
  docs/file_df/file_formats/jsonline.rst
  onetl/base/__init__.py
  onetl/base/base_file_df_connection.py
  onetl/base/base_file_format.py
  onetl/connection/file_df_connection/spark_file_df_connection.py
  onetl/connection/file_df_connection/spark_local_fs.py
  onetl/file/file_reader/file_reader.py
  onetl/file/file_writer/file_writer.py
  onetl/file/format/__init__.py
  onetl/file/format/file_format.py
  onetl/file/format/json.py
  onetl/file/format/jsonline.py
  requirements/dev.txt
  requirements/docs.txt
  tests/resources/file_df_connection/generate_files.py
  tests/resources/file_df_connection/json/with_compression/file.json.gz
  tests/resources/file_df_connection/json/without_compression/file.json
  tests/resources/file_df_connection/jsonline/with_compression/file.jsonl.gz
  tests/resources/file_df_connection/jsonline/without_compression/file.jsonl
  tests/tests_integration/test_file_format_integration/test_json_integration.py
  tests/tests_integration/test_file_format_integration/test_jsonline_integration.py
  tests/tests_unit/test_file/test_format_unit/test_json_unit.py
  tests/tests_unit/test_file/test_format_unit/test_jsonline_unit.py
Due: db, file

[DOP-7291] - updated tests
  onetl/connection/db_connection/kafka/connection.py
  onetl/connection/db_connection/kafka/extra.py
  onetl/impl/generic_options.py
  tests/tests_unit/tests_db_connection_unit/test_kafka_unit.py
Due: core

Update onetl/impl/generic_options.py
  onetl/impl/generic_options.py
Due: core

Update tests/tests_unit/tests_db_connection_unit/test_kafka_unit.py
  tests/tests_unit/tests_db_connection_unit/test_kafka_unit.py
Due: none

[DOP-7291] - updated tests
  onetl/impl/generic_options.py
  tests/tests_unit/tests_db_connection_unit/test_kafka_unit.py
Due: core

[DOP-7291] - updated tests
  onetl/connection/db_connection/kafka/connection.py
  tests/tests_unit/tests_db_connection_unit/test_kafka_unit.py
Due: none

[DOP-7291] - updated documentation
  onetl/connection/db_connection/kafka/connection.py
Due: none

[DOP-7291] - updated documentation
  onetl/connection/db_connection/kafka/connection.py
  onetl/connection/db_connection/kafka/extra.py
Due: none

[DOP-7675] Add utility functions for Spark & Java
  onetl/_internal.py
  onetl/_util/java.py
  onetl/_util/scala.py
  onetl/_util/spark.py
  onetl/_util/version.py
  onetl/connection/db_connection/db_connection.py
  onetl/connection/db_connection/greenplum.py
  onetl/connection/db_connection/hive.py
  onetl/connection/db_connection/jdbc_connection.py
  onetl/connection/db_connection/jdbc_mixin.py
  onetl/connection/db_connection/kafka/connection.py
  onetl/connection/db_connection/kafka/dialect.py
  onetl/connection/db_connection/kafka/kafka_kerberos_auth.py
  onetl/connection/db_connection/mongodb.py
  onetl/connection/db_connection/oracle.py
  onetl/connection/file_df_connection/spark_file_df_connection.py
  onetl/db/db_reader/db_reader.py
  onetl/file/file_downloader/file_downloader.py
  onetl/file/file_reader/file_reader.py
  onetl/file/file_reader/options.py
  onetl/file/file_uploader/file_uploader.py
  onetl/file/file_writer/options.py
  pytest.ini
  setup.cfg
  tests/fixtures/spark.py
  tests/tests_integration/test_file_format_integration/test_csv_integration.py
  tests/tests_integration/tests_core_integration/test_file_reader_integration.py
  tests/tests_integration/tests_core_integration/tests_db_writer_integration/test_hive_writer_integration.py
  tests/tests_integration/tests_db_connection_integration/test_hive_integration.py
  tests/tests_unit/test_internal_unit/test_generate_temp_path.py
  tests/tests_unit/test_internal_unit/test_get_sql_query.py
  tests/tests_unit/tests_db_connection_unit/test_jdbc_options_unit.py
Due: core

[DOP-6710] Add ORC file format support
  docs/file_df/file_formats/index.rst
  docs/file_df/file_formats/orc.rst
  onetl/connection/db_connection/greenplum.py
  onetl/connection/db_connection/hive.py
  onetl/connection/db_connection/jdbc_connection.py
  onetl/connection/db_connection/kafka/options.py
  onetl/connection/db_connection/mongodb.py
  onetl/file/file_reader/options.py
  onetl/file/file_writer/options.py
  onetl/file/format/__init__.py
  onetl/file/format/csv.py
  onetl/file/format/json.py
  onetl/file/format/orc.py
  tests/resources/file_df_connection/generate_files.py
  tests/resources/file_df_connection/orc/with_compression/file.snappy.orc
  tests/resources/file_df_connection/orc/without_compression/file.orc
  tests/resources/requirements.txt
  tests/tests_integration/test_file_format_integration/test_orc_integration.py
  tests/tests_unit/test_file/test_format_unit/test_orc_unit.py
  tests/tests_unit/tests_db_connection_unit/test_kafka_unit.py
Due: none

[DOP-6711] Add Parquet file format support
  docs/file_df/file_formats/index.rst
  docs/file_df/file_formats/parquet.rst
  onetl/file/format/__init__.py
  onetl/file/format/parquet.py
  tests/resources/file_df_connection/generate_files.py
  tests/resources/file_df_connection/parquet/with_compression/file.snappy.parquet
  tests/resources/file_df_connection/parquet/without_compression/file.parquet
  tests/tests_integration/test_file_format_integration/test_csv_integration.py
  tests/tests_integration/test_file_format_integration/test_jsonline_integration.py
  tests/tests_integration/test_file_format_integration/test_orc_integration.py
  tests/tests_integration/test_file_format_integration/test_parquet_integration.py
  tests/tests_unit/test_file/test_format_unit/test_csv_unit.py
  tests/tests_unit/test_file/test_format_unit/test_parquet_unit.py
Due: none

[DOP-2347] - restrict BatchHWMStrategy for Kafka
  onetl/base/__init__.py
  onetl/base/base_db_connection.py
  onetl/base/contains_get_min_max_bounds.py
  onetl/connection/db_connection/kafka/connection.py
  onetl/db/db_reader/db_reader.py
  onetl/strategy/incremental_strategy.py
  onetl/strategy/snapshot_strategy.py
  tests/tests_unit/test_db/test_db_reader_unit/test_kafka_reader_unit.py
Due: core, db

Update tests/tests_unit/test_db/test_db_reader_unit/test_kafka_reader_unit.py
  tests/tests_unit/test_db/test_db_reader_unit/test_kafka_reader_unit.py
Due: none

[DOP-2347] - updated documentation
  onetl/connection/db_connection/kafka/connection.py
  onetl/strategy/incremental_strategy.py
  onetl/strategy/snapshot_strategy.py
Due: core

Update onetl/strategy/incremental_strategy.py
  onetl/strategy/incremental_strategy.py
Due: core

[DOP-2347] - updated documentation
  onetl/strategy/snapshot_strategy.py
Due: core

[DOP-2350] Implement Kafka read df
  docker-compose.yml
  docker/Dockerfile
  onetl/connection/db_connection/kafka/connection.py
  requirements/tests/kafka.txt
  tests/tests_integration/tests_db_connection_integration/test_kafka_integration.py
Due: none

[DOP-2350] Implement Kafka read df
  onetl/connection/db_connection/kafka/connection.py
  tests/fixtures/kafka_producer.py
  tests/fixtures/processing/fixtures.py
  tests/fixtures/processing/kafka.py
  tests/fixtures/spark.py
  tests/tests_integration/tests_db_connection_integration/test_kafka_integration.py
  tests/tests_unit/tests_db_connection_unit/test_kafka_unit.py
Due: none

[DOP-2350] Implement Kafka read df
  onetl/connection/db_connection/kafka/connection.py
  tests/fixtures/kafka_producer.py
  tests/fixtures/spark.py
  tests/tests_integration/tests_db_connection_integration/test_kafka_integration.py
  tests/tests_unit/tests_db_connection_unit/test_kafka_unit.py
Due: none
